Repository JetBrains/kotlin, pull requests merged in 2018-12, with the labels that each got.

#1866 Remove CandidateWithBoundDispatchReceiverImpl
  compiler/resolution/src/org/jetbrains/kotlin/resolve/calls/tower/ImplicitScopeTower.kt
  compiler/resolution/src/org/jetbrains/kotlin/resolve/calls/tower/InvokeProcessors.kt
  compiler/resolution/src/org/jetbrains/kotlin/resolve/calls/tower/TowerLevels.kt
  compiler/resolution/src/org/jetbrains/kotlin/resolve/calls/tower/TowerUtils.kt
Labels: Compiler, Refactoring

#1850 Remove useless parameter
  compiler/frontend/src/org/jetbrains/kotlin/resolve/calls/tower/NewResolutionOldInference.kt
Labels: Compiler, Refactoring

#2008 KT-20357: Add samples for commonPrefixWith and commonSuffixWith
  libraries/stdlib/samples/test/samples/text/strings.kt
  libraries/stdlib/src/kotlin/text/Strings.kt
Labels: Standard Library Sample

#2025 KT-12273 "Replace with operator" intention is suggested for some non-operator functions and produces invalid code
  idea/src/org/jetbrains/kotlin/idea/inspections/conventionNameCalls/ReplaceCallWithBinaryOperatorInspection.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/Utils.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/conventionNameCalls/ReplaceContainsIntention.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/compareToFromJava.1.java
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/compareToFromJava.1.java.after
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/compareToFromJava.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/compareToFromJava.kt.after
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/notOperatorCompareTo.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/notOperatorPlus.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/plusFromJava.1.java
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/plusFromJava.1.java.after
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/plusFromJava.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/plusFromJava.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2037 Add ConvertToAlsoIntention to plugin-common.xml
  idea/resources/META-INF/plugin-common.xml
Labels: Inspections

#2023 Add documentation on how merging works for toMap() for Iterables, Arrays and Sequences
  libraries/stdlib/src/kotlin/collections/Maps.kt
Labels: Standard Library

#2040 KT-28592 False positive "Remove redundant backticks" for underscore variable name
  idea/src/org/jetbrains/kotlin/idea/inspections/RemoveRedundantBackticksInspection.kt
  idea/testData/inspectionsLocal/removeRedundantBackticks/underscore.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2032 KT-17119 Inspection for (Scala-like) `= { ... }` syntax without expected type in function definition
  idea/resources/META-INF/plugin-common.xml
  idea/resources/inspectionDescriptions/FunctionWithLambdaExpressionBody.html
  idea/src/org/jetbrains/kotlin/idea/inspections/FunctionWithLambdaExpressionBodyInspection.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/SpecifyExplicitLambdaSignatureIntention.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/.inspection
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/addArrow/function.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/addArrow/function.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/addArrow/getter.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/addArrow/getter.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/functionHasArrow.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/functionHasLabel.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/functionHasNoExpressionBody.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/functionHasNoLambda.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/functionHasType.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/getterHasArrow.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/getterHasLabel.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/getterHasNoLambda.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/getterHasType.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/getterHasType2.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/function.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/function.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/functionReturnsNothing.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/functionReturnsNothing.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/getter.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/getter.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/getterReturnsNothing.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/getterReturnsNothing.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/specifyType/function.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/specifyType/function.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/specifyType/getter.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/specifyType/getter.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/function.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/function.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/functionReturnsNothing.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/functionReturnsNothing.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/getter.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/getter.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/getterReturnsNothing.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/getterReturnsNothing.kt.after
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/functionHasComment.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/functionHasMultiStatements.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/functionHasNoStatement.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/funtionIsUsed.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/getterHasComment.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/getterHasMultiStatements.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/getterHasNoStatement.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/removeBraces/getterIsUsed.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/wrapRun/funtionIsUsed.kt
  idea/testData/quickfix/functionWithLambdaExpressionBody/wrapRun/getterIsUsed.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixMultiFileTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2010 #KT-27670 Add quick fix: wrap expression in a lambda if compatible functional type is required
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/SurroundWithLambdaFix.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatch.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatch.kt.after
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchInt.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchInt.kt.after
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchNullable.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchNullable.kt.after
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchSubclass.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchSubclass.kt.after
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMismatch.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMismatchNull.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2031 Error on calling suspend functions inside Lock.withLock body
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/checkers/SuspensionPointInsideMutexLockChecker.kt
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/diagnostics/DefaultErrorMessagesJvm.java
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/diagnostics/ErrorsJvm.java
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/platform/JvmPlatformConfigurator.kt
  compiler/testData/cli/jvm/suspensionPointInMonitor.out
  compiler/testData/diagnostics/testsWithStdLib/coroutines/suspensionPointInMonitor.kt
  compiler/testData/diagnostics/testsWithStdLib/coroutines/suspensionPointInMonitorNewInf.kt
Labels: Compiler
