Repository JetBrains/kotlin, pull requests merged in 2019-01, with the labels that each got.

#2049 JVM IR: simplify chains of negations in if conditions.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLoweringPhases.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/NegatedExpressionLowering.kt
  compiler/testData/codegen/bytecodeText/lazyCodegen/negateVarChain.kt
Labels: Backend

#2045 KT-28773 Kotlin/JS: Wrong inspection to replace .equals() with == on dynamic values
  idea/src/org/jetbrains/kotlin/idea/inspections/conventionNameCalls/ReplaceCallWithBinaryOperatorInspection.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/dynamicEquals.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/dynamicEquals.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2027 Update JavaSdkUtil.java
  compiler/util/src/org/jetbrains/kotlin/utils/JavaSdkUtil.java
Labels: Compiler

#2069 JVM_IR: Generate better code for null checks.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmBuiltinOptimizationLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
  compiler/testData/codegen/box/classes/kt496.kt
  compiler/testData/codegen/box/controlStructures/tryCatchInExpressions/splitTryCorner1.kt
  compiler/testData/codegen/box/deadCodeElimination/kt14357.kt
  compiler/testData/codegen/box/finally/finallyAndFinally.kt
  compiler/testData/codegen/boxInline/nonLocalReturns/tryFinally/exceptionTable/nestedWithReturnsSimple.kt
  compiler/testData/codegen/bytecodeText/deadCodeElimination/kt14357.kt
  compiler/testData/codegen/bytecodeText/exclExcl/primitive.kt
  compiler/testData/codegen/bytecodeText/when/whenNull.kt
  compiler/testData/lineNumber/custom/primitiveNullChecks.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/IrBytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LineNumberTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrLineNumberTestGenerated.java
Labels: Backend

#2071 KT-28081 "Convert to lambda" changes expression type for interface with multiple supertypes
  idea/src/org/jetbrains/kotlin/idea/intentions/ObjectLiteralToLambdaIntention.kt
  idea/testData/inspectionsLocal/objectLiteralToLambda/.inspection
  idea/testData/inspectionsLocal/objectLiteralToLambda/notMatchFunctionParameterType.1.java
  idea/testData/inspectionsLocal/objectLiteralToLambda/notMatchFunctionParameterType.1.java.after
  idea/testData/inspectionsLocal/objectLiteralToLambda/notMatchFunctionParameterType.kt
  idea/testData/inspectionsLocal/objectLiteralToLambda/notMatchFunctionParameterType.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2067 KT-29238 Non-canonical modifiers order inspection incorrectly includes annotations into range
  idea/src/org/jetbrains/kotlin/idea/inspections/SortModifiersInspection.kt
  idea/testData/inspectionsLocal/sortModifiers/annotatedBefore2.kt
  idea/testData/inspectionsLocal/sortModifiers/annotation2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2053 KT-28953 Add intention to add underscores to decimal numerical literal
  idea/resources/META-INF/plugin-common.xml
  idea/resources/intentionDescriptions/AddUnderscoresToNumericLiteralIntention/after.kt.template
  idea/resources/intentionDescriptions/AddUnderscoresToNumericLiteralIntention/before.kt.template
  idea/resources/intentionDescriptions/AddUnderscoresToNumericLiteralIntention/description.html
  idea/resources/intentionDescriptions/RemoveUnderscoresFromNumericLiteralIntention/after.kt.template
  idea/resources/intentionDescriptions/RemoveUnderscoresFromNumericLiteralIntention/before.kt.template
  idea/resources/intentionDescriptions/RemoveUnderscoresFromNumericLiteralIntention/description.html
  idea/src/org/jetbrains/kotlin/idea/intentions/UnderscoresInNumericLiteralIntention.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/.intention
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/binaries.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/double.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/double.kt.after
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/float.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/float.kt.after
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/hexadecimals.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/int.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/int.kt.after
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/int2.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/long.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/long.kt.after
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/uInt.kt
  idea/testData/intentions/underscoresInNumericLiteral/addUnderscores/uInt.kt.after
  idea/testData/intentions/underscoresInNumericLiteral/removeUnderscores/.intention
  idea/testData/intentions/underscoresInNumericLiteral/removeUnderscores/int.kt
  idea/testData/intentions/underscoresInNumericLiteral/removeUnderscores/int.kt.after
  idea/testData/intentions/underscoresInNumericLiteral/removeUnderscores/noUnderscores.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2073 KT-28131 False positive "Redundant lambda arrow" with a functional type argument
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantLambdaArrowInspection.kt
  idea/testData/inspectionsLocal/redundantLambdaArrow/typeParameter.kt
  idea/testData/inspectionsLocal/redundantLambdaArrow/typeParameter2.kt
  idea/testData/inspectionsLocal/redundantLambdaArrow/typeParameter3.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2052 KT-27869: Convert Java to Kotlin dialog ask yes/no question but shows OK/Cancel buttons
  idea/src/org/jetbrains/kotlin/idea/actions/JavaToKotlinAction.kt
  idea/src/org/jetbrains/kotlin/idea/actions/JavaToKotlinAction.kt.181
  idea/src/org/jetbrains/kotlin/idea/actions/JavaToKotlinAction.kt.as32
Labels: J2K

#2083 JVM_IR: Fix codegeneration for missing branches.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/bytecodeText/boxingOptimization/maxMinBy.kt
  compiler/testData/lineNumber/if.kt
Labels: Backend
