Repository JetBrains/kotlin, pull requests merged in 2019-05, with the labels that each got.

#2280 Generate accessors for super calls if necessary
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/box/closures/kt11634.kt
  compiler/testData/codegen/box/closures/kt11634_2.kt
  compiler/testData/codegen/box/closures/kt11634_3.kt
  compiler/testData/codegen/box/closures/kt11634_4.kt
  compiler/testData/codegen/box/jvm8/defaults/privateInDefaultImpls.kt
  compiler/testData/codegen/box/jvm8/kt11969.kt
  compiler/testData/codegen/box/reflection/enclosing/kt11969.kt
  compiler/testData/codegen/box/regressions/kt13381.kt
  compiler/testData/codegen/box/super/enclosedFun.kt
  compiler/testData/codegen/box/super/enclosedVar.kt
  compiler/testData/codegen/box/super/innerClassLabeledSuper2.kt
  compiler/testData/codegen/box/super/innerClassLabeledSuperProperty.kt
  compiler/testData/codegen/box/super/innerClassLabeledSuperProperty2.kt
  compiler/testData/codegen/box/super/innerClassQualifiedFunctionCall.kt
  compiler/testData/codegen/box/super/innerClassQualifiedPropertyAccess.kt
  compiler/testData/codegen/box/super/kt3492ClassFun.kt
  compiler/testData/codegen/box/super/kt3492ClassProperty.kt
  compiler/testData/codegen/box/super/kt3492TraitFun.kt
  compiler/testData/codegen/box/super/kt3492TraitProperty.kt
  compiler/testData/codegen/box/traits/privateInterfaceMethod.kt
  compiler/testData/codegen/box/traits/syntheticAccessor.kt
  compiler/testData/codegen/box/traits/traitWithPrivateExtension.kt
  compiler/testData/codegen/box/traits/traitWithPrivateMember.kt
  compiler/testData/codegen/box/traits/traitWithPrivateMemberAccessFromLambda.kt
Labels: Backend

#2212 KT-26629 Inspection to replace `==` operator on Double.NaN with `equals` call
  idea/resources/META-INF/plugin-common.xml
  idea/resources/inspectionDescriptions/ConvertNaNEquality.html
  idea/src/org/jetbrains/kotlin/idea/inspections/ConvertNaNEqualityInspection.kt
  idea/testData/inspectionsLocal/convertNaNEquality/.inspection
  idea/testData/inspectionsLocal/convertNaNEquality/float.kt
  idea/testData/inspectionsLocal/convertNaNEquality/float.kt.after
  idea/testData/inspectionsLocal/convertNaNEquality/importedProperty.kt
  idea/testData/inspectionsLocal/convertNaNEquality/importedProperty.kt.after
  idea/testData/inspectionsLocal/convertNaNEquality/inequality.kt
  idea/testData/inspectionsLocal/convertNaNEquality/inequality.kt.after
  idea/testData/inspectionsLocal/convertNaNEquality/javaDouble.kt
  idea/testData/inspectionsLocal/convertNaNEquality/javaDouble.kt.after
  idea/testData/inspectionsLocal/convertNaNEquality/javaFloatNaN.kt
  idea/testData/inspectionsLocal/convertNaNEquality/javaFloatNaN.kt.after
  idea/testData/inspectionsLocal/convertNaNEquality/negative.kt
  idea/testData/inspectionsLocal/convertNaNEquality/simple.kt
  idea/testData/inspectionsLocal/convertNaNEquality/simple.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2328 KT-31404 Redundant 'requireNotNull' or 'checkNotNull' inspection: don't remove first argument
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantRequireNotNullCallInspection.kt
  idea/testData/inspectionsLocal/redundantRequireNotNullCall/usedAsExpression.kt
  idea/testData/inspectionsLocal/redundantRequireNotNullCall/usedAsExpression.kt.after
  idea/testData/inspectionsLocal/redundantRequireNotNullCall/usedAsExpression2.kt
  idea/testData/inspectionsLocal/redundantRequireNotNullCall/usedAsExpression2.kt.after
  idea/testData/inspectionsLocal/redundantRequireNotNullCall/usedAsExpression3.kt
  idea/testData/inspectionsLocal/redundantRequireNotNullCall/usedAsExpression3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2253 KT-30481 Do not report ImplicitNullableNothingType on a function/property that overrides a function/property of type 'Nothing?'
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/psiModificationUtils.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/ImplicitNullableNothingTypeInspection.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/.inspection
  idea/testData/inspectionsLocal/implicitNullableNothingType/final.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/function.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/function.kt.after
  idea/testData/inspectionsLocal/implicitNullableNothingType/overrideFunction.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/overrideFunction.kt.after
  idea/testData/inspectionsLocal/implicitNullableNothingType/overrideNullableNothingFunction.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/overrideNullableNothingProperty.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/overrideProperty.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/overrideProperty.kt.after
  idea/testData/inspectionsLocal/implicitNullableNothingType/top.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/val.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/variable.kt
  idea/testData/inspectionsLocal/implicitNullableNothingType/variable.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2302 Use spaces instead of tabs to indent -Xlist-phases.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/phaser/PhaseConfig.kt
Labels: Backend

#2324 JVM: Generate LVT entry for this in @JvmOverload methods.
  compiler/backend/src/org/jetbrains/kotlin/codegen/DefaultParameterValueSubstitutor.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmOverloadsAnnotationLowering.kt
  compiler/testData/checkLocalVariablesTable/jvmOverloads.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/AbstractCheckLocalVariablesTableTest.kt
Labels: Backend

#2290 IR lowering for computing trimIndent/trimMargin on constants
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/StringTrimLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/testData/codegen/bytecodeText/intrinsicsTrim/trimIndentPositive.kt
  compiler/testData/codegen/bytecodeText/intrinsicsTrim/trimMarginPositive.kt
Labels: Backend

#2336 KT-12567 "Introduce 'when' subject" intention does not work for "this" in extension function
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/branchedTransformationUtils.kt
  idea/testData/inspectionsLocal/branched/introduceWhenSubject/this.kt
  idea/testData/inspectionsLocal/branched/introduceWhenSubject/this.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2342 Move jvm specific phases to JvmLower
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/InnerClassesLowering.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LateinitLowering.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
Labels: Backend

#2329 JVM_IR: support references to Java fields
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PropertyReferenceLowering.kt
  compiler/testData/codegen/box/reflection/annotations/annotationsOnJavaMembers.kt
  compiler/testData/codegen/box/reflection/call/bound/javaInstanceField.kt
  compiler/testData/codegen/box/reflection/properties/javaPropertyInheritedInKotlin.kt
  compiler/testData/codegen/box/reflection/properties/javaStaticField.kt
  compiler/testData/codegen/box/reflection/properties/noConflictOnKotlinGetterAndJavaField.kt
  compiler/testData/codegen/box/reflection/properties/referenceToJavaFieldOfKotlinSubclass.kt
  compiler/testData/codegen/boxAgainstJava/callableReference/publicFinalField.kt
  compiler/testData/codegen/boxAgainstJava/callableReference/publicMutableField.kt
  compiler/testData/codegen/boxAgainstJava/reflection/mapping/javaFields.kt
  compiler/testData/codegen/boxAgainstJava/reflection/properties/equalsHashCodeToString.kt
Labels: Backend

#2343 JVM_IR: No EnclosingMethod attribute for member classes.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/testData/codegen/box/reflection/enclosing/localClassInTopLevelFunction.kt
  compiler/testData/compileJavaAgainstKotlin/class/ClassObject.kt
  compiler/testData/compileJavaAgainstKotlin/method/TraitImpl.kt
Labels: Backend

#2311 Fix type of super
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Clone.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/ArgumentsGenerationUtils.kt
  compiler/testData/ir/irText/classes/qualifiedSuperCalls.txt
  compiler/testData/ir/irText/classes/superCalls.fir.txt
  compiler/testData/ir/irText/classes/superCalls.kt
  compiler/testData/ir/irText/classes/superCalls.txt
Labels: Backend

#2347 JVM_IR: Support @JvmSynthetic annotations.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/testData/codegen/box/annotations/jvmAnnotationFlags.kt
Labels: Backend

#2340 Fix type parameters in WrappedClassConstructorDescriptor
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/descriptors/WrappedDescriptors.kt
  compiler/testData/ir/irText/classes/delegatingConstructorCallToTypeAliasConstructor.fir.txt
  compiler/testData/ir/irText/declarations/fakeOverrides.fir.txt
  compiler/testData/ir/irText/declarations/parameters/constructor.fir.txt
  compiler/testData/ir/irText/declarations/parameters/typeParameterBoundedBySubclass.fir.txt
  compiler/testData/ir/irText/stubs/genericClassInDifferentModule_m2.fir.txt
Labels: Backend

#2346 KT-31443 Remove braces intention places caret in a wrong place
  idea/src/org/jetbrains/kotlin/idea/intentions/RemoveBracesIntention.kt
  idea/testData/intentions/removeBraces/elseInDotQualifiedExpression.kt.after
  idea/testData/intentions/removeBraces/elseInPlusAssignExpression.kt
  idea/testData/intentions/removeBraces/elseInPlusAssignExpression.kt.after
  idea/testData/intentions/removeBraces/for.kt.after
  idea/testData/intentions/removeBraces/forWithLocalVariable.kt
  idea/testData/intentions/removeBraces/if.kt.after
Labels: Inspections

#2349 KT-25465 "Redundant 'suspend' modifier" with suspend operator invoke
  idea/src/org/jetbrains/kotlin/idea/highlighter/KotlinSuspendCallLineMarkerProvider.kt
  idea/testData/inspections/redundantSuspendModifier/operators.kt
Labels: Inspections

#2337 KT-29192 "Convert property to function" with explicit generic type loses getter body
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertPropertyToFunctionIntention.kt
  idea/testData/intentions/convertPropertyToFunction/expressionBodyWithGenericType.kt
  idea/testData/intentions/convertPropertyToFunction/expressionBodyWithGenericType.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2331 MoveCompanionObjectFields: handle more cases
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/MoveCompanionObjectFieldsLowering.kt
  compiler/testData/codegen/box/annotations/annotationWithKotlinPropertyFromInterfaceCompanion.kt
  compiler/testData/codegen/box/annotations/constValInAnnotation.kt
  compiler/testData/codegen/box/classes/interfaceCompanionInitializationWithJava.kt
  compiler/testData/codegen/box/properties/companionObjectPropertiesFromJava.kt
  compiler/testData/codegen/box/properties/const/interfaceCompanion.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/AnnotationTrait.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/staticTraitProperty.kt
Labels: Backend

#2338 KT-14369 "Replace elvis expression with 'if" intention produces boilerplate code for 'return' in RHS
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/ElvisToIfThenIntention.kt
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndBreak.kt
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndBreak.kt.after
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndContinue.kt
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndContinue.kt.after
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndReturn.kt
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndReturn.kt.after
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndThrow.kt
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndThrow.kt.after
  idea/testData/intentions/branched/elvisToIfThen/safeCastAndReturn.kt
  idea/testData/intentions/branched/elvisToIfThen/safeCastAndReturn.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2352 Remove imports of javafx from Gradle build files
  compiler/daemon/daemon-common-new/build.gradle.kts
  compiler/daemon/daemon-common/build.gradle.kts
Labels: Tools

#2314 Add map() documentation sample
  libraries/stdlib/common/src/generated/_Arrays.kt
  libraries/stdlib/common/src/generated/_Collections.kt
  libraries/stdlib/common/src/generated/_Maps.kt
  libraries/stdlib/common/src/generated/_Sequences.kt
  libraries/stdlib/common/src/generated/_Strings.kt
  libraries/stdlib/common/src/generated/_UArrays.kt
  libraries/stdlib/samples/test/samples/collections/collections.kt
  libraries/stdlib/samples/test/samples/collections/maps.kt
  libraries/stdlib/samples/test/samples/text/strings.kt
  libraries/tools/kotlin-stdlib-gen/src/templates/Mapping.kt
Labels: Standard Library Sample

#2296 Implement stub methods generation for Kotlin Immutable Collection cla…
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/Ir.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/util/IrTypeUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CollectionStubMethodLowering.kt
  compiler/testData/codegen/box/builtinStubMethods/Collection.kt
  compiler/testData/codegen/box/builtinStubMethods/List.kt
  compiler/testData/codegen/box/builtinStubMethods/ListIterator.kt
  compiler/testData/codegen/box/builtinStubMethods/ListWithAllImplementations.kt
  compiler/testData/codegen/box/builtinStubMethods/ListWithAllInheritedImplementations.kt
  compiler/testData/codegen/box/builtinStubMethods/Map.kt
  compiler/testData/codegen/box/builtinStubMethods/MapEntry.kt
  compiler/testData/codegen/box/builtinStubMethods/SubstitutedList.kt
  compiler/testData/codegen/box/builtinStubMethods/delegationToArrayList.kt
  compiler/testData/codegen/box/builtinStubMethods/immutableRemove.kt
  compiler/testData/codegen/box/builtinStubMethods/implementationInTrait.kt
  compiler/testData/codegen/box/builtinStubMethods/inheritedImplementations.kt
  compiler/testData/codegen/box/builtinStubMethods/manyTypeParametersWithUpperBounds.kt
  compiler/testData/codegen/box/builtinStubMethods/mapRemove/readOnlyMap.kt
  compiler/testData/codegen/box/builtinStubMethods/nonTrivialSubstitution.kt
  compiler/testData/codegen/box/builtinStubMethods/substitutedListWithExtraSuperInterface.kt
  compiler/testData/codegen/box/collections/noStubsInJavaSuperClass.kt
Labels: Backend

#2355 JVM_IR: generate non-null assertions for arguments
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/DeclarationOrigins.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/descriptors/JvmDeclarationFactory.kt
  compiler/testData/codegen/box/builtinStubMethods/mapGetOrDefault/noTypeSafeBridge.kt
  compiler/testData/codegen/box/javaInterop/notNullAssertions/extensionReceiverParameter.kt
  compiler/testData/codegen/box/javaInterop/notNullAssertions/incWithNullabilityAssertionOnExtensionReceiver_lv11.kt
  compiler/testData/codegen/box/javaInterop/notNullAssertions/incWithNullabilityAssertionOnExtensionReceiver_lv12.kt
  compiler/testData/codegen/box/javaInterop/notNullAssertions/nullabilityAssertionOnExtensionReceiver_lv11.kt
  compiler/testData/codegen/box/specialBuiltins/emptyMap.kt
  compiler/testData/codegen/bytecodeText/inlineClasses/noAssertionsForInlineClassesBasedOnNullableTypes.kt
  compiler/testData/codegen/bytecodeText/nullCheckOptimization/notNullAsNotNullable.kt
  compiler/testData/codegen/bytecodeText/nullCheckOptimization/redundantSafeCall.kt
Labels: Backend

#2356 Use FQ names for string plus intrinsic in FlattenStringConcatenationLowering
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/FlattenStringConcatenationLowering.kt
Labels: Backend

#2341 Fix test for static default methods in KotlinTypeMapper
  compiler/backend/src/org/jetbrains/kotlin/codegen/state/KotlinTypeMapper.kt
Labels: Backend

#2359 Fix signature generation for calls to enum and inner class constructors
  compiler/backend/src/org/jetbrains/kotlin/codegen/state/KotlinTypeMapper.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/defaultArguments/constructor/innerClass32Args.kt
  compiler/testData/codegen/box/enum/manyDefaultParameters.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2371 JVM_IR: sidestep defective getMethodAsmFlags when inlining lambdas
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/LambdaInfo.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/SourceCompilerForInline.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrSourceCompilerForInline.kt
  compiler/testData/codegen/boxInline/simple/inlineCallInInlineLambda.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
Labels: Backend

#2369 JVM_IR: Optimize disjunction condition with intrinsic function call.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrIntrinsicMethods.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/OrOr.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmBuiltinOptimizationLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/descriptors/IrBuiltIns.kt
  compiler/testData/codegen/bytecodeText/conditions/disjunction.kt
  compiler/testData/codegen/bytecodeText/conditions/negatedDisjunction.kt
Labels: Backend

#2374 build: add kotlin-compiler-embeddable to BOM
  libraries/tools/kotlin-bom/pom.xml
Labels: Standard Library

#2379 Interface lowering annotations
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceLowering.kt
  compiler/testData/codegen/box/jvm8/defaults/compatibility/propertyAnnotation.kt
  compiler/testData/codegen/box/jvm8/defaults/reflection/propertyAnnotations.kt
  compiler/testData/loadJava/compiledKotlin/annotations/MultiDimensionalArrayMethod.kt
  compiler/testData/loadJava/compiledKotlin/annotations/propertiesWithoutBackingFields/NestedTrait.kt
  compiler/testData/loadJava/compiledKotlin/annotations/propertiesWithoutBackingFields/Trait.kt
  compiler/testData/loadJava/compiledKotlin/annotations/withUseSiteTarget/PropertyAndAccessor.kt
Labels: Backend

#2372 JVM_IR: generate default constructor
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultConstructorLowering.kt
  compiler/testData/codegen/box/defaultArguments/constructor/checkIfConstructorIsSynthetic.kt
  compiler/testData/codegen/box/defaultArguments/constructor/manyArgs.kt
  compiler/testData/codegen/box/jvmOverloads/privateClass.kt
  compiler/testData/codegen/box/multiplatform/noArgActualConstructor.kt
  compiler/testData/codegen/box/platformTypes/primitives/equalsNull_withExplicitFlag.kt
  compiler/testData/codegen/box/secondaryConstructors/withPrimary.kt
  compiler/testData/compileJavaAgainstKotlin/class/DefaultConstructor.kt
  compiler/testData/compileJavaAgainstKotlin/class/DefaultConstructorWithTwoArgs.kt
Labels: Backend
