Repository JetBrains/kotlin, pull requests merged in 2019-08, with the labels that each got.

#2484 KT-32650 "Replace 'if' with 'when'" removes braces from 'if' statement
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/IfToWhenIntention.kt
  idea/testData/inspectionsLocal/cascadeIf/insideOtherIf.kt.after
  idea/testData/inspectionsLocal/cascadeIf/normal.kt
  idea/testData/inspectionsLocal/cascadeIf/normal.kt.after
  idea/testData/inspectionsLocal/cascadeIf/withAnnotation.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/ifElseSwallowTail.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/multipleIfFake.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/multipleIfWithReturns.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/onElseIf2.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/withAnnotation.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/withInternalLoop.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/withInternalLoopOnly.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/withLoopDeep.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/withLoopDeepAndComments.kt.after
  idea/testData/intentions/branched/ifWhen/ifToWhen/withLoopThen.kt.after
Labels: Inspections

#2460 KT-32580 "Remove braces" QF for single-expression function with inferred lambda return type: "ClassCastException: class kotlin.reflect.jvm.internal.KClassImpl cannot be cast to class kotlin.jvm.internal.ClassBasedDeclarationContainer"
  idea/src/org/jetbrains/kotlin/idea/inspections/FunctionWithLambdaExpressionBodyInspection.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/kt32580.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/removeBraces/kt32580.kt.after
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/kt32580.kt
  idea/testData/inspectionsLocal/functionWithLambdaExpressionBody/wrapRun/kt32580.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2475 KT-31133 Liveness analysis on enum does not take into account calls to 'values'
  idea/src/org/jetbrains/kotlin/idea/inspections/UnusedSymbolInspection.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction2.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction3.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction4.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction5.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction6.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction7.kt
  idea/testData/inspectionsLocal/unusedSymbol/usedEnumFunction8.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#1959 Make context available to suppressors
  compiler/frontend/src/org/jetbrains/kotlin/resolve/diagnostics/KotlinSuppressCache.kt
Labels: Compiler

#1692 KT-21503 J2K: Intention to replace getOrDefault
  idea/resources/META-INF/plugin-common.xml
  idea/resources/intentionDescriptions/ReplaceMapGetOrDefaultIntention/after.kt.template
  idea/resources/intentionDescriptions/ReplaceMapGetOrDefaultIntention/before.kt.template
  idea/resources/intentionDescriptions/ReplaceMapGetOrDefaultIntention/description.html
  idea/src/org/jetbrains/kotlin/idea/intentions/ReplaceMapGetOrDefaultIntention.kt
  idea/testData/intentions/replaceMapGetOrDefault/.intention
  idea/testData/intentions/replaceMapGetOrDefault/inExpression.kt
  idea/testData/intentions/replaceMapGetOrDefault/inExpression.kt.after
  idea/testData/intentions/replaceMapGetOrDefault/nullableValue.kt
  idea/testData/intentions/replaceMapGetOrDefault/simple.kt
  idea/testData/intentions/replaceMapGetOrDefault/simple.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
  nj2k/nj2k-services/src/org/jetbrains/kotlin/nj2k/postProcessing/J2kPostProcessor.kt
  nj2k/testData/newJ2k/postProcessing/MapGetOrDefault.java
  nj2k/testData/newJ2k/postProcessing/MapGetOrDefault.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2520 KT-22412 J2K: Intention to replace if(...) throw IAE with require
  nj2k/nj2k-services/src/org/jetbrains/kotlin/nj2k/postProcessing/J2kPostProcessor.kt
  nj2k/testData/newJ2k/postProcessing/GuardClause.java
  nj2k/testData/newJ2k/postProcessing/GuardClause.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2528 KT-21504 J2K: Convert Long.parseLong(s) to s.toLong()
  nj2k/src/org/jetbrains/kotlin/nj2k/conversions/BuiltinMembersConversion.kt
  nj2k/testData/newJ2k/methodCallExpression/specialBuiltinMembers.java
  nj2k/testData/newJ2k/methodCallExpression/specialBuiltinMembers.kt
Labels: J2K

#2527 [MD] Fix typos and improve grammar in stdlib readmes
  libraries/stdlib/ReadMe.md
  libraries/stdlib/samples/ReadMe.md
Labels: Grammar

#2500 spec docs: Fix Type parameters position
  spec-docs/reified-type-parameters.md
Labels: Spec

#2534 JVM_IR: lower calls to @JvmStatic functions from other files.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStaticAnnotationLowering.kt
  compiler/testData/codegen/boxInline/defaultValues/lambdaInlining/jvmStaticDefault.kt
Labels: Backend

#2518 KT-33204 False positive "flatMap call could be simplified to flatten()" with Array
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/SimplifiableCallInspection.kt
  idea/testData/inspectionsLocal/collections/simplifiableCall/arrayFlatMap.kt
  idea/testData/inspectionsLocal/collections/simplifiableCall/arrayFlatMap2.kt
  idea/testData/inspectionsLocal/collections/simplifiableCall/arrayFlatMap3.kt
  idea/testData/inspectionsLocal/collections/simplifiableCall/arrayFlatMap3.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCall/primitiveArrayFlatMap.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2473 KT-28471: "Add initializer" quickfix initializes non-null variable with null
  idea/src/org/jetbrains/kotlin/idea/quickfix/InitializePropertyQuickFixFactory.kt
  idea/testData/quickfix/addInitializer/topLevelPropertyVarClass.kt
  idea/testData/quickfix/addInitializer/topLevelPropertyVarClass.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2489 KT-32972 No "remove braces" inspection for ${this}
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/psiModificationUtils.kt
  idea/testData/inspectionsLocal/removeCurlyBracesFromTemplate/necessaryBrackets7.kt
  idea/testData/inspectionsLocal/removeCurlyBracesFromTemplate/unnecessaryBrackets9.kt
  idea/testData/inspectionsLocal/removeCurlyBracesFromTemplate/unnecessaryBrackets9.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2498 KT-32426 Invalid code format after "Pull Members Up" on function with comment and another indent
  idea/src/org/jetbrains/kotlin/idea/refactoring/pullUp/KotlinPullUpHelper.kt
  idea/testData/refactoring/pullUp/k2k/fromClassToClassMakeAbstractWithCommentAndAnotherIndent.kt
  idea/testData/refactoring/pullUp/k2k/fromClassToClassMakeAbstractWithCommentAndAnotherIndent.kt.after
  idea/testData/refactoring/pullUp/k2k/fromClassToClassMakeAbstractWithCommentAndAnotherIndent2.kt
  idea/testData/refactoring/pullUp/k2k/fromClassToClassMakeAbstractWithCommentAndAnotherIndent2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/refactoring/pullUp/PullUpTestGenerated.java
Labels: IDEA

#2481 KT-32479 False positive "Redundant overriding method" with derived property and base function starting with "get" (Accidental override)
  idea/src/org/jetbrains/kotlin/idea/inspections/KotlinRedundantOverrideInspection.kt
  idea/testData/inspectionsLocal/redundantOverride/getterWithDerivedProperty.kt
  idea/testData/inspectionsLocal/redundantOverride/getterWithDerivedProperty2.kt
  idea/testData/inspectionsLocal/redundantOverride/getterWithDerivedProperty3.kt
  idea/testData/inspectionsLocal/redundantOverride/getterWithDerivedProperty3.kt.after
  idea/testData/inspectionsLocal/redundantOverride/getterWithDerivedProperty4.kt
  idea/testData/inspectionsLocal/redundantOverride/getterWithDerivedProperty4.kt.after
  idea/testData/inspectionsLocal/redundantOverride/setterWithDerivedProperty.kt
  idea/testData/inspectionsLocal/redundantOverride/setterWithDerivedProperty2.kt
  idea/testData/inspectionsLocal/redundantOverride/setterWithDerivedProperty3.kt
  idea/testData/inspectionsLocal/redundantOverride/setterWithDerivedProperty3.kt.after
  idea/testData/inspectionsLocal/redundantOverride/setterWithDerivedProperty4.kt
  idea/testData/inspectionsLocal/redundantOverride/setterWithDerivedProperty4.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2493 KT-32616 "To ordinary string literal" doesn't remove indents, newlines and `trimIndent`
  idea/src/org/jetbrains/kotlin/idea/intentions/ToOrdinaryStringLiteralIntention.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent1.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent1.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent2.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent2.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent3.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent3.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent4.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent4.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent5.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent5.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent6.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent6.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent7.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent7.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent8.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent8.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent9.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimIndent9.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin1.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin1.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin2.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin2.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin3.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin3.kt.after
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin4.kt
  idea/testData/intentions/toOrdinaryStringLiteral/trimMargin4.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2535 Psi2Ir: Mark accessors with no bodies as default accessors.
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/FunctionGenerator.kt
  compiler/testData/codegen/box/annotations/annotationsOnLateinitAccessors.kt
  compiler/testData/codegen/box/annotations/annotationsOnNonExistentAccessors.kt
  compiler/testData/diagnostics/testsWithStdLib/annotations/annotationsTargetingLateinitAccessors.kt
  compiler/testData/diagnostics/testsWithStdLib/annotations/annotationsTargetingLateinitAccessors.txt
  compiler/testData/diagnostics/testsWithStdLib/annotations/annotationsTargetingNonExistentAccessor.kt
  compiler/testData/diagnostics/testsWithStdLib/annotations/annotationsTargetingNonExistentAccessor.txt
  compiler/testData/ir/irText/declarations/classLevelProperties.txt
  compiler/testData/ir/irText/declarations/packageLevelProperties.txt
  compiler/testData/ir/irText/expressions/propertyReferences.txt
  compiler/testData/ir/sourceRanges/declarations/classProperties.txt
  compiler/testData/ir/sourceRanges/declarations/topLevelProperties.txt
  compiler/tests/org/jetbrains/kotlin/checkers/DiagnosticsTestWithStdLibGenerated.java
  compiler/tests/org/jetbrains/kotlin/checkers/javac/DiagnosticsTestWithStdLibUsingJavacGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2541 [IR] For loop lowering for iteration over CharacterSequences.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/Ir.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderInfo.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderProcessor.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInCharSequence.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInStringSpecialized.kt
Labels: Backend

#2454 KT-30136 False negative "Redundant explicit 'this'" with local variable
  idea/src/org/jetbrains/kotlin/idea/inspections/ExplicitThisInspection.kt
  idea/testData/inspectionsLocal/explicitThis/functionWithSameNameInvocableVariable.kt
  idea/testData/inspectionsLocal/explicitThis/functionWithSameNameVariable.kt
  idea/testData/inspectionsLocal/explicitThis/functionWithSameNameVariable.kt.after
  idea/testData/inspectionsLocal/explicitThis/variableWithSameNameFunction.kt
  idea/testData/inspectionsLocal/explicitThis/variableWithSameNameFunction.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections
