Repository JetBrains/kotlin, pull requests merged in 2019-09, with the labels that each got.

#2533 Mention the `master` branch as the target of pull requests in contrib…
  docs/contributing.md
Labels: Refactoring

#2552 [IR] For loop lowering for CharacterSequence.indices.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderInfo.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInIndices/forInCharSequenceIndices.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInReversed/forInReversedCharSequenceIndices.kt
Labels: Backend

#2560 [IR] Fix issue getting the length property from CharSequence bounded …
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInCharSequenceTypeParameter.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInIndices/forInCharSequenceTypeParameterIndices.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#2563 YarnSetupTask: Fix setup() to be a Gradle TaskAction
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/yarn/YarnSetupTask.kt
Labels: JS

#2561 [IR] Avoid duplicate IR elements in for loops lowering.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderProcessor.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
Labels: Backend

#2565 JVM_IR: Fix null-constant comparison with primitive types.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmBuiltinOptimizationLowering.kt
  compiler/testData/codegen/box/primitiveTypes/equalityWithObject/intEqualsNull.kt
  compiler/testData/codegen/bytecodeText/conditions/nullCompareConst.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2564 YarnSetupTask: Remove a too coarse "onlyIf" in the init block
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/yarn/YarnSetupTask.kt
Labels: JS

#2547 [JVM_IR, IR] Remove more needless temporary variables.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderProcessor.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmBuiltinOptimizationLowering.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/LoopExpressionGenerator.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInStringSpecialized.kt
  compiler/testData/ir/irText/expressions/for.txt
Labels: Backend

#2536 Disable endorsed libraries in plugin
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/native/tasks/KotlinNativeTasks.kt
Labels: Gradle Plugin

#2532 Check cancelation in KotlinJavaPsiFacade.findPackage()
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/KotlinJavaPsiFacade.java
Labels: Compiler

#2583 [IR] Support Collection<*>.indices in for loop lowering.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderInfo.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInIndices/forInCollectionImplicitReceiverIndices.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInIndices/forInCollectionIndices.kt
  compiler/testData/codegen/bytecodeText/forLoop/forInRangeSpecializedToUntil.kt
Labels: Backend

#2608 JVM IR: Fix spread operator on unsigned array type
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrArrayBuilder.kt
  compiler/testData/codegen/box/unsignedTypes/varargsOfUnsignedTypes.kt
Labels: Backend

#2599 JVM IR: Cache inline class replacements at the module level
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmBackendContext.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmInlineClassLowering.kt
  compiler/testData/codegen/boxInline/inlineClasses/inlineFunctionInsideInlineClassesBox.kt
Labels: Backend

#2570 KT-33153 False positive "Redundant overriding method" when overriding package private method
  idea/src/org/jetbrains/kotlin/idea/inspections/KotlinRedundantOverrideInspection.kt
  idea/testData/inspectionsLocal/redundantOverride/javaPackagePrivate.1.java
  idea/testData/inspectionsLocal/redundantOverride/javaPackagePrivate.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2604 KT-33235 Remove "Replace guard clause with kotlin's function call" inspection and tranform it to J2K post-processing
  idea/resources/META-INF/plugin-common.xml
Labels: Inspections

#2566 KT-32981 "Create enum constant" quick fix adds redundant empty line
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/callableBuilder/CallableBuilder.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/enumEntryAddComma.kt.after
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/enumEntryHasComma.kt.after
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/enumEntryHasNoLineBreak.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/enumEntryHasNoLineBreak.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2615 JVM IR: Generate synthetic methods for type aliases with annotations
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/builders/declarations/declarationBuilders.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/DeclarationOrigins.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/TypeAliasAnnotationMethodsLowering.kt
  compiler/testData/codegen/box/annotations/annotationsOnTypeAliases.kt
  compiler/testData/compileKotlinAgainstKotlin/annotationsOnTypeAliases.kt
  compiler/testData/writeFlags/typealias/syntheticAnnotationsMethod/privateTypealias.kt
  compiler/testData/writeFlags/typealias/syntheticAnnotationsMethod/publicTypealias.kt
Labels: Backend

#2614 JVM IR: Fix enum constructor visibility
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/EnumClassLowering.kt
  compiler/testData/writeFlags/function/constructors/enum.kt
Labels: Backend

#2607 KT-33299 "Create type parameter from usage" should work with backticks
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/createTypeParameter/CreateTypeParameterFromUsageFix.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/backticks.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/backticks.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2606 KT-33300 "Create type parameter from usage" suggests for top level property
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/createTypeParameter/CreateTypeParameterByUnresolvedRefActionFactory.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inExtensionProperty.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inExtensionProperty.kt.after
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inExtensionProperty2.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inExtensionProperty2.kt.after
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inExtensionProperty3.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inExtensionProperty3.kt.after
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inProperty.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inProperty2.kt
  idea/testData/quickfix/createFromUsage/createTypeParameter/inContainingDeclaration/inProperty3.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2594 KT-33718 "Create enum constant" quick fix adds after semicolon
  idea/src/org/jetbrains/kotlin/idea/formatter/KotlinPreFormatProcessor.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/enumEntryHasSemicolon.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/enumEntryHasSemicolon.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2580 KT-14899 Quickfix "Create member function" inserts too many semicolons when applied to Enum
  idea/src/org/jetbrains/kotlin/idea/formatter/KotlinPreFormatProcessor.kt
  idea/testData/quickfix/createFromUsage/createFunction/call/funOnEnumClass.kt
  idea/testData/quickfix/createFromUsage/createFunction/call/funOnEnumClass.kt.after
  idea/testData/quickfix/createFromUsage/createFunction/call/funOnEnumClass2.kt
  idea/testData/quickfix/createFromUsage/createFunction/call/funOnEnumClass2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2603 KT-25697 `Replace with dot call` quickfix breaks formatting
  idea/src/org/jetbrains/kotlin/idea/quickfix/ReplaceCallFix.kt
  idea/testData/quickfix/replaceWithDotCall/comment.kt
  idea/testData/quickfix/replaceWithDotCall/comment.kt.after
  idea/testData/quickfix/replaceWithDotCall/lineBreak.kt
  idea/testData/quickfix/replaceWithDotCall/lineBreak.kt.after
  idea/testData/quickfix/replaceWithSafeCall/comment.kt
  idea/testData/quickfix/replaceWithSafeCall/comment.kt.after
  idea/testData/quickfix/replaceWithSafeCall/lineBreak.kt
  idea/testData/quickfix/replaceWithSafeCall/lineBreak.kt.after
  idea/testData/quickfix/replaceWithSafeCallForScopeFunction/comment.kt
  idea/testData/quickfix/replaceWithSafeCallForScopeFunction/comment.kt.after
  idea/testData/quickfix/replaceWithSafeCallForScopeFunction/lineBreak.kt
  idea/testData/quickfix/replaceWithSafeCallForScopeFunction/lineBreak.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2581 KT-31139 "Override members" on enum inserts semicolon before enum body
  idea/src/org/jetbrains/kotlin/idea/formatter/KotlinPreFormatProcessor.kt
  idea/testData/codeInsight/overrideImplement/enumClass.kt
  idea/testData/codeInsight/overrideImplement/enumClass.kt.after
  idea/testData/codeInsight/overrideImplement/enumClass2.kt
  idea/testData/codeInsight/overrideImplement/enumClass2.kt.after
  idea/testData/codeInsight/overrideImplement/enumClass3.kt
  idea/testData/codeInsight/overrideImplement/enumClass3.kt.after
  idea/testData/codeInsight/overrideImplement/enumClass4.kt
  idea/testData/codeInsight/overrideImplement/enumClass4.kt.after
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/OverrideImplementTest.kt
Labels: IDEA

#2602 KT-19355 fix for "Variable expected" error after J2K for ++/--
  compiler/psi/src/org/jetbrains/kotlin/psi/KtPsiUtil.java
  idea/testData/intentions/removeUnnecessaryParentheses/necessaryParentheses6.kt
  idea/testData/intentions/removeUnnecessaryParentheses/necessaryParentheses7.kt
  idea/testData/intentions/removeUnnecessaryParentheses/unnecessaryParentheses10.kt
  idea/testData/intentions/removeUnnecessaryParentheses/unnecessaryParentheses10.kt.after
  idea/testData/intentions/removeUnnecessaryParentheses/unnecessaryParentheses9.kt
  idea/testData/intentions/removeUnnecessaryParentheses/unnecessaryParentheses9.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
  nj2k/testData/newJ2k/parenthesizedExpression/parenthesized3.java
  nj2k/testData/newJ2k/parenthesizedExpression/parenthesized3.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2598 KT-33880 "Convert to range check" produces code that is subject to ReplaceRangeToWithUntil for range with exclusive upper bound
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceRangeToWithUntilInspection.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertTwoComparisonsToRangeCheckIntention.kt
  idea/testData/intentions/convertTwoComparisonsToRangeCheck/nonConstants.kt
  idea/testData/intentions/convertTwoComparisonsToRangeCheck/nonConstants.kt.after
  idea/testData/intentions/convertTwoComparisonsToRangeCheck/until.kt
  idea/testData/intentions/convertTwoComparisonsToRangeCheck/until.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2467 KT-14756 Move statement down breaks code in argument list
  idea/src/org/jetbrains/kotlin/idea/codeInsight/upDownMover/KotlinExpressionMover.java
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/callArgs7.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/callArgs7.kt.after
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/callArgs8.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/callArgs8.kt.after
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/classParams7.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/classParams7.kt.after
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/classParams8.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/classParams8.kt.after
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/funParams7.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/funParams7.kt.after
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/funParams8.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/funParams8.kt.after
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/moveUpDown/MoveStatementTestGenerated.java
Labels: IDEA
