Repository JetBrains/kotlin, pull requests merged in 2019-03, with the labels that each got.

#2129 KT-30038 'Remove redundant Unit" false positive when return type is nullable Unit
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantUnitExpressionInspection.kt
  idea/testData/inspectionsLocal/redundantUnitExpression/returnAsNullableUnit.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2099 KT-29556 "Remove redundant 'let' call" doesn't rename parameter with convention `invoke` call
  idea/src/org/jetbrains/kotlin/idea/intentions/ReplaceSingleLineLetIntention.kt
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall.kt
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall.kt.after
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall2.kt
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall2.kt.after
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall3.kt
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall3.kt.after
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall4.kt
  idea/testData/intentions/replaceSingleLineLetIntention/invokeCall5.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2086 KT-11629 Inspection: creating Throwable without throwing it
  idea/resources/META-INF/plugin-common.xml
  idea/resources/inspectionDescriptions/KotlinThrowableNotThrown.html
  idea/src/org/jetbrains/kotlin/idea/inspections/KotlinThrowableNotThrownInspection.kt
  idea/testData/inspectionsLocal/throwableNotThrown/.inspection
  idea/testData/inspectionsLocal/throwableNotThrown/basic.kt
  idea/testData/inspectionsLocal/throwableNotThrown/basic2.kt
  idea/testData/inspectionsLocal/throwableNotThrown/basic3.kt
  idea/testData/inspectionsLocal/throwableNotThrown/field.kt
  idea/testData/inspectionsLocal/throwableNotThrown/if.kt
  idea/testData/inspectionsLocal/throwableNotThrown/if2.kt
  idea/testData/inspectionsLocal/throwableNotThrown/if3.kt
  idea/testData/inspectionsLocal/throwableNotThrown/if4.kt
  idea/testData/inspectionsLocal/throwableNotThrown/if5.kt
  idea/testData/inspectionsLocal/throwableNotThrown/nullable.kt
  idea/testData/inspectionsLocal/throwableNotThrown/property.kt
  idea/testData/inspectionsLocal/throwableNotThrown/property2.kt
  idea/testData/inspectionsLocal/throwableNotThrown/property3.kt
  idea/testData/inspectionsLocal/throwableNotThrown/property4.kt
  idea/testData/inspectionsLocal/throwableNotThrown/property5.kt
  idea/testData/inspectionsLocal/throwableNotThrown/return.kt
  idea/testData/inspectionsLocal/throwableNotThrown/return2.kt
  idea/testData/inspectionsLocal/throwableNotThrown/throw.kt
  idea/testData/inspectionsLocal/throwableNotThrown/when.kt
  idea/testData/inspectionsLocal/throwableNotThrown/when2.kt
  idea/testData/inspectionsLocal/throwableNotThrown/when3.kt
  idea/testData/inspectionsLocal/throwableNotThrown/when4.kt
  idea/testData/inspectionsLocal/throwableNotThrown/when5.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2142 KT-29344 Add "convert to getter" intention
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertPropertyInitializerToGetterIntention.kt
  idea/testData/intentions/convertPropertyInitializerToGetter/onPropertyName.kt
  idea/testData/intentions/convertPropertyInitializerToGetter/onPropertyName.kt.after
  idea/testData/quickfix/removeUnused/usedVarAsAlias.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2103 KT-29677 "Specify type explicitly" intention produces invalid output for type escaped with backticks
  idea/src/org/jetbrains/kotlin/idea/intentions/SpecifyTypeExplicitlyIntention.kt
  idea/testData/intentions/specifyTypeExplicitly/backticked.kt
  idea/testData/intentions/specifyTypeExplicitly/backticked.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2150 typo fix
  libraries/stdlib/jvm/src/kotlin/io/ReadWrite.kt
Labels: Standard Library

#2152 KT-30215 No "surround with null" check is suggested for an assignment
  idea/src/org/jetbrains/kotlin/idea/quickfix/SurroundWithNullCheckFix.kt
  idea/testData/quickfix/surroundWithNullCheck/assignment.kt
  idea/testData/quickfix/surroundWithNullCheck/assignment.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2138 KT-29927 Missing "Import members from" intention with type check operator in `when` branch
  idea/src/org/jetbrains/kotlin/idea/intentions/ImportAllMembersIntention.kt
  idea/testData/intentions/importAllMembers/TypeReference.1.kt
  idea/testData/intentions/importAllMembers/TypeReference.1.kt.after
  idea/testData/intentions/importAllMembers/TypeReference.kt
  idea/testData/intentions/importAllMembers/TypeReference.kt.after
  idea/testData/intentions/importAllMembers/TypeReference2.1.kt
  idea/testData/intentions/importAllMembers/TypeReference2.1.kt.after
  idea/testData/intentions/importAllMembers/TypeReference2.kt
  idea/testData/intentions/importAllMembers/TypeReference2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2144 KT-30123 Add intention to replace isEmpty/isNotEmpty method negation
  idea/resources/inspectionDescriptions/ReplaceNegatedIsEmptyWithIsNotEmpty.html
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceNegatedIsEmptyWithIsNotEmptyInspection.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/notNegate.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsEmpty.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsEmpty.kt.after
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsNotEmpty.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsNotEmpty.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2130 when: emit lookupswitch/tableswitch if possible
  compiler/backend/src/org/jetbrains/kotlin/codegen/when/SwitchCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/SwitchGenerator.kt
  compiler/testData/codegen/bytecodeText/when/inlineConstValsInsideWhen.kt
  compiler/testData/codegen/bytecodeText/when/lookupSwitch.kt
  compiler/testData/codegen/bytecodeText/when/qualifiedConstValsInsideWhen.kt
  compiler/testData/codegen/bytecodeText/when/simpleConstValsInsideWhen.kt
  compiler/testData/codegen/bytecodeText/when/tableSwitch.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#2155 Avoid true condition generation for do while loops
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/controlStructures/kt12908.kt
  compiler/testData/codegen/box/controlStructures/kt12908_2.kt
Labels: Backend

#2158 KT-30322 Memory leak in CompilationSourceSetUtil
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/plugin/mpp/kotlinCompilations.kt
Labels: Gradle Plugin

#2154 KT-29812 False positive for HasPlatformType with member extension on 'dynamic'
  idea/src/org/jetbrains/kotlin/idea/intentions/SpecifyTypeExplicitlyIntention.kt
  idea/testData/inspections/hasPlatformType/extensionOnDynamic.kt
Labels: Inspections

#2167 Run ExpectDeclarationsRemoving in the JVM_IR backend.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/bothInExpectAndActual.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/bothInExpectAndActual2.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/constructor.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/dispatchReceiverValue.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/extensionReceiverValue.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/function.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/inheritedFromCommonClass.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/inheritedFromExpectedClass.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/inheritedFromExpectedInterface.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/inheritedFromExpectedMethod.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/inheritedInExpectedDeclarations.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/inheritedViaAnotherInterfaceIndirectly.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/jvmOverloads.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/kt23239.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/kt23739.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/parametersInArgumentValues.kt
  compiler/testData/codegen/box/multiplatform/optionalExpectation.kt
Labels: Backend

#2166 Fix return types for while loops.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/arrays/kt503.kt
  compiler/testData/codegen/box/controlStructures/forInIterableWithIndex/forInListWithIndexThrowsCME.kt
  compiler/testData/codegen/box/controlStructures/forInSequenceWithIndex/forInSequenceWithIndexThrowsCME.kt
Labels: Backend

#2172 JVM_IR: Perform asm type conversion for string concat arguments.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/dataClasses/unitComponent.kt
Labels: Backend

#2170 KT-29869 Disable `WhenWithOnlyElse` by default.
  idea/resources/META-INF/plugin-common.xml
Labels: Inspections

#2156 KT-25272: Unused expression as last expression of normal function should have quickfix to add "return"
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddReturnToLastExpressionInFunctionFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddReturnToUnusedLastExpressionInFunctionFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/testData/quickfix/addReturnToLastExpressionInFunction/notSubtype.kt
  idea/testData/quickfix/addReturnToLastExpressionInFunction/nothing.kt
  idea/testData/quickfix/addReturnToLastExpressionInFunction/simpleBoolean.kt
  idea/testData/quickfix/addReturnToLastExpressionInFunction/simpleBoolean.kt.after
  idea/testData/quickfix/addReturnToLastExpressionInFunction/subtype.kt
  idea/testData/quickfix/addReturnToLastExpressionInFunction/subtype.kt.after
  idea/testData/quickfix/addReturnToUnusedLastExpressionInFunction/notSubtype.kt
  idea/testData/quickfix/addReturnToUnusedLastExpressionInFunction/nothing.kt
  idea/testData/quickfix/addReturnToUnusedLastExpressionInFunction/simpleBoolean.kt
  idea/testData/quickfix/addReturnToUnusedLastExpressionInFunction/simpleBoolean.kt.after
  idea/testData/quickfix/addReturnToUnusedLastExpressionInFunction/subtype.kt
  idea/testData/quickfix/addReturnToUnusedLastExpressionInFunction/subtype.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixMultiFileTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2189 KT-30414 "Replace return with 'if' expression" drops return label
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/UnfoldReturnToIfIntention.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/UnfoldReturnToWhenIntention.kt
  idea/testData/intentions/branched/unfolding/returnToIf/labeledReturn.kt
  idea/testData/intentions/branched/unfolding/returnToIf/labeledReturn.kt.after
  idea/testData/intentions/branched/unfolding/returnToWhen/labeledReturn.kt
  idea/testData/intentions/branched/unfolding/returnToWhen/labeledReturn.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2104 KT-25262 Intention: Rename class to containing file name
  idea/resources/META-INF/plugin-common.xml
  idea/resources/intentionDescriptions/RenameClassToContainingFileNameIntention/after.kt.template
  idea/resources/intentionDescriptions/RenameClassToContainingFileNameIntention/before.kt.template
  idea/resources/intentionDescriptions/RenameClassToContainingFileNameIntention/description.html
  idea/src/org/jetbrains/kotlin/idea/intentions/RenameClassToContainingFileNameIntention.kt
  idea/testData/intentions/renameClassToContainingFileName/.intention
  idea/testData/intentions/renameClassToContainingFileName/Basic.kt
  idea/testData/intentions/renameClassToContainingFileName/Basic.kt.after
  idea/testData/intentions/renameClassToContainingFileName/Basic2.kt
  idea/testData/intentions/renameClassToContainingFileName/Basic2.kt.after
  idea/testData/intentions/renameClassToContainingFileName/HasSameNameClass.kt
  idea/testData/intentions/renameClassToContainingFileName/HasSameNameObject.kt
  idea/testData/intentions/renameClassToContainingFileName/SameName.kt
  idea/testData/intentions/renameClassToContainingFileName/startWithLowerCase.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2160 KT-30228 'Convert to also/apply/run/with' intention behaves differently depending on the position of infix function call
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertToScopeIntention.kt
  idea/testData/intentions/convertToScope/convertToApply/binaryExpression.kt
  idea/testData/intentions/convertToScope/convertToApply/binaryExpression.kt.after
  idea/testData/intentions/convertToScope/convertToApply/binaryExpression2.kt
  idea/testData/intentions/convertToScope/convertToApply/binaryExpression2.kt.after
  idea/testData/intentions/convertToScope/convertToApply/binaryExpression3.kt
  idea/testData/intentions/convertToScope/convertToApply/binaryExpression4.kt
  idea/testData/intentions/convertToScope/convertToApply/binaryExpression5.kt
  idea/testData/intentions/convertToScope/convertToRun/binaryExpression.kt
  idea/testData/intentions/convertToScope/convertToRun/binaryExpression.kt.after
  idea/testData/intentions/convertToScope/convertToRun/binaryExpression2.kt
  idea/testData/intentions/convertToScope/convertToRun/binaryExpression2.kt.after
  idea/testData/intentions/convertToScope/convertToRun/binaryExpression3.kt
  idea/testData/intentions/convertToScope/convertToRun/binaryExpression3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2178 KT-27821 Fix `SimplifiableCallChain` inspection quick fix removes comments for intermediate operations
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/SimplifyCallChainFix.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/saveComment.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/saveComment.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/saveComment2.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/saveComment2.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/saveComment3.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/saveComment3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2184 Refactor InnerClassesLowering & fix `this` remapping
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/InnerClassesLowering.kt
  compiler/testData/codegen/box/classes/inheritedInnerClass.kt
  compiler/testData/codegen/box/classes/inner/kt6708.kt
  compiler/testData/codegen/box/classes/propertyInInitializer.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/constructorParameterAndLocalCapturedInLambdaInLocalClass.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/constructorParameterCapturedInLambdaInLocalClass2.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/kt13454.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/kt14148.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/localCapturedInLambdaInInnerClassInLocalClass.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInFunctionLiteral.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInLambda.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInLambda2.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInLambdaInSecondaryConstructor.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInLambdaInSubExpression.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInNestedLambda.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInNestedObject.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInObject.kt
  compiler/testData/codegen/box/closures/captureInSuperConstructorCall/outerCapturedInObject2.kt
  compiler/testData/codegen/box/innerNested/innerJavaClass.kt
  compiler/testData/codegen/box/innerNested/passingOuterRef.kt
  compiler/testData/codegen/box/innerNested/superConstructorCall/deepInnerHierarchy.kt
  compiler/testData/codegen/box/innerNested/superConstructorCall/innerExtendsInnerViaSecondaryConstuctor.kt
  compiler/testData/codegen/box/innerNested/superConstructorCall/innerExtendsInnerWithProperOuterCapture.kt
  compiler/testData/codegen/box/localClasses/innerOfLocalCaptureExtensionReceiver.kt
  compiler/testData/codegen/box/secondaryConstructors/innerClasses.kt
  compiler/testData/codegen/box/secondaryConstructors/innerClassesInheritance.kt
  compiler/testData/codegen/box/typealias/innerClassTypeAliasConstructorInSupertypes.kt
Labels: Backend

#2168 when: emit switch for String if possible
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/SwitchGenerator.kt
  compiler/testData/codegen/box/when/edgeCases.kt
  compiler/testData/codegen/box/when/stringOptimization/duplicatingItemsSameHashCode2.kt
  compiler/testData/codegen/box/when/stringOptimization/duplicatingItemsSameHashCode3.kt
  compiler/testData/codegen/box/when/switchOptimizationDuplicates.kt
  compiler/testData/codegen/bytecodeText/when/edgeCases.kt
  compiler/testData/codegen/bytecodeText/when/switchOptimizationDuplicates.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/denseHashCode.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/duplicatingItems.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/duplicatingItemsSameHashCode2.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/duplicatingItemsSameHashCode3.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/expression.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/nullability.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/sameHashCode.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/statement.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2113 KT-23259 False positive unchecked cast warning/quickfix result in good code turning red
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeToStarProjectionFix.kt
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver.kt
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver2.kt
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver3.kt
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver3.kt.after
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver4.kt
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver4.kt.after
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver5.kt
  idea/testData/quickfix/addStarProjections/cast/extensionReceiver5.kt.after
  idea/testData/quickfix/addStarProjections/cast/valueArgument.kt
  idea/testData/quickfix/addStarProjections/cast/valueArgument2.kt
  idea/testData/quickfix/addStarProjections/cast/valueArgument3.kt
  idea/testData/quickfix/addStarProjections/cast/valueArgument3.kt.after
  idea/testData/quickfix/addStarProjections/cast/valueArgument4.kt
  idea/testData/quickfix/addStarProjections/cast/valueArgument4.kt.after
  idea/testData/quickfix/addStarProjections/cast/valueArgument5.kt
  idea/testData/quickfix/addStarProjections/cast/valueArgument5.kt.after
  idea/testData/quickfix/addStarProjections/cast/valueArgument6.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2195 KT-30426 Don't preserve extra line when adding remaining branches for when
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddWhenRemainingBranchesFix.kt
  idea/testData/quickfix/when/addRemainingBranchesBlankLine.kt
  idea/testData/quickfix/when/addRemainingBranchesBlankLine.kt.after
  idea/testData/quickfix/when/addRemainingBranchesBlankLineWithComment.kt
  idea/testData/quickfix/when/addRemainingBranchesBlankLineWithComment.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2192 KT-30341 False positive 'Use withIndex() instead of manual index increment' inspection with destructive declaration in 'for' loop
  idea/src/org/jetbrains/kotlin/idea/intentions/loopToCallChain/matchAndConvert.kt
  idea/testData/intentions/useWithIndex/destructuringDeclaration.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2207 Label improper IEEE 754 tests.
  compiler/testData/codegen/box/ieee754/smartCastToDifferentTypes.kt
  compiler/testData/codegen/box/ieee754/smartCastToDifferentTypesWithNumericPromotion.kt
  compiler/testData/codegen/box/ieee754/when10.kt
Labels: Backend

#2205 only load inspections when groovy plugin is present KT-30579
  idea/resources/META-INF/gradle-groovy.xml
  idea/resources/META-INF/gradle-java.xml
  idea/resources/META-INF/gradle-java.xml.191
  idea/resources/META-INF/gradle-java.xml.as33
  idea/resources/META-INF/gradle-java.xml.as34
Labels: Inspections

#2216 KT-30565 False positive "Suspicious 'var' property" inspection with annotated default property getter
  idea/src/org/jetbrains/kotlin/idea/inspections/SuspiciousVarPropertyInspection.kt
  idea/testData/inspectionsLocal/suspiciousVarProperty/hasBackingFieldRef3.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2209 KT-30559 Redundant Getter, Redundant Setter: reduce range to getter/setter header
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantGetterInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantSetterInspection.kt
  idea/testData/inspectionsLocal/redundantSetter/lowerVisibility1.kt
  idea/testData/inspectionsLocal/redundantSetter/lowerVisibility2.kt
  idea/testData/inspectionsLocal/redundantSetter/lowerVisibility3.kt
  idea/testData/inspectionsLocal/redundantSetter/sameVisibility1.kt
  idea/testData/inspectionsLocal/redundantSetter/sameVisibility2.kt
  idea/testData/inspectionsLocal/redundantSetter/sameVisibility3.kt
Labels: Inspections

#2198 Implement support for KClass fields in annotation classes in the JVM IR backend
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/util/IrTypeUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AnnotationLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/irTypePredicates.kt
  compiler/testData/codegen/box/annotations/defaultParameterValues.kt
  compiler/testData/codegen/box/collectionLiterals/collectionLiteralsInArgumentPosition.kt
  compiler/testData/codegen/box/collectionLiterals/collectionLiteralsWithVarargs.kt
  compiler/testData/codegen/box/collectionLiterals/defaultAnnotationParameterValues.kt
  compiler/testData/codegen/box/reflection/createAnnotation/arrayOfKClasses.kt
  compiler/testData/codegen/box/reflection/createAnnotation/callByKotlin.kt
  compiler/testData/codegen/box/reflection/createAnnotation/callKotlin.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/array.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/arrayInJava.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/basic.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/basicInJava.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/forceWrapping.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/vararg.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/varargInJava.kt
  compiler/testData/codegen/box/reflection/kClassInAnnotation/wrappingForCallableReferences.kt
  compiler/testData/codegen/bytecodeText/boxingOptimization/kClassInAnnotation.kt
  compiler/testData/codegen/bytecodeText/boxingOptimization/kClassInAnnotationEscaping.kt
Labels: Backend

#2197 JVM_IR: handle Nothing and Unit more consistently.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/SwitchGenerator.kt
  compiler/testData/codegen/box/closures/capturedVarsOptimization/sharedSlotsWithCapturedVars.kt
  compiler/testData/codegen/box/constants/constantsInWhen.kt
  compiler/testData/codegen/box/controlStructures/tryCatchInExpressions/kt8608.kt
  compiler/testData/codegen/box/lazyCodegen/exceptionInFieldInitializer.kt
  compiler/testData/codegen/box/reflection/properties/localDelegated/localDelegatedProperty.kt
  compiler/testData/codegen/box/when/switchOptimizationSingleStatementCase.kt
  compiler/testData/codegen/boxInline/argumentOrder/extensionInClass.kt
  compiler/testData/codegen/boxInline/arrayConvention/simpleAccessInClass.kt
  compiler/testData/codegen/boxInline/arrayConvention/simpleAccessWithDefaultInClass.kt
  compiler/testData/codegen/boxInline/arrayConvention/simpleAccessWithLambdaInClass.kt
  compiler/testData/codegen/boxInline/nonLocalReturns/tryFinally/exceptionTable/break.kt
  compiler/testData/codegen/boxInline/nonLocalReturns/tryFinally/exceptionTable/continue.kt
  compiler/testData/codegen/boxInline/property/augAssignmentAndIncOnExtensionInClass.kt
  compiler/testData/codegen/boxInline/property/property.kt
  compiler/testData/codegen/bytecodeText/constantConditions/inlineIfFalse.kt
  compiler/testData/codegen/bytecodeText/statements/tryCatchFinally.kt
  compiler/testData/lineNumber/custom/whenSubject.kt
Labels: Backend

#2222 KT-30451 Redundant call of selector in maxBy&minBy
  libraries/stdlib/common/src/generated/_Arrays.kt
  libraries/stdlib/common/src/generated/_Collections.kt
  libraries/stdlib/common/src/generated/_Sequences.kt
  libraries/stdlib/common/src/generated/_Strings.kt
  libraries/stdlib/common/src/generated/_UArrays.kt
  libraries/tools/kotlin-stdlib-gen/src/templates/Aggregates.kt
Labels: Standard Library
