Repository JetBrains/kotlin, pull requests merged in 2019-06, with the labels that each got.

#2393 KT-31645 Fix yarn downloading on Windows
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/yarn/YarnSetupTask.kt
Labels: JS

#2389 JVM_IR: Maintain annotations in SAM conversion.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SingleAbstractMethodLowering.kt
  compiler/testData/codegen/box/annotations/annotatedLambda/samFunExpression.kt
  compiler/testData/codegen/box/annotations/annotatedLambda/samFunReference.kt
  compiler/testData/codegen/box/annotations/annotatedLambda/samLambda.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2370 psi2ir: keep the type of `when` when possible
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/fir/Fir2IrTextTestGenerated.java
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/BranchingExpressionGenerator.kt
  compiler/testData/codegen/box/constants/constantsInWhen.kt
  compiler/testData/ir/irText/expressions/whenUnusedExpression.fir.txt
  compiler/testData/ir/irText/expressions/whenUnusedExpression.kt
  compiler/testData/ir/irText/expressions/whenUnusedExpression.txt
  compiler/tests/org/jetbrains/kotlin/ir/IrTextTestCaseGenerated.java
Labels: Backend

#2385 JVM_IR: support @JvmDefaults in compatibility mode.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceLowering.kt
  compiler/testData/codegen/box/jvm8/defaults/compatibility/bridge.kt
  compiler/testData/codegen/box/jvm8/defaults/compatibility/inheritedJvmDefault.kt
  compiler/testData/codegen/box/jvm8/defaults/compatibility/simpleFunction.kt
  compiler/testData/codegen/box/jvm8/defaults/inlineProperty.kt
  compiler/testData/writeFlags/jvm8/defaults/defaultProperty.kt
Labels: Backend

#2388 JVM_IR: Allow delegated companion objects.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/testData/loadJava/compiledKotlin/classObject/Delegation.kt
Labels: Backend

#2398 JVM_IR: handle JvmDefault for bridges
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceDelegationLowering.kt
  compiler/testData/codegen/box/jvm8/defaults/bridgeInInterface2.kt
  compiler/testData/codegen/box/jvm8/defaults/bridgeInInterfaceWithProperties2.kt
  compiler/testData/codegen/box/jvm8/defaults/bridgeWithJava.kt
  compiler/testData/codegen/box/jvm8/defaults/compatibility/bridgeWithProperties.kt
  compiler/testData/codegen/box/jvm8/defaults/compatibility/bridgeWithProperties2.kt
  compiler/testData/codegen/box/jvm8/defaults/compatibility/bridgeWithProperties3.kt
  compiler/testData/codegen/box/jvm8/defaults/diamond.kt
  compiler/testData/codegen/box/jvm8/defaults/kt14243.kt
  compiler/testData/codegen/box/jvm8/defaults/kt14243_2.kt
  compiler/testData/codegen/box/jvm8/defaults/noDelegation/noDelegationToDefaultMethodInClass.kt
Labels: Backend

#2407 add links to Scope Functions doc from with, run, let, apply, and also…
  libraries/stdlib/src/kotlin/util/Standard.kt
Labels: Standard Library

#2419 KT-17916: Import popup does not indicate deprecated classes
  idea/src/org/jetbrains/kotlin/idea/actions/KotlinAddImportAction.kt
Labels: IDEA

#2427 JVM_IR: do not generate two nullary constructors
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultConstructorLowering.kt
  compiler/testData/codegen/box/jvmOverloads/primaryConstructorWithAllDefaults.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2401 Fix typo in jdksFinder.kt
  buildSrc/src/main/kotlin/jdksFinder.kt
Labels: Refactoring

#2428 JVM_IR: fix unbound function references
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmSymbols.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CallableReferenceLowering.kt
  compiler/testData/codegen/box/callableReference/bound/equals/nullableReceiverInEquals.kt
  compiler/testData/codegen/box/callableReference/bound/equals/reflectionReference.kt
  compiler/testData/codegen/box/reflection/annotations/onTypes/differentPositions.kt
  compiler/testData/codegen/box/reflection/call/bigArity.kt
  compiler/testData/codegen/box/reflection/call/callInstanceJavaMethod.kt
  compiler/testData/codegen/box/reflection/call/callStaticJavaMethod.kt
  compiler/testData/codegen/box/reflection/call/equalsHashCodeToString.kt
  compiler/testData/codegen/box/reflection/call/exceptionHappened.kt
  compiler/testData/codegen/box/reflection/call/localClassMember.kt
  compiler/testData/codegen/box/reflection/call/memberOfGenericClass.kt
  compiler/testData/codegen/box/reflection/call/returnUnit.kt
  compiler/testData/codegen/box/reflection/call/simpleConstructor.kt
  compiler/testData/codegen/box/reflection/call/simpleMemberFunction.kt
  compiler/testData/codegen/box/reflection/call/simpleTopLevelFunctions.kt
  compiler/testData/codegen/box/reflection/callBy/defaultAndNonDefaultIntertwined.kt
  compiler/testData/codegen/box/reflection/callBy/extensionFunction.kt
  compiler/testData/codegen/box/reflection/callBy/nullValue.kt
  compiler/testData/codegen/box/reflection/callBy/ordinaryMethodIsInvokedWhenNoDefaultValuesAreUsed.kt
  compiler/testData/codegen/box/reflection/callBy/primitiveDefaultValues.kt
  compiler/testData/codegen/box/reflection/callBy/simpleConstructor.kt
  compiler/testData/codegen/box/reflection/callBy/simpleMemberFunciton.kt
  compiler/testData/codegen/box/reflection/callBy/simpleTopLevelFunction.kt
  compiler/testData/codegen/box/reflection/functions/enumValuesValueOf.kt
  compiler/testData/codegen/box/reflection/functions/functionFromStdlib.kt
  compiler/testData/codegen/box/reflection/mapping/constructor.kt
  compiler/testData/codegen/box/reflection/mapping/functions.kt
  compiler/testData/codegen/box/reflection/mapping/inlineReifiedFun.kt
  compiler/testData/codegen/box/reflection/mapping/types/array.kt
  compiler/testData/codegen/box/reflection/mapping/types/inlineClassInSignature.kt
  compiler/testData/codegen/box/reflection/mapping/types/memberFunctions.kt
  compiler/testData/codegen/box/reflection/mapping/types/topLevelFunctions.kt
  compiler/testData/codegen/box/reflection/mapping/types/unit.kt
  compiler/testData/codegen/box/reflection/methodsFromAny/callableReferencesEqualToCallablesFromAPI.kt
  compiler/testData/codegen/box/reflection/methodsFromAny/parametersEqualsHashCode.kt
  compiler/testData/codegen/box/reflection/methodsFromAny/parametersToString.kt
  compiler/testData/codegen/box/reflection/methodsFromAny/typeToString.kt
  compiler/testData/codegen/box/reflection/parameters/bigArity.kt
  compiler/testData/codegen/box/reflection/parameters/functionParameterNameAndIndex.kt
  compiler/testData/codegen/box/reflection/parameters/instanceExtensionReceiverAndValueParameters.kt
  compiler/testData/codegen/box/reflection/parameters/instanceParameterOfFakeOverride.kt
  compiler/testData/codegen/box/reflection/parameters/isMarkedNullable.kt
  compiler/testData/codegen/box/reflection/parameters/isOptional.kt
  compiler/testData/codegen/box/reflection/parameters/kinds.kt
  compiler/testData/codegen/box/reflection/parameters/realParameterNames.kt
  compiler/testData/codegen/box/reflection/parameters/synthesizedParameterNames.kt
  compiler/testData/codegen/boxAgainstJava/reflection/mapping/javaConstructor.kt
  compiler/testData/codegen/boxAgainstJava/reflection/mapping/javaMethods.kt
Labels: Backend

#2416 KT-12515 Quickfix "by Delegates.notNull()" as replacement for "lateinit" for primitive type
  idea/src/org/jetbrains/kotlin/idea/quickfix/ConvertLateinitPropertyToNotNullDelegateFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/basic.kt
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/basic.kt.after
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/basic2.kt
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/basic2.kt.after
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/hasInitializer.kt
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/noType.kt
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/notPrimitive.kt
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/nullablePrimitive.kt
  idea/testData/quickfix/convertLateinitPropertyToNotNullDelegate/val.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixMultiFileTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2437 KT-32237 Always use LF line endings in generated stdlib code
  libraries/stdlib/common/src/generated/.gitattributes
  libraries/stdlib/js-ir/src/generated/.gitattributes
  libraries/stdlib/js/src/generated/.gitattributes
  libraries/stdlib/jvm/src/generated/.gitattributes
  libraries/tools/kotlin-stdlib-gen/build.gradle
Labels: Standard Library
