Repository JetBrains/kotlin, pull requests merged in 2019-11, with the labels that each got.

#2748 Fix type of IllegalArgumentException call for illegal step in StepHandler
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderProcessor.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/Utils.kt
Labels: Backend

#2747 Support inlining functions with KT-28064 style objects
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/AnonymousObjectTransformer.kt
  compiler/testData/codegen/boxInline/anonymousObject/defineClass.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturing/inlineChain.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/inlineChain.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/noCapturedThisOnCallSite.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/twoInlineLambdaComplex.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/twoInlineLambdaComplex_2.kt
  compiler/testData/codegen/boxInline/builders/buildersAndLambdaCapturing.kt
  compiler/testData/codegen/boxInline/enclosingInfo/transformedConstructorWithAdditionalObject.kt
  compiler/testData/codegen/boxInline/noInline/noInlineLambdaChainWithCapturedInline.kt
  compiler/testData/codegen/bytecodeText/kt10259_2.kt
Labels: Backend

#2766 JVM_IR: fix load check in inliner (should accept primitives too)
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/MethodInliner.kt
  compiler/testData/codegen/boxInline/capture/captureInlinable.kt
  compiler/testData/codegen/boxInline/capture/captureInlinableAndOther.kt
  compiler/testData/codegen/boxInline/lambdaTransformation/regeneratedLambdaName.kt
Labels: Backend

#2760 JVM IR: Fix types in LateInitLowering
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LateinitLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
Labels: Backend

#2749 Frontend: Avoid retypechecking the right hand side of assignment operators
  compiler/fir/resolve/tests/org/jetbrains/kotlin/fir/FirDiagnosticsSmokeTestGenerated.java
  compiler/frontend/src/org/jetbrains/kotlin/types/expressions/ExpressionTypingVisitorForStatements.java
  compiler/testData/diagnostics/tests/inference/genericAssignmentOperator.kt
  compiler/testData/diagnostics/tests/inference/genericAssignmentOperator.txt
  compiler/tests/org/jetbrains/kotlin/checkers/DiagnosticsTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/checkers/javac/DiagnosticsUsingJavacTestGenerated.java
Labels: Compiler

#2751 [JVM_IR] Reintroduce non-IEEE comparisons
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/CompareTo.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Equals.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/testData/codegen/box/ieee754/equalsDouble.kt
  compiler/testData/codegen/box/ieee754/equalsFloat.kt
  compiler/testData/codegen/box/ieee754/equalsNaN.kt
  compiler/testData/codegen/box/ieee754/equalsNullableDouble.kt
  compiler/testData/codegen/box/ieee754/equalsNullableFloat.kt
  compiler/testData/codegen/box/ieee754/greaterDouble.kt
  compiler/testData/codegen/box/ieee754/greaterFloat.kt
  compiler/testData/codegen/box/ieee754/lessDouble.kt
  compiler/testData/codegen/box/ieee754/lessFloat.kt
  compiler/testData/codegen/box/ieee754/smartCastToDifferentTypes.kt
  compiler/testData/codegen/box/ieee754/smartCastToDifferentTypesWithNumericPromotion.kt
  compiler/testData/codegen/box/ieee754/when.kt
  compiler/testData/codegen/box/ieee754/whenNoSubject.kt
  compiler/testData/codegen/bytecodeText/intrinsicsCompare/differentTypes.kt
Labels: Backend

#2774 JVM_IR: remember facade fqnames of imported classes
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmBackendContext.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmBackendFacade.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmIrCodegenFactory.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrTypeMapper.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FileClassLowering.kt
  compiler/testData/codegen/boxInline/jvmPackageName/simple.kt
  compiler/testData/compileKotlinAgainstKotlin/jvmPackageName.kt
  compiler/testData/compileKotlinAgainstKotlin/jvmPackageNameInRootPackage.kt
  compiler/testData/compileKotlinAgainstKotlin/jvmPackageNameMultifileClass.kt
  compiler/testData/compileKotlinAgainstKotlin/jvmPackageNameWithJvmName.kt
Labels: Backend

#2765 JVM_IR: move lambda captures to end of signature when inlining
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/MethodInliner.kt
  compiler/testData/codegen/box/unsignedTypes/unsignedRangeIterator.kt
  compiler/testData/codegen/boxInline/simple/captureAndArgumentIncompatibleTypes.kt
  compiler/testData/codegen/bytecodeText/boxingOptimization/unsignedRangeIteratorSpecialization.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
Labels: Backend

#2775 Ensure ForLoopsLowering only handles the CharSequence.iterator() stdlib extension function
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderInfo.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderProcessor.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/testData/codegen/box/ranges/forInCharSequenceWithCustomIterator.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2778 JVM_IR: fold inline lambdas when computing OUTERCLASS
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrSourceCompilerForInline.kt
  compiler/testData/codegen/box/reflection/enclosing/kt6368.kt
  compiler/testData/codegen/boxInline/enclosingInfo/anonymousInLambda.kt
  compiler/testData/codegen/boxInline/enclosingInfo/inlineChain.kt
  compiler/testData/codegen/boxInline/signature/typeParameterInLambda.kt
Labels: Backend

#2773 KT-28607 Extract/Introduce variable fails if caret is just after expression
  idea/src/org/jetbrains/kotlin/idea/refactoring/elementSelectionUtils.kt
  idea/testData/smartSelection/beforeComment.kt
  idea/testData/smartSelection/beforeKDocComment.kt
  idea/testData/smartSelection/beforeRightParenthesis.kt
  idea/testData/smartSelection/beforeRightParenthesis2.kt
  idea/testData/smartSelection/beforeRightParenthesis3.kt
  idea/tests/org/jetbrains/kotlin/idea/SmartSelectionTestGenerated.java
Labels: IDEA, Remote Run

#2780 [JVM IR] Fix @JvmOverloads + Parameterless Main
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/MainMethodGenerationLowering.kt
  compiler/testData/codegen/bytecodeText/parameterlessMain/dontGenerateOnJvmNameMain.kt
  compiler/testData/codegen/bytecodeText/parameterlessMain/dontGenerateOnJvmOverloads.kt
  compiler/testData/codegen/bytecodeText/parameterlessMain/dontGenerateOnMain.kt
  compiler/testData/codegen/bytecodeText/parameterlessMain/dontGenerateOnMainExtension.kt
  compiler/testData/codegen/bytecodeText/parameterlessMain/dontGenerateOnNullableArray.kt
  compiler/testData/codegen/bytecodeText/parameterlessMain/dontGenerateOnVarargsString.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#2784 JVM_IR: resolve inline fake overrides before codegen
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/ResolveInlineCalls.kt
  compiler/testData/codegen/box/jvm8/kt29242.kt
  compiler/testData/codegen/box/jvm8/kt33054.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2789 IR: refactor the DefaultArgumentStubGenerator lowering
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
Labels: Backend

#2787 JVM IR: Fix inlining of inline class properties in external modules
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/builders/declarations/declarationBuilders.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/compileKotlinAgainstKotlin/inlineClassInlineProperty.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstKotlinTestGenerated.java
Labels: Backend

#2791 JVM_IR: keep the $default suffix for stubs for @JvmName functions
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/testData/codegen/box/jvmName/functionWithDefault.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2794 IR: copy annotations when making lateinit fields nullable
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LateinitLowering.kt
  compiler/testData/codegen/box/annotations/annotationsOnLateinitFields.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2796 IR: don't attempt to move defaults to `actual` in another module
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/ExpectDeclarationRemover.kt
  compiler/testData/codegen/boxAgainstJava/multiplatform/annotationsViaActualTypeAliasFromBinary.kt
  compiler/testData/compileKotlinAgainstKotlin/expectClassActualTypeAlias.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstKotlinTestGenerated.java
Labels: Backend

#2781 Generate null check code in existing methods for special bridge methods.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/SpecialBridgeMethods.kt
  compiler/ir/backend.js/src/org/jetbrains/kotlin/ir/backend/js/lower/BridgesConstruction.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/testData/codegen/box/builtinStubMethods/mapGetOrDefault/noTypeSafeBridge.kt
  compiler/testData/codegen/box/builtinStubMethods/mapGetOrDefault/typeSafeBridge.kt
  compiler/testData/codegen/box/builtinStubMethods/mapGetOrDefault/typeSafeBridgeNotNullAny.kt
  compiler/testData/codegen/box/builtinStubMethods/mapRemove/typeSafeBridgeNotNullAny.kt
  compiler/testData/codegen/box/specialBuiltins/emptyMap.kt
  compiler/testData/codegen/box/specialBuiltins/notEmptyListAny.kt
  compiler/testData/codegen/box/specialBuiltins/notEmptyMap.kt
  compiler/testData/writeSignature/java8/mutableMapRemove.kt
Labels: Backend

#2808 JVM_IR: do not set ACC_VARARGS if vararg is not the last parameter
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/testData/codegen/box/vararg/notInLastPosition.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2759 JVM_IR: fix NPE in interface companion initializers
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LowerUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/DeclarationOrigins.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/descriptors/JvmDeclarationFactory.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStaticAnnotationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/MoveCompanionObjectFieldsLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/ObjectClassLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SingletonReferencesLowering.kt
  compiler/testData/codegen/box/objects/interfaceCompanion.kt
  compiler/testData/codegen/box/objects/interfaceCompanionObjectReference.kt
  compiler/testData/codegen/box/objects/selfReferenceToInterfaceCompanionObjectInInlineLambdaInConstructorBody.kt
Labels: Backend

#2812 FIR: set correspondingPropertySymbol of backing fields
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrVisitor.kt
  compiler/testData/codegen/box/properties/const/anotherFile.kt
Labels: Compiler

#2813 FIR: set anonymous initializers' parents
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrVisitor.kt
  compiler/testData/codegen/box/assert/jvm/noUnnecessaryClassInitialization.kt
  compiler/testData/codegen/box/classes/classObjectAsStaticInitializer.kt
  compiler/testData/codegen/box/classes/initializerBlock.kt
  compiler/testData/codegen/box/classes/kt501.kt
  compiler/testData/codegen/box/defaultArguments/callDefaultFromInitializer.kt
  compiler/testData/codegen/box/statics/anonymousInitializerIObject.kt
Labels: Compiler

#2810 Update ReadMe.md
  ReadMe.md
Labels: Remote Run

#2821 Gradle 6.0.1 support. Fix Yarn loading progress logging
  libraries/tools/kotlin-gradle-plugin/build.gradle.kts
Labels: Gradle Plugin

#2824 JVM_IR: More special bridge rewriting.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/testData/codegen/box/specialBuiltins/removeSetInt.kt
Labels: Backend

#2825 JVM_IR: Implement data class array member intrinsics.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrDataClassArrayMemberHashCode.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrDataClassArrayMemberToString.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrIntrinsicMethods.kt
  compiler/testData/codegen/box/dataClasses/hashCode/array.kt
  compiler/testData/codegen/box/dataClasses/toString/arrayParams.kt
Labels: Backend

#2802 KT-33888 Bad indentation when copy-paste to trimIndent()
  idea/src/org/jetbrains/kotlin/idea/editor/KotlinLiteralCopyPasteProcessor.kt
  idea/testData/copyPaste/plainTextLiteral/TrimIndent3.expected.kt
  idea/testData/copyPaste/plainTextLiteral/TrimIndent3.kt
  idea/testData/copyPaste/plainTextLiteral/TrimIndent3.txt
  idea/tests/org/jetbrains/kotlin/idea/conversion/copy/LiteralTextToKotlinCopyPasteTestGenerated.java
Labels: IDEA

#2764 debug information test: handle virtualMachine timeout
  compiler/testData/debug/localVariables/destructuringInLambdas.kt
  compiler/testData/debug/localVariables/localFun.kt
  compiler/testData/debug/localVariables/underscoreNames.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractDebugTest.kt
Labels: Backend

#2828 UAST: handle kotlin shifts like bitwise binary ops
  plugins/uast-kotlin/src/org/jetbrains/uast/kotlin/expressions/KotlinUBinaryExpression.kt
  plugins/uast-kotlin/testData/Bitwise.kt
  plugins/uast-kotlin/testData/Bitwise.log.txt
  plugins/uast-kotlin/testData/Bitwise.render.txt
  plugins/uast-kotlin/tests/SimpleKotlinRenderLogTest.kt
Labels: UAST

#2806 KT-32551 New J2K: Non-canonical modifiers order inspection is not applied during convertion of inner super class
  idea/src/org/jetbrains/kotlin/idea/inspections/SortModifiersInspection.kt
  idea/testData/inspectionsLocal/sortModifiers/annotation.kt
  idea/testData/inspectionsLocal/sortModifiers/annotation.kt.after
  idea/testData/inspectionsLocal/sortModifiers/annotationGroup.kt
  idea/testData/inspectionsLocal/sortModifiers/annotationGroup.kt.after
  idea/testData/inspectionsLocal/sortModifiers/simple.kt
  idea/testData/inspectionsLocal/sortModifiers/simple.kt.after
  nj2k/nj2k-services/src/org/jetbrains/kotlin/nj2k/postProcessing/J2kPostProcessor.kt
  nj2k/testData/newJ2k/postProcessing/SortModifiers.java
  nj2k/testData/newJ2k/postProcessing/SortModifiers.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2671 KT-19574 Code with inferred default parameters and parameter vs property name clashes
  nj2k/src/org/jetbrains/kotlin/nj2k/conversions/DefaultArgumentsConversion.kt
  nj2k/testData/newJ2k/overloads/ConflictParameterName.java
  nj2k/testData/newJ2k/overloads/ConflictParameterName.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2772 KT-21811 Convert string concatenation into multiline string
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertToStringTemplateIntention.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/IndentRawStringIntention.kt
  nj2k/nj2k-services/src/org/jetbrains/kotlin/nj2k/postProcessing/J2kPostProcessor.kt
  nj2k/testData/newJ2k/docComments/deprecatedDocTagWithMultiLineMessage.kt
  nj2k/testData/newJ2k/postProcessing/ConvertConcatenationToRawString.java
  nj2k/testData/newJ2k/postProcessing/ConvertConcatenationToRawString.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2823 JVM_IR: remove some redundant calls to deepCopyWithSymbols
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/descriptors/JvmDeclarationFactory.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/GenerateMultifileFacades.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/MoveCompanionObjectFieldsLowering.kt
Labels: Backend

#2814 JVM_IR: serialize anonymous functions' descriptors
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CallableReferenceLowering.kt
  compiler/testData/codegen/box/functions/functionNtoString.kt
  compiler/testData/codegen/box/functions/functionNtoStringGeneric.kt
  compiler/testData/codegen/box/reflection/lambdaClasses/parameterNamesAndNullability.kt
  compiler/testData/codegen/box/reflection/lambdaClasses/reflectOnLambdaInField.kt
  compiler/testData/codegen/box/reflection/lambdaClasses/reflectOnLambdaInStaticField.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2827 JVM_IR: Fix field initialization in secondary enum constructors.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/EnumClassLowering.kt
  compiler/testData/codegen/box/secondaryConstructors/enums.kt
Labels: Backend

#2798 KT-20357: Add samples for functions related to associate
  libraries/stdlib/common/src/generated/_Arrays.kt
  libraries/stdlib/common/src/generated/_Collections.kt
  libraries/stdlib/common/src/generated/_Sequences.kt
  libraries/stdlib/common/src/generated/_Strings.kt
  libraries/stdlib/samples/test/samples/collections/arrays.kt
  libraries/stdlib/samples/test/samples/collections/collections.kt
  libraries/stdlib/samples/test/samples/text/strings.kt
  libraries/tools/kotlin-stdlib-gen/src/templates/Snapshots.kt
Labels: Standard Library Sample

#2843 KT-35175 Clarify documentation for XorWowRandom
  libraries/stdlib/src/kotlin/random/XorWowRandom.kt
Labels: Standard Library
