Repository JetBrains/kotlin, pull requests merged in 2019-04, with the labels that each got.

#2236 IrBuiltins: refactoring for equality checks
  compiler/backend/src/org/jetbrains/kotlin/codegen/AsmUtil.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Equals.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IntrinsicMethods.java
  compiler/testData/codegen/box/dataClasses/doubleParam.kt
  compiler/testData/codegen/box/dataClasses/floatParam.kt
  compiler/testData/codegen/box/ieee754/dataClass.kt
Labels: Backend

#2215 KT-13048 "Strip trailing spaces on Save" should not strip trailing spaces inside multiline strings in Kotlin
  idea/resources/META-INF/plugin-common.xml
  idea/src/org/jetbrains/kotlin/idea/editor/KotlinStripTrailingSpacesFilterFactory.kt
  idea/testData/editor/stripTrailingSpaces/keepTrailingSpacesInRawString.kt
  idea/testData/editor/stripTrailingSpaces/keepTrailingSpacesInRawString.kt.after
  idea/tests/org/jetbrains/kotlin/idea/editor/StripTrailingSpacesTest.kt
Labels: IDEA

#2185 KT 13962: Intention to replace Java collection constructor calls with function calls from stdlib (ArrayList() → arrayListOf())
  idea/resources/META-INF/plugin-common.xml
  idea/resources/intentionDescriptions/ConvertCollectionConstructorToFunction/after.kt.template
  idea/resources/intentionDescriptions/ConvertCollectionConstructorToFunction/before.kt.template
  idea/resources/intentionDescriptions/ConvertCollectionConstructorToFunction/description.html
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertCollectionConstructorToFunction.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/.intention
  idea/testData/intentions/convertCollectionConstructorToFunction/keepArrayListCallWithArgument.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceArrayListCall.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceArrayListCall.kt.after
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceArrayListCallWithType.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceArrayListCallWithType.kt.after
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceHashMapCall.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceHashMapCall.kt.after
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceHashSetCall.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceHashSetCall.kt.after
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceLinkedHashSetCall.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceLinkedHashSetCall.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2247 KT-30725 Inspection which replaces `.sorted().first()` with `.min()`
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/SimplifiableCallChainInspection.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByDescendingFirstOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByDescendingFirstOrNull.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByDescendingLastOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByDescendingLastOrNull.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByFirstOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByFirstOrNull.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByLastOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedByLastOrNull.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedDescendingFirstOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedDescendingFirstOrNull.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedDescendingLastOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedDescendingLastOrNull.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedFirstOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedFirstOrNull.kt.after
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedLastOrNull.kt
  idea/testData/inspectionsLocal/collections/simplifiableCallChain/sortedLastOrNull.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2246 Fix KT-13962 with kotlin.collections constructors
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertCollectionConstructorToFunction.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceArrayListCallQualified.kt
  idea/testData/intentions/convertCollectionConstructorToFunction/replaceArrayListCallQualified.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2257 Create a single instance of IrIntrinsicMethods per context
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmBackendContext.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AnnotationLowering.kt
Labels: Backend

#2243 Remove broken KotlinType.toIrType function
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/descriptors/SharedVariablesManager.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrIntrinsicFunction.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/descriptors/IrBuiltIns.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/irTypes.kt
Labels: Backend

#2260 KT-30876 SimplifyNotNullAssert inspection changes semantics
  idea/resources/META-INF/plugin-common.xml
Labels: Inspections

#2261 JVM_IR: unwrap fake overrides when computing property signatures
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PropertyReferenceLowering.kt
  compiler/testData/codegen/box/reflection/builtins/enumNameOrdinal.kt
  compiler/testData/codegen/box/reflection/properties/genericOverriddenProperty.kt
Labels: Backend

#2262 JVM_IR: Output EnclosingMethod attribute.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/testData/codegen/box/polymorphicSignature/varargOfObjects_before.kt
  compiler/testData/codegen/box/reflection/enclosing/functionExpressionInProperty.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInClassObject.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInConstructor.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInFunction.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInLocalClassConstructor.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInLocalClassSuperCall.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInMemberFunction.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInMemberFunctionInLocalClass.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInMemberFunctionInNestedClass.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInObjectDeclaration.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInObjectExpression.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInPackage.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInPropertyGetter.kt
  compiler/testData/codegen/box/reflection/enclosing/lambdaInPropertySetter.kt
  compiler/testData/codegen/box/reflection/enclosing/localClassInTopLevelFunction.kt
  compiler/testData/codegen/box/reflection/mapping/extensionProperty.kt
  compiler/testData/codegen/box/reflection/mapping/topLevelProperty.kt
Labels: Backend

#2258 KT-30816 BasicJvmScriptEvaluator incorrect arg order
  libraries/scripting/jvm-host/src/kotlin/script/experimental/jvmhost/jvmScriptEvaluation.kt
  libraries/scripting/jvm-host/test/kotlin/script/experimental/jvmhost/test/ConstructorArgumentOrderTest.kt
  libraries/scripting/jvm-host/test/kotlin/script/experimental/jvmhost/test/TestScriptDefinitions.kt
Labels: Scripts

#2248 KT-30613 "Convert to anonymous function" should not insert named argument when interoping with Java functions
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/psiModificationUtils.kt
  idea/testData/intentions/lambdaToAnonymousFunction/javaMethod.1.java
  idea/testData/intentions/lambdaToAnonymousFunction/javaMethod.1.java.after
  idea/testData/intentions/lambdaToAnonymousFunction/javaMethod.kt
  idea/testData/intentions/lambdaToAnonymousFunction/javaMethod.kt.after
  idea/testData/intentions/moveLambdaInsideParentheses/javaMethod.1.java
  idea/testData/intentions/moveLambdaInsideParentheses/javaMethod.1.java.after
  idea/testData/intentions/moveLambdaInsideParentheses/javaMethod.kt
  idea/testData/intentions/moveLambdaInsideParentheses/javaMethod.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2254 KT-30761 Replace assert boolean with assert equality produces uncompilable code when compared arguments type are different
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceAssertBooleanWithAssertEqualityInspection.kt
  idea/testData/inspectionsLocal/replaceAssertBooleanWithAssertEquality/notSubtype.kt
  idea/testData/inspectionsLocal/replaceAssertBooleanWithAssertEquality/notSubtype2.kt
  idea/testData/inspectionsLocal/replaceAssertBooleanWithAssertEquality/subtype.kt
  idea/testData/inspectionsLocal/replaceAssertBooleanWithAssertEquality/subtype.kt.after
  idea/testData/inspectionsLocal/replaceAssertBooleanWithAssertEquality/subtype2.kt
  idea/testData/inspectionsLocal/replaceAssertBooleanWithAssertEquality/subtype2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2259 JVM_IR: Lower IrGetEnumValue to `this` whenever possible.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SingletonReferencesLowering.kt
  compiler/testData/codegen/box/enum/deepInnerClassInEnumEntryClass.kt
  compiler/testData/codegen/box/enum/deepInnerClassInEnumEntryClass2.kt
  compiler/testData/codegen/box/enum/enumEntryReferenceFromInnerClassConstructor1.kt
  compiler/testData/codegen/box/enum/enumEntryReferenceFromInnerClassConstructor2.kt
  compiler/testData/codegen/box/enum/enumEntryReferenceFromInnerClassConstructor3.kt
  compiler/testData/codegen/box/enum/innerClassInEnumEntryClass.kt
  compiler/testData/codegen/box/enum/innerClassMethodInEnumEntryClass.kt
  compiler/testData/codegen/box/enum/kt20651.kt
  compiler/testData/codegen/box/enum/kt20651_inlineLambda.kt
  compiler/testData/codegen/box/enum/kt7257.kt
  compiler/testData/codegen/box/enum/kt7257_anonObjectInit.kt
  compiler/testData/codegen/box/enum/kt7257_anonObjectMethod.kt
  compiler/testData/codegen/box/enum/kt7257_boundReference1.kt
  compiler/testData/codegen/box/enum/kt7257_boundReference2.kt
  compiler/testData/codegen/box/enum/kt7257_explicitReceiver.kt
  compiler/testData/codegen/box/enum/kt7257_fullyQualifiedReceiver.kt
  compiler/testData/codegen/box/enum/kt7257_namedLocalFun.kt
  compiler/testData/codegen/box/enum/kt7257_notInline.kt
Labels: Backend

#2267 Add the IR version of CompileJavaAgainstKotlin tests
  compiler/testData/compileJavaAgainstKotlin/class/ClassObject.kt
  compiler/testData/compileJavaAgainstKotlin/class/DefaultConstructor.kt
  compiler/testData/compileJavaAgainstKotlin/class/DefaultConstructorWithTwoArgs.kt
  compiler/testData/compileJavaAgainstKotlin/class/InnerClass.kt
  compiler/testData/compileJavaAgainstKotlin/class/InnerClassConstructors.kt
  compiler/testData/compileJavaAgainstKotlin/class/InnerClassOfGeneric.kt
  compiler/testData/compileJavaAgainstKotlin/method/TraitImpl.kt
  compiler/testData/compileJavaAgainstKotlin/method/primitiveOverrideWithInlineClass/InlineIntOverridesObject.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/ClassMembers.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/Constructor.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/DefaultArgs.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/Delegation.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/GenericSubstitution.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/TopLevel.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/TraitMembers.kt
  compiler/testData/compileJavaAgainstKotlin/property/ConstVal.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/AnnotationClass.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/AnnotationTrait.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/kt3698.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/staticTraitProperty.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/jvm/compiler/AbstractCompileJavaAgainstKotlinTest.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/jvm/compiler/ir/AbstractIrCompileJavaAgainstKotlinTest.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/test/KotlinTestUtils.java
  compiler/tests/org/jetbrains/kotlin/generators/tests/GenerateCompilerTests.kt
  compiler/tests/org/jetbrains/kotlin/jvm/compiler/CompileJavaAgainstKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/jvm/compiler/ir/IrCompileJavaAgainstKotlinTestGenerated.java
Labels: Backend

#2266 JVM_IR: generate exception specifications
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/ClassMembers.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/Constructor.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/Delegation.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/GenericSubstitution.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/TopLevel.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/TraitMembers.kt
Labels: Backend

#2271 KT-31008 Fix fat dSYM Info.plist copying
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/native/tasks/FatFrameworkTask.kt
Labels: Gradle Plugin

#2272 Wrong File name 'KotlinNativeTaretConfigurator.kt'
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/native/KotlinNativeTargetConfigurator.kt
Labels: Gradle Plugin

#2278 JVM_IR: a couple of small fixes to codegen
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
Labels: Backend

#2265 JVM_IR: set ConstantValue on static final primitive fields
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/ConstLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/MoveCompanionObjectFieldsLowering.kt
  compiler/testData/codegen/box/annotations/annotationWithKotlinProperty.kt
  compiler/testData/codegen/box/multifileClasses/constPropertyReferenceFromMultifileClass.kt
  compiler/testData/codegen/box/multifileClasses/optimized/callableRefToConstVal.kt
  compiler/testData/codegen/bytecodeText/constants/kt9532.kt
  compiler/testData/codegen/bytecodeText/inlineJavaStaticFields.kt
  compiler/testData/codegen/bytecodeText/inlineProtectedJavaConstantFromOtherPackage.kt
  compiler/testData/codegen/bytecodeText/preEvaluateInlineJavaStaticFields.kt
  compiler/testData/compileJavaAgainstKotlin/property/ConstVal.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/AnnotationClass.kt
  compiler/testData/compileJavaAgainstKotlin/staticFields/kt3698.kt
  compiler/testData/compileKotlinAgainstKotlin/callsToMultifileClassFromOtherPackage.kt
  compiler/testData/compileKotlinAgainstKotlin/constPropertyReferenceFromMultifileClass.kt
  compiler/testData/compileKotlinAgainstKotlin/inlinedConstants.kt
  compiler/testData/compileKotlinAgainstKotlin/kotlinPropertyAsAnnotationParameter.kt
  compiler/testData/compileKotlinAgainstKotlin/unsignedTypesInAnnotations.kt
Labels: Backend

#2268 KT-30900 Invert 'if' condition respects neither code formatting nor inline comments
  idea/src/org/jetbrains/kotlin/idea/intentions/InvertIfConditionIntention.kt
  idea/testData/intentions/invertIfCondition/notBlock4.kt
  idea/testData/intentions/invertIfCondition/notBlock4.kt.after
  idea/testData/intentions/invertIfCondition/notBlock5.kt
  idea/testData/intentions/invertIfCondition/notBlock5.kt.after
  idea/testData/intentions/invertIfCondition/notBlock6.kt
  idea/testData/intentions/invertIfCondition/notBlock6.kt.after
  idea/testData/intentions/invertIfCondition/notBlock7.kt
  idea/testData/intentions/invertIfCondition/notBlock7.kt.after
  idea/testData/intentions/invertIfCondition/notBlock8.kt
  idea/testData/intentions/invertIfCondition/notBlock8.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2233 KT-30208 Convert to anonymous object: lambda generic type argument is lost
  idea/src/org/jetbrains/kotlin/idea/intentions/LambdaToAnonymousFunctionIntention.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/SamConversionToAnonymousObjectIntention.kt
  idea/testData/intentions/samConversionToAnonymousObject/typeArgument.1.java
  idea/testData/intentions/samConversionToAnonymousObject/typeArgument.1.java.after
  idea/testData/intentions/samConversionToAnonymousObject/typeArgument.kt
  idea/testData/intentions/samConversionToAnonymousObject/typeArgument.kt.after
  idea/testData/quickfix/convertToAnonymousObject/typeArgument.kt
  idea/testData/quickfix/convertToAnonymousObject/typeArgument.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2263 KT-30769 Override quickfix creates "sealed fun"
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddFunctionToSupertypeFix.kt
  idea/testData/quickfix/override/nothingToOverride/addFunctionSealedClass.kt
  idea/testData/quickfix/override/nothingToOverride/addFunctionSealedClass.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2269 KT-30910 "Use property access syntax" is not suitable as text for inspection problem text
  idea/idea-analysis/src/org/jetbrains/kotlin/idea/inspections/IntentionBasedInspection.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/UsePropertyAccessSyntaxIntention.kt
  idea/testData/inspectionsLocal/usePropertyAccessSyntax/.inspection
  idea/testData/inspectionsLocal/usePropertyAccessSyntax/caretOnValueArgumentList.kt
  idea/testData/inspectionsLocal/usePropertyAccessSyntax/get.kt
  idea/testData/inspectionsLocal/usePropertyAccessSyntax/get.kt.after
  idea/testData/inspectionsLocal/usePropertyAccessSyntax/set.kt
  idea/testData/inspectionsLocal/usePropertyAccessSyntax/set.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2242 Fix IR declaration parents.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/PropertiesLowering.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/SharedVariablesLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/descriptors/SharedVariablesManager.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CallableReferenceLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/EnumClassLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FileClassLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FunctionNVarargInvokeLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/MoveCompanionObjectFieldsLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PropertyReferenceLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/RenameFieldsLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/PatchDeclarationParents.kt
Labels: Backend

#2274 JVM_IR: fold constant string concatenations
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FoldConstantLowering.kt
  compiler/testData/codegen/box/constants/kt9532.kt
  compiler/testData/codegen/box/constants/kt9532_lv10.kt
  compiler/testData/codegen/bytecodeText/stringOperations/constConcat.kt
  compiler/testData/codegen/bytecodeText/stringOperations/constValConcat.kt
  compiler/testData/codegen/bytecodeText/stringOperations/kt19037.kt
  compiler/testData/codegen/bytecodeText/stringOperations/partiallyConstConcat.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/inlineStringConstInsideWhen.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/nonInlinedConst.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#2244 Remove Concat intrinsic in favor of IrStringConcatenation.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/FlattenStringConcatenationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Concat.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IntrinsicMethods.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrIntrinsicFunction.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/StringPlus.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/irTypePredicates.kt
  compiler/testData/codegen/box/strings/simpleStringPlus.kt
  compiler/testData/codegen/box/strings/singleConcatNullable.kt
  compiler/testData/codegen/box/strings/stringPlusOverride.kt
  compiler/testData/codegen/bytecodeText/stringOperations/multipleNestedConcat.kt
  compiler/testData/codegen/bytecodeText/stringOperations/singleConcat.kt
  compiler/testData/codegen/bytecodeText/stringOperations/stringPlus.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2298 JVM_IR: make ToArrayLowering linear in complexity
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/ToArrayLowering.kt
Labels: Backend

#2297 Remove a redundant JVM-specific lowering
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmTypeOperatorLoweringPhase.kt
Labels: Backend

#2303 Fix CoroutineContext documentation
  libraries/stdlib/src/kotlin/coroutines/CoroutineContext.kt
Labels: Standard Library

#2306 JVM_IR: remove another redundant lowering
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmCoercionToUnitPatcher.kt
Labels: Backend

#2301 Fix typos in docs
  libraries/stdlib/coroutines-experimental/jvm/src/kotlin/coroutines/experimental/intrinsics/IntrinsicsJvm.kt
  libraries/stdlib/coroutines-experimental/src/kotlin/coroutines/experimental/CoroutinesIntrinsicsExperimentalH.kt
  libraries/stdlib/js-ir/src/kotlin/coroutines_13/IntrinsicsJs.kt
  libraries/stdlib/js-v1/src/kotlin/coroutines/intrinsics/IntrinsicsJs.kt
  libraries/stdlib/jvm/src/kotlin/coroutines/intrinsics/IntrinsicsJvm.kt
  libraries/stdlib/src/kotlin/coroutines/Continuation.kt
  libraries/stdlib/src/kotlin/coroutines/CoroutinesIntrinsicsH.kt
  libraries/stdlib/src/kotlin/coroutines/intrinsics/Intrinsics.kt
Labels: Standard Library
