Repository JetBrains/kotlin, pull requests merged in 2019-02, with the labels that each got.

#2094 JVM_IR: Do not add redundant field initializers.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/bytecodeText/redundantValInitializer.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/IrBytecodeTextTestGenerated.java
Labels: Backend

#2093 JVM_IR: Fix stack underflow for unit coercion of when expressions.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLoweringPhases.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmTypeOperatorLoweringPhase.kt
  compiler/testData/codegen/box/when/noElseCoerceToUnit.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2101 KT-29321 "Remove empty primary constructor": apply for enum entries
  idea/resources/META-INF/plugin-common.xml
  idea/resources/inspectionDescriptions/RedundantEnumConstructorInvocation.html
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantEnumConstructorInvocationInspection.kt
  idea/testData/inspectionsLocal/redundantEnumConstructorInvocation/.inspection
  idea/testData/inspectionsLocal/redundantEnumConstructorInvocation/basic.kt
  idea/testData/inspectionsLocal/redundantEnumConstructorInvocation/basic.kt.after
  idea/testData/inspectionsLocal/redundantEnumConstructorInvocation/basic2.kt
  idea/testData/inspectionsLocal/redundantEnumConstructorInvocation/basic2.kt.after
  idea/testData/inspectionsLocal/redundantEnumConstructorInvocation/hasArgument.kt
  idea/testData/inspectionsLocal/redundantEnumConstructorInvocation/hasError.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2098 KT-29248 "Convert member to extension" doesn't preserve visibility
  idea/src/org/jetbrains/kotlin/idea/intentions/declarations/ConvertMemberToExtensionIntention.kt
  idea/testData/intentions/declarations/convertMemberToExtension/privateInInternalClass.kt
  idea/testData/intentions/declarations/convertMemberToExtension/privateInInternalClass.kt.after
  idea/testData/intentions/declarations/convertMemberToExtension/publicInInternalClass.kt
  idea/testData/intentions/declarations/convertMemberToExtension/publicInInternalClass.kt.after
  idea/testData/intentions/declarations/convertMemberToExtension/publicInPrivateClass.kt
  idea/testData/intentions/declarations/convertMemberToExtension/publicInPrivateClass.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2097 KT-29085 False positive "Class member can have 'private' visibility" for a `const val` used in a public inline function
  idea/src/org/jetbrains/kotlin/idea/inspections/MemberVisibilityCanBePrivateInspection.kt
  idea/testData/inspections/memberVisibilityCanBePrivate/inline.kt
Labels: Inspections

#2109 KT-29056 KNPE in ConvertPrimaryConstructorToSecondary with missing property identifier
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertPrimaryConstructorToSecondaryIntention.kt
  idea/testData/intentions/convertPrimaryConstructorToSecondary/noArgNameVal.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2108 KT-28596 "Can be replaced with binary operator" shouldn't be suggested when receiver or argument is floating point type
  compiler/frontend/src/org/jetbrains/kotlin/resolve/calls/smartcasts/DataFlowUtils.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/conventionNameCalls/ReplaceCallWithBinaryOperatorInspection.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/equalsDoubleSmartCast2.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/equalsDoubleSmartCast2.kt.after
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/equalsDoubleSmartCast3.kt
  idea/testData/inspectionsLocal/conventionNameCalls/replaceCallWithBinaryOperator/equalsDoubleSmartCast3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2114 KT-29763 False negative "Object literal can be converted to lambda" for block body function with explicit return
  idea/src/org/jetbrains/kotlin/idea/intentions/ObjectLiteralToLambdaIntention.kt
  idea/testData/intentions/objectLiteralToLambda/inspectionData/expected.xml
Labels: Inspections

#2122 KT-26979 "Lambda argument inside parentheses" inspection is not reported, if function type is actual type argument, but not formal parameter type
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/psiModificationUtils.kt
  idea/testData/inspectionsLocal/moveLambdaOutsideParentheses/typeParameter.kt
  idea/testData/inspectionsLocal/moveLambdaOutsideParentheses/typeParameter.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2121 Make IrDeclaration.origin mutable
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/IrDeclaration.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/impl/IrDeclarationBase.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/lazy/IrLazyDeclarationBase.kt
Labels: Compiler

#2085 KT-20357 - add sample for Regex.findAll()
  libraries/stdlib/common/src/kotlin/TextH.kt
  libraries/stdlib/js/src/kotlin/regex.kt
  libraries/stdlib/jvm/src/kotlin/text/regex/Regex.kt
  libraries/stdlib/samples/test/samples/text/regex.kt
Labels: Standard Library Sample

#2126 Generate better code for branches based on comparisons.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/CompareTo.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Equals.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IntrinsicMethod.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrIntrinsicFunction.kt
  compiler/testData/codegen/bytecodeText/conditions/negatedZeroCompare.kt
  compiler/testData/codegen/bytecodeText/conditions/zeroCompare.kt
  compiler/testData/codegen/bytecodeText/lazyCodegen/negateObjectComp.kt
  compiler/testData/codegen/bytecodeText/lazyCodegen/negateObjectCompChaing.kt
  compiler/testData/codegen/bytecodeText/nullCheckOptimization/alreadyCheckedForIs.kt
Labels: Compiler

#2117 Change short form of flag name to full one for cinterop tool
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/tasks/KotlinNativeTasks.kt
Labels: Gradle Plugin

#2124 Use file symbol instead of a file name string in IrReturnableBlockImpl
  compiler/ir/backend.js/src/org/jetbrains/kotlin/ir/backend/js/lower/inline/DeepCopyIrTreeWithDescriptors.kt
  compiler/ir/backend.js/src/org/jetbrains/kotlin/ir/backend/js/lower/inline/FunctionInlining.kt
  compiler/ir/backend.js/src/org/jetbrains/kotlin/ir/backend/js/lower/inline/ModuleIndex.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/expressions/IrBlock.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/expressions/impl/IrBlockImpl.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/DeepCopyIrTreeWithSymbols.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
Labels: Compiler

#2146 KT-30082 False positive "redundant `.let` call" for lambda functions stored in nullable references
  idea/src/org/jetbrains/kotlin/idea/intentions/ReplaceSingleLineLetIntention.kt
  idea/testData/intentions/replaceSingleLineLetIntention/functionInVariableCall.kt
  idea/testData/intentions/replaceSingleLineLetIntention/functionInVariableInvokeCall.kt
  idea/testData/intentions/replaceSingleLineLetIntention/functionInVariableInvokeCall.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections
