Repository JetBrains/kotlin, pull requests merged in 2019-10, with the labels that each got.

#2632 Avoid duplicate IR elements in ForLoopsLowering (accidentally introduced in #2620).
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderProcessor.kt
Labels: Backend

#2610 Use `getPropertyGetter()` in ForLoopsLowering to retrieve property getters
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionHandlers.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/util/IrBackendUtils.kt
Labels: Backend

#2638 JVM IR: Use WrappedClassDescriptor in class builder.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/testData/codegen/box/inlineClasses/functionNameMangling/mangledFunctionsCanBeOverridden.kt
Labels: Backend

#2579 KT-26431 Quickfix to remove redundant label
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/RemoveRedundantLabelFix.kt
  idea/testData/quickfix/removeRedundantLabel/simple.kt
  idea/testData/quickfix/removeRedundantLabel/simple.kt.after
  idea/testData/quickfix/removeRedundantLabel/simple2.kt
  idea/testData/quickfix/removeRedundantLabel/simple2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixMultiFileTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2629 KT-32012 Change parameter type quick fix: Don't use qualified name
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeParameterTypeFix.kt
  idea/testData/quickfix/typeMismatch/fixOverloadedOperator/changeTimesFunctionParameterType.kt
  idea/testData/quickfix/typeMismatch/fixOverloadedOperator/changeTimesFunctionParameterType.kt.after
  idea/testData/quickfix/typeMismatch/letClassImplementGenericInterfaceTwice.kt
  idea/testData/quickfix/typeMismatch/letClassImplementGenericStarInterface.kt
  idea/testData/quickfix/typeMismatch/letClassImplementIndirectlyInheritedInterface.kt
  idea/testData/quickfix/typeMismatch/letStringImplementInterface.kt
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changeFunctionParameterType1.kt
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changeFunctionParameterType1.kt.after
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changeParameterTypeLongNameRuntime.kt
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changeParameterTypeLongNameRuntime.kt.after
Labels: Inspections

#2634 KT-33660 "Convert to anonymous object" with nested SAM interface inserts `object` keyword in the wrong place
  idea/src/org/jetbrains/kotlin/idea/intentions/SamConversionToAnonymousObjectIntention.kt
  idea/testData/intentions/samConversionToAnonymousObject/nestedClass.1.java
  idea/testData/intentions/samConversionToAnonymousObject/nestedClass.1.java.after
  idea/testData/intentions/samConversionToAnonymousObject/nestedClass.kt
  idea/testData/intentions/samConversionToAnonymousObject/nestedClass.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2652 JVM_IR: use correct descriptor type in JvmStaticAnnotationLowering
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStaticAnnotationLowering.kt
Labels: Backend

#2656 JVM IR: Respect InlineConstVals
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/ConstLowering.kt
  compiler/testData/codegen/box/constants/kt9532_lv10.kt
  compiler/testData/codegen/bytecodeText/constProperty/noInline.kt
  compiler/testData/codegen/bytecodeText/constProperty/noInlineInCmp.kt
  compiler/testData/codegen/bytecodeText/lazyCodegen/negateConstantCompare.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/nonInlinedConst.kt
Labels: Backend

#2642 KT-7940 J2K: convert Integer.MAX_VALUE to Int.MAX_VALUE
  nj2k/src/org/jetbrains/kotlin/nj2k/conversions/BuiltinMembersConversion.kt
  nj2k/testData/newJ2k/issues/kt-19357.kt
  nj2k/testData/newJ2k/methodCallExpression/specialBuiltinMembers.java
  nj2k/testData/newJ2k/methodCallExpression/specialBuiltinMembers.kt
Labels: J2K

#2600 Minor: Fix some test cases
  compiler/testData/codegen/bytecodeText/deadCodeElimination/boxing.kt
  compiler/testData/codegen/bytecodeText/deadCodeElimination/simpleConstructorNotRedundant.kt
  compiler/testData/codegen/bytecodeText/stringOperations/primitiveToString.kt
Labels: Backend

#2624 Introduce local variable type checker.
  compiler/backend/src/org/jetbrains/kotlin/codegen/ClosureGenerationStrategy.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/FunctionCodegen.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/codegenUtil.kt
  compiler/testData/checkLocalVariablesTable/destructuringInFor.kt
  compiler/testData/checkLocalVariablesTable/destructuringInLambdas.kt
  compiler/testData/checkLocalVariablesTable/destructuringInlineLambda.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/inline.kt
  compiler/testData/checkLocalVariablesTable/underscoreNames.kt
  compiler/testData/codegen/asmLike/receiverMangling/deepInline.txt
  compiler/testData/codegen/asmLike/receiverMangling/deepInlineWithLabels.txt
  compiler/testData/codegen/asmLike/receiverMangling/deepNoinlineWithLabels_after.txt
  compiler/testData/codegen/asmLike/receiverMangling/deepNoinlineWithLabels_before.txt
  compiler/testData/codegen/asmLike/receiverMangling/deepNoinline_after.txt
  compiler/testData/codegen/asmLike/receiverMangling/deepNoinline_before.txt
  compiler/testData/codegen/asmLike/receiverMangling/inlineReceivers.txt
  compiler/testData/codegen/asmLike/receiverMangling/mangledNames.txt
  compiler/testData/codegen/asmLike/receiverMangling/nonInlineReceivers_after.txt
  compiler/testData/codegen/asmLike/receiverMangling/nonInlineReceivers_before.txt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/AbstractAsmLikeInstructionListingTest.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/AbstractCheckLocalVariablesTableTest.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CheckLocalVariablesTableTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCheckLocalVariablesTableTestGenerated.java
Labels: Backend

#2655 Generate unique parameter names in LocalDeclarationsLowering
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/testData/codegen/box/closures/captureExtensionReceiverX2.kt
  compiler/testData/codegen/boxInline/defaultValues/lambdaInlining/receiverClashInClass2.kt
  compiler/testData/codegen/boxInline/innerClasses/captureThisAndOuter.kt
  compiler/testData/codegen/bytecodeText/mangling/parentheses.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2645 JVM IR: Fix local delegated properties with inline class types
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/box/inlineClasses/kt25750.kt
Labels: Backend

#2508 Use receiver syntax for lambda execution
  libraries/tools/kotlin-gradle-plugin-api/src/main/kotlin/org/jetbrains/kotlin/gradle/plugin/KotlinCompilation.kt
  libraries/tools/kotlin-gradle-plugin-api/src/main/kotlin/org/jetbrains/kotlin/gradle/plugin/KotlinTarget.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/plugin/mpp/kotlinCompilations.kt
Labels: Gradle Plugin

#2654 JVM_IR: omit annotations on outer this parameters
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrCallableMethod.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/testData/codegen/box/innerNested/innerGenericClassFromJava.kt
  compiler/testData/codegen/box/parametersMetadata/innerClass.kt
  compiler/testData/codegen/box/reflection/call/bound/innerClassConstructor.kt
  compiler/testData/codegen/box/reflection/call/innerClassConstructor.kt
  compiler/testData/codegen/box/reflection/mapping/types/constructors.kt
  compiler/testData/compileJavaAgainstKotlin/class/InnerClass.kt
  compiler/testData/compileJavaAgainstKotlin/class/InnerClassConstructors.kt
  compiler/testData/compileJavaAgainstKotlin/class/InnerClassOfGeneric.kt
Labels: Backend

#2543 KT-30643 J2K: wrong position of TYPE_USE annotation
  j2k/testData/JavaApi.java
  nj2k/src/org/jetbrains/kotlin/nj2k/JavaToJKTreeBuilder.kt
  nj2k/src/org/jetbrains/kotlin/nj2k/printing/JKCodeBuilder.kt
  nj2k/src/org/jetbrains/kotlin/nj2k/tree/elements.kt
  nj2k/src/org/jetbrains/kotlin/nj2k/types/typesUtils.kt
  nj2k/testData/newJ2k/annotations/typeUseAnnotation.java
  nj2k/testData/newJ2k/annotations/typeUseAnnotation.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2661 [JVM_IR] Map suspend lambdas to original function for inlining.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrSourceCompilerForInline.kt
  compiler/testData/codegen/box/coroutines/inlineSuspendLambdaNonLocalReturn.kt
  compiler/testData/codegen/box/coroutines/nonLocalReturnFromInlineLambda.kt
  compiler/testData/codegen/box/coroutines/nonLocalReturnFromInlineLambdaDeep.kt
  compiler/testData/codegen/box/coroutines/unitTypeReturn/coroutineNonLocalReturn.kt
Labels: Backend

#2665 [IR] Deal with forward references in default argument lambdas.
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/fir/Fir2IrTextTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/FunctionGenerator.kt
  compiler/testData/codegen/box/defaultArguments/useNextParamInLambda.kt
  compiler/testData/ir/irText/declarations/parameters/useNextParamInLambda.fir.txt
  compiler/testData/ir/irText/declarations/parameters/useNextParamInLambda.kt
  compiler/testData/ir/irText/declarations/parameters/useNextParamInLambda.txt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/ir/IrTextTestCaseGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2681 JVM_IR: discard parameter annotations in anonymous object constructors
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/testData/codegen/box/closures/crossinlineLocalDeclaration.kt
  compiler/testData/codegen/box/constructorCall/loopInInlineFunInSuperConstructorCallWithEnabledNormalization.kt
  compiler/testData/codegen/box/constructorCall/loopInInlineFunInSuperConstructorCallWithEnabledNormalizationSince13.kt
  compiler/testData/codegen/boxAgainstJava/inline/kt19910.kt
  compiler/testData/codegen/boxInline/anonymousObject/anonymousObjectOnDeclarationSiteSuperParams.kt
  compiler/testData/codegen/boxInline/anonymousObject/capturedLambdaInInlineObject.kt
  compiler/testData/codegen/boxInline/anonymousObject/kt13374.kt
  compiler/testData/codegen/boxInline/anonymousObject/kt16193.kt
  compiler/testData/codegen/boxInline/anonymousObject/kt19434.kt
  compiler/testData/codegen/boxInline/anonymousObject/kt19434_2.kt
  compiler/testData/codegen/boxInline/delegatedProperty/localInAnonymousObject.kt
  compiler/testData/codegen/boxInline/enclosingInfo/objectInInlineFun.kt
  compiler/testData/codegen/boxInline/reified/kt15997_2.kt
  compiler/testData/codegen/boxInline/signature/inProjectionSubstitution.kt
  compiler/testData/codegen/boxInline/signature/outProjectionSubstitution.kt
  compiler/testData/codegen/boxInline/signature/sameFormalParameterName.kt
  compiler/testData/codegen/boxInline/signature/sameReifiedFormalParameterName.kt
  compiler/testData/codegen/boxInline/signature/starProjectionSubstitution.kt
  compiler/testData/codegen/boxInline/signature/typeParametersSubstitution.kt
  compiler/testData/codegen/boxInline/signature/typeParametersSubstitution2.kt
  compiler/testData/codegen/boxInline/smap/anonymous/objectOnInlineCallSiteWithCapture.kt
  compiler/testData/loadJava/compiledKotlin/inline/inlineFunction.kt
Labels: Backend

#2685 [JVM_IR] Avoid unbounded recursion for recursive suspend functions.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/expressions/impl/IrConstImpl.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/tailrec/extention.kt
  compiler/testData/codegen/box/coroutines/recursiveSuspend.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionAsCoroutine/returnNoSuspend.kt
  compiler/testData/codegen/box/coroutines/tailOperations/tailInlining.kt
Labels: Backend

#2676 JVM: Fix KT-34268
  compiler/backend/src/org/jetbrains/kotlin/codegen/ExpressionCodegen.java
  compiler/testData/codegen/box/inlineClasses/kt34268.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2692 JVM_IR: fix synthetic accessor generation (again)
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/box/syntheticAccessors/inlineInOtherClass.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2697 JVM_IR: discard results of nonexhaustive whens' branches
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/bytecodeText/constantConditions/inlineIfFalse.kt
Labels: Backend

#2686 KT-34325 "Control flow with empty body" inspection should not report ifs with comments
  idea/src/org/jetbrains/kotlin/idea/inspections/ControlFlowWithEmptyBodyInspection.kt
  idea/testData/inspectionsLocal/controlFlowWithEmptyBody/if/blockHasCommentWithElse.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2694 [JVM_IR] Contain 'invokeSuspend' rewriting to the suspend function.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/testData/codegen/box/coroutines/await.kt
  compiler/testData/codegen/box/coroutines/controllerAccessFromInnerLambda.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/tailrec/realIteratorFoldl.kt
Labels: Backend

#2706 JVM_IR: remove an assertion that triggers due to a frontend bug
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/controlStructures/ifIncompatibleBranches.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2712 Fix test to actually fail if expected exception is not thrown.
  compiler/testData/codegen/box/defaultArguments/useNextParamInLambda.kt
Labels: Backend

#2707 KT-34432 Replace with safe call intention inserts redundant elvis operator
  idea/src/org/jetbrains/kotlin/idea/quickfix/ReplaceCallFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/ReplaceCallFixUtils.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/ReplaceInfixOrOperatorCallFix.kt
  idea/testData/quickfix/replaceInfixOrOperatorCall/hasElvis.kt
  idea/testData/quickfix/replaceInfixOrOperatorCall/hasElvis.kt.after
  idea/testData/quickfix/replaceWithSafeCall/hasElvis.kt
  idea/testData/quickfix/replaceWithSafeCall/hasElvis.kt.after
  idea/testData/quickfix/replaceWithSafeCall/hasElvis2.kt
  idea/testData/quickfix/replaceWithSafeCall/hasElvis2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2702 KT-33580 False positive "Redundant visibility modifier" overriding property with protected set visibility
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantVisibilityModifierInspection.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter2.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter3.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter3.kt.after
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter4.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter5.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter6.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/publicOverrideProtectedSetter6.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2682 JVM_IR: add $assertionsDisabled when an inlined function uses it
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrSourceCompilerForInline.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AssertionLowering.kt
  compiler/testData/codegen/boxInline/assert/jvmAssertInlineFunctionAssertionsEnabled.kt
  compiler/testData/codegen/boxInline/assert/jvmClassInitializer.kt
  compiler/testData/codegen/boxInline/assert/jvmCompanion.kt
  compiler/testData/codegen/boxInline/assert/jvmCrossinlineLambdaDeclarationSite.kt
  compiler/testData/codegen/boxInline/assert/jvmCrossinlineLambdaDeclarationSiteOnly.kt
  compiler/testData/codegen/boxInline/assert/jvmCrossinlineSAMDeclarationSite.kt
  compiler/testData/codegen/boxInline/assert/jvmDoubleInline.kt
  compiler/testData/codegen/boxInline/assert/jvmInlineUsedAsNoinline.kt
  compiler/testData/codegen/bytecodeText/assert/jvmInline.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
Labels: Backend

#2711 [JVM_IR] Support suspend functions that can be overriden.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/DeclarationOrigins.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/expressions/impl/IrCallImpl.kt
  compiler/testData/codegen/box/coroutines/suspendCovariantJavaOverrides.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionAsCoroutine/openFunWithJava.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionAsCoroutine/superCall.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionAsCoroutine/superCallAbstractClass.kt
Labels: Backend

#2716 JVM_IR inliner fixes: remove code that does nothing
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrSourceCompilerForInline.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/callableReference/longArgs.kt
Labels: Backend

#2708 Add support for @CompilerOptions script annotation.
  libraries/tools/kotlin-main-kts-test/test/org/jetbrains/kotlin/mainKts/test/mainKtsTest.kt
  libraries/tools/kotlin-main-kts-test/testData/compile-java6.main.kts
  libraries/tools/kotlin-main-kts/src/org/jetbrains/kotlin/mainKts/scriptDef.kt
  libraries/tools/kotlin-script-util/src/main/kotlin/org/jetbrains/kotlin/script/util/annotations.kt
Labels: Scripts

#2695 JVM_IR: never create temporaries in $default stubs
  compiler/backend/src/org/jetbrains/kotlin/codegen/optimization/RedundantGotoMethodTransformer.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmSymbols.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrIntrinsicMethods.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/ReassignParameter.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultArgumentStubGenerator.kt
  compiler/testData/codegen/bytecodeText/argumentOrder/sameOrderWithDefault.kt
  compiler/testData/codegen/bytecodeText/defaultArguments/maskCheckSequence.kt
  compiler/testData/codegen/bytecodeText/defaultMethodBody.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#2726 [JVM_IR] Support default interface suspend functions.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/builders/declarations/declarationBuilders.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceDelegationLowering.kt
  compiler/testData/codegen/box/coroutines/delegatedSuspendMember.kt
  compiler/testData/codegen/box/coroutines/inlineClasses/bridgeGenerationCrossinline.kt
  compiler/testData/codegen/box/coroutines/inlineClasses/bridgeGenerationNonInline.kt
  compiler/testData/codegen/box/coroutines/suspendDefaultImpl.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionAsCoroutine/superCallInterface.kt
Labels: Backend

#2731 Fir2Ir: Set initializers for temporary variables
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/testData/ir/irText/expressions/floatingPointComparisons/whenByFloatingPoint.fir.txt
  compiler/testData/ir/irText/expressions/when.fir.txt
  compiler/testData/ir/irText/expressions/whenCoercedToUnit.fir.txt
  compiler/testData/ir/irText/expressions/whenReturn.fir.txt
  compiler/testData/ir/irText/expressions/whenUnusedExpression.fir.txt
  compiler/testData/ir/irText/regressions/kt24114.fir.txt
Labels: Compiler

#2732 JVM_IR: Do not generate null checks for suspend function views.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/DeclarationOrigins.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/coroutines/localFunctions/named/rec.kt
Labels: Backend

#2735 JVM IR: Minor coroutine fixes
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
Labels: Backend

#2727 JVM_IR: add accessors for protected members in divergent hierarchies
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/boxAgainstJava/visibility/protectedAndPackage/protectedAccessor.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxAgainstJavaCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxAgainstJavaCodegenTestGenerated.java
Labels: Backend

#2713 Kotlin/Native performance gradle plugin
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/native/performance/KotlinPerformancePlugin.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/native/performance/PerformanceExtension.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/native/tasks/KotlinNativePerformanceTask.kt
  libraries/tools/kotlin-gradle-plugin/src/main/resources/META-INF/gradle-plugins/kotlin-native-performance.properties
  libraries/tools/kotlin-gradle-plugin/src/main/resources/META-INF/gradle-plugins/org.jetbrains.kotlin.native.performance.properties
Labels: Gradle Plugin

#2736 KT-34303 IDE should suggest to import an extension iterator function when using for loop with a range
  idea/src/org/jetbrains/kotlin/idea/quickfix/ImportFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/testData/quickfix/autoImports/iteratorOperator.after.kt
  idea/testData/quickfix/autoImports/iteratorOperator.before.Dependency.kt
  idea/testData/quickfix/autoImports/iteratorOperator.before.Main.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixMultiFileTestGenerated.java
Labels: Inspections

#2744 JVM_IR: don't regenerate objects in lambdas inlined into objects
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/InliningContext.kt
  compiler/testData/codegen/box/coroutines/crossInlineWithCapturedOuterReceiver.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/delegate.kt
  compiler/testData/codegen/box/coroutines/kt21605.kt
  compiler/testData/codegen/boxInline/anonymousObject/kt13182.kt
  compiler/testData/codegen/boxInline/anonymousObject/kt14011_3.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturing/lambdaChainSimple.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturing/lambdaChain_2.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturing/lambdaChain_3.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturing/noInlineLambda.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/inlinelambdaChain.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/lambdaChainSimple.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/lambdaChainSimple_2.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/lambdaChain_2.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/lambdaChain_3.kt
  compiler/testData/codegen/boxInline/anonymousObject/properRecapturingInClass/noInlineLambda.kt
  compiler/testData/codegen/boxInline/anonymousObject/sam/kt22304.kt
  compiler/testData/codegen/boxInline/enclosingInfo/inlineChain2.kt
  compiler/testData/codegen/boxInline/syntheticAccessors/withinInlineLambda/directFieldAccessInCrossInline.kt
  compiler/testData/codegen/boxInline/syntheticAccessors/withinInlineLambda/privateInCrossInline.kt
  compiler/testData/codegen/boxInline/syntheticAccessors/withinInlineLambda/superInCrossInline.kt
Labels: Backend

#2635 KT-34049 Formatter breaks string inside template expression with elvis operator
  idea/formatter/src/org/jetbrains/kotlin/idea/formatter/KotlinCommonBlock.kt
  idea/testData/formatter/ElvisInStringTemplate.after.kt
  idea/testData/formatter/ElvisInStringTemplate.kt
  idea/tests/org/jetbrains/kotlin/formatter/FormatterTestGenerated.java
Labels: Formatter
