Repository JetBrains/kotlin, pull requests merged in 2019-07, with the labels that each got.

#2433 JVM_IR: Handle annotation KClass fields in external declarations
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/AsmTypes.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/util/IrTypeUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/PromisedValue.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AnnotationLowering.kt
  compiler/testData/codegen/boxAgainstJava/annotations/kClassMapping/arrayClassParameter.kt
  compiler/testData/codegen/boxAgainstJava/annotations/kClassMapping/arrayClassParameterOnJavaClass.kt
  compiler/testData/codegen/boxAgainstJava/annotations/kClassMapping/classParameter.kt
  compiler/testData/codegen/boxAgainstJava/annotations/kClassMapping/classParameterOnJavaClass.kt
  compiler/testData/codegen/boxAgainstJava/annotations/kClassMapping/varargClassParameter.kt
  compiler/testData/codegen/boxAgainstJava/annotations/kClassMapping/varargClassParameterOnJavaClass.kt
Labels: Backend

#2430 Reduce calls to Object.hashCode from LabelNormalizationMethodTransformer
  compiler/backend/src/org/jetbrains/kotlin/codegen/optimization/LabelNormalizationMethodTransformer.kt
Labels: Backend

#2448 KT-32318 "Remove argument name" intention does not remove square braces for annotation vararg argument
  idea/src/org/jetbrains/kotlin/idea/intentions/RemoveArgumentNameIntention.kt
  idea/testData/intentions/removeArgumentName/arrayLiteral.kt
  idea/testData/intentions/removeArgumentName/arrayLiteral.kt.after
  idea/testData/intentions/removeArgumentName/arrayLiteralForVararg.kt
  idea/testData/intentions/removeArgumentName/arrayLiteralForVararg.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2451 KT-32347 Duplicative "Remove redundant 'public' modifier" suggestion for getter
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantVisibilityModifierInspection.kt
  idea/testData/quickfix/redundantVisibilityModifier/getter.kt
  idea/testData/quickfix/redundantVisibilityModifier/getter.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2255 KT-20357 Add sample code for hashMapOf
  libraries/stdlib/samples/test/samples/collections/maps.kt
  libraries/stdlib/src/kotlin/collections/Maps.kt
Labels: Standard Library Sample

#2423 KT-16602: Provide samples for sorting API usage
  libraries/stdlib/common/src/generated/_Arrays.kt
  libraries/stdlib/common/src/generated/_UArrays.kt
  libraries/stdlib/js-ir/src/generated/_ArraysJs.kt
  libraries/stdlib/js/src/generated/_ArraysJs.kt
  libraries/stdlib/jvm/src/generated/_ArraysJvm.kt
  libraries/stdlib/jvm/src/kotlin/collections/MutableCollectionsJVM.kt
  libraries/stdlib/samples/test/samples/collections/arrays.kt
  libraries/stdlib/samples/test/samples/collections/collections.kt
  libraries/tools/kotlin-stdlib-gen/src/templates/Arrays.kt
Labels: Standard Library Sample

#2446 Add intrinsic for ULong/UInt.toString on Java 8+
  compiler/backend/src/org/jetbrains/kotlin/codegen/intrinsics/IntrinsicMethods.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/intrinsics/Java8Unsigned.kt
  compiler/testData/codegen/box/unsignedTypes/unsignedIntToString.kt
  compiler/testData/codegen/box/unsignedTypes/unsignedLongToString.kt
  compiler/testData/codegen/bytecodeText/unsignedTypes/unsignedIntToString_jvm18.kt
  compiler/testData/codegen/bytecodeText/unsignedTypes/unsignedLongToString_jvm18.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2476 psi2ir: precompute sort keys when generating members
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/ClassGenerator.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/StableDescriptorsComparator.kt
Labels: Backend

#2474 KT-30794 Quickfix for unchecked cast produces invalid code
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeToStarProjectionFix.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter2.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter3.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter3.kt.after
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter4.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter4.kt.after
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter5.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter6.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter6.kt.after
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter7.kt
  idea/testData/quickfix/addStarProjections/cast/genericTypeParameter7.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections
