Repository JetBrains/kotlin, pull requests merged in 2019-12, with the labels that each got.

#2847 Add explicit irReturn when transforming expression body to block body.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FakeInliningLocalVariablesLowering.kt
Labels: Backend

#2846 JVM_IR: implement -Xpolymorphic-signature
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/DeclarationOrigins.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PolymorphicSignatureLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/VarargLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/box/polymorphicSignature/anonymousSubclass.kt
  compiler/testData/codegen/box/polymorphicSignature/invoke.kt
  compiler/testData/codegen/box/polymorphicSignature/invokeExact.kt
  compiler/testData/codegen/box/polymorphicSignature/invokeExactWithInlineClass.kt
  compiler/testData/codegen/box/polymorphicSignature/varargOfObjects_after.kt
Labels: Backend

#2852 JVM_IR: handle @JvmName on annotation getters
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/AnnotationCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/testData/codegen/box/jvmName/annotationProperties.kt
  compiler/testData/compileKotlinAgainstKotlin/jvmNames.kt
Labels: Backend

#2836 JVM/JVM_IR: fix mapping of KClass in annotation classes
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrTypeMapper.kt
  compiler/testData/writeSignature/annotations/kArrayClassOfKClass.kt
  compiler/testData/writeSignature/annotations/kClassOfKClass.kt
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrWriteSignatureTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/jvm/compiler/WriteSignatureTestGenerated.java
  core/descriptors.jvm/src/org/jetbrains/kotlin/load/kotlin/TypeMappingMode.kt
  core/descriptors.jvm/src/org/jetbrains/kotlin/load/kotlin/typeSignatureMapping.kt
Labels: Backend

#2869 KT-33109 "Add constructor parameters" quick fix should add default parameters from super class
  idea/src/org/jetbrains/kotlin/idea/quickfix/SuperClassNotInitialized.kt
  idea/testData/quickfix/supertypeInitialization/addImport.kt.after
  idea/testData/quickfix/supertypeInitialization/addParameters.kt.after
  idea/testData/quickfix/supertypeInitialization/multipleConstructors.kt.after
  idea/testData/quickfix/supertypeInitialization/vararg4.kt
  idea/testData/quickfix/supertypeInitialization/vararg4.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2832 KT-20357: Add sample for Collections distinct and distinctBy methods
  libraries/stdlib/common/src/generated/_Arrays.kt
  libraries/stdlib/common/src/generated/_Collections.kt
  libraries/stdlib/common/src/generated/_Sequences.kt
  libraries/stdlib/samples/test/samples/collections/collections.kt
  libraries/tools/kotlin-stdlib-gen/src/templates/Sets.kt
Labels: Standard Library Sample

#2873 JVM_IR: do not do invokeinterface on Object methods
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceDelegationLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
  compiler/testData/codegen/box/super/interfaceHashCode.kt
  compiler/testData/codegen/bytecodeText/hashCode/interfaceHashCode.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2878 KT-35454 Weird implementation of KtUltraLightFieldImpl.isEquivalentTo
  compiler/light-classes/src/org/jetbrains/kotlin/asJava/classes/ultraLightField.kt
Labels: IDEA

#2888 JVM_IR: Backwards compatible handling of default tailrec params.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/TailrecLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmTailrecLowering.kt
  compiler/testData/codegen/box/diagnostics/functions/tailRecursion/defaultArgsWithSideEffectsOld.kt
Labels: Backend

#2887 JVM_IR: make constructors of named local classes public
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/testData/writeFlags/function/constructors/localClass.kt
  compiler/tests/org/jetbrains/kotlin/codegen/flags/WriteFlagsTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrWriteFlagsTestGenerated.java
Labels: Backend

#2755 KT-31967 Typo in inspection name: "'+=' create new list under the hood"
  idea/src/org/jetbrains/kotlin/idea/inspections/SuspiciousCollectionReassignmentInspection.kt
Labels: Inspections

#2660 KT-34203 'Add constructor parameter' fix does not add generics
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddConstructorParameterFromSuperTypeCallFix.kt
  idea/testData/quickfix/addConstructorParameterFromSuperTypeCall/generics.kt
  idea/testData/quickfix/addConstructorParameterFromSuperTypeCall/generics.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2675 KT-34297 "Add 'replaceWith' argument" inserts positional instead of named argument
  idea/src/org/jetbrains/kotlin/idea/inspections/DeprecatedCallableAddReplaceWithInspection.kt
  idea/testData/inspectionsLocal/deprecatedCallableAddReplaceWith/ReplaceWithHasNamedArgument.kt
  idea/testData/inspectionsLocal/deprecatedCallableAddReplaceWith/ReplaceWithHasNamedArgument.kt.after
  idea/testData/inspectionsLocal/deprecatedCallableAddReplaceWith/inspectionData/expected.xml
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2745 KT-33297 Improve parameter name in `Add parameter to constructor` quick fix
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeFunctionSignatureFix.kt
  idea/testData/quickfix/changeSignature/addForItParameter.kt
  idea/testData/quickfix/changeSignature/addForItParameter.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2797 KT-34894 Action "Add not-null asserted (!!) call" doesn't fix error for properties with omitted `this`
  idea/src/org/jetbrains/kotlin/idea/quickfix/ExclExclCallFixes.kt
  idea/testData/quickfix/addExclExclCall/implicit2.kt
  idea/testData/quickfix/addExclExclCall/implicit2.kt.after
  idea/testData/quickfix/addExclExclCall/implicit3.kt
  idea/testData/quickfix/addExclExclCall/implicit3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2845 KT-34511 kotlin.KotlinNullPointerException after using intention Replace Java Map.forEach with Kotlin's forEach for Map with Pairs as keys
  idea/src/org/jetbrains/kotlin/idea/inspections/JavaMapForEachInspection.kt
  idea/testData/inspectionsLocal/javaMapForEach/destructuringDeclaration.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2864 KT-35288 False positive "Remove braces from 'when' entry" in 'when' expression which returns lambda
  idea/src/org/jetbrains/kotlin/idea/intentions/RemoveBracesIntention.kt
  idea/testData/intentions/removeBraces/whenLambda2.kt
  idea/testData/intentions/removeBraces/whenLambda3.kt
  idea/testData/intentions/removeBraces/whenLambda3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2704 KT-34386 Typo in Kotlin arg postfix completion
  idea/resources/postfixTemplates/KtArgumentPostfixTemplate/after.kt.template
  idea/resources/postfixTemplates/KtArgumentPostfixTemplate/before.kt.template
Labels: Completion

#2877 KT-34690 Support intention `Convert lambda to reference` for qualified references
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertLambdaToReferenceIntention.kt
  idea/testData/intentions/convertLambdaToReference/constructor2.kt
  idea/testData/intentions/convertLambdaToReference/constructor2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2890 JVM IR: Fix names of fake local variables for inline arguments
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrInlineReferenceLocator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FakeInliningLocalVariablesLowering.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/ir/AbstractIrCheckLocalVariablesTableTest.kt
Labels: Backend

#2910 IR: keep nullability when remapping type parameters
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/testData/codegen/box/javaInterop/notNullAssertions/nonNullableTypeParameter.kt
  compiler/testData/codegen/box/javaInterop/notNullAssertions/nullableTypeParameter.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2903 JVM_IR: remove constructors of nested annotations
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AnnotationLowering.kt
  compiler/testData/codegen/box/annotations/nestedAnnotation.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2901 JVM IR: Fix line numbers in callable reference classes
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CallableReferenceLowering.kt
  compiler/testData/debug/stepping/callableReference.kt
  compiler/testData/debug/stepping/inlineCallableReference.kt
  compiler/testData/debug/stepping/inlineNamedCallableReference.kt
  compiler/testData/debug/stepping/namedCallableReference.kt
  compiler/testData/lineNumber/custom/functionCallWithLambdaParam.kt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
Labels: Backend

#2904 JVM_IR: Fix check for whether classes are from Java.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmGeneratorExtensions.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CollectionStubMethodLowering.kt
  compiler/testData/codegen/box/toArray/toArrayShouldBePublicWithJava.kt
  compiler/testData/compileKotlinAgainstKotlin/jvmNames.kt
Labels: Backend

#2920 KT-35639 Inspection about internal member inside private type
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantVisibilityModifierInspection.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/internalInPrivateClass.kt
  idea/testData/inspectionsLocal/redundantVisibilityModifier/internalInPrivateClass.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2891 KT-35475 Applying intention "Redundant curly braces in string template" for label references change semantic
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/psiModificationUtils.kt
  idea/testData/inspectionsLocal/removeCurlyBracesFromTemplate/necessaryBrackets8.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2909 JVM_IR: do not copy defaults in functions with inline class parameters
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/box/inlineClasses/defaultWithInlineClassArgument.kt
  compiler/testData/codegen/box/reflection/lambdaClasses/reflectOnDefaultWithInlineClassArgument.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2923 Fix template indentation
  idea/idea-gradle-native/src/org/jetbrains/kotlin/ide/konan/gradle/KotlinGradleNativeMultiplatformModuleBuilder.kt
Labels: Native

#2914 KT-35604 Too long quickfix message for "modifier 'open' is not applicable to 'companion object'"
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddModifierFix.kt
  idea/testData/quickfix/modifiers/openCompanionObject.kt
  idea/testData/quickfix/modifiers/openCompanionObject.kt.after
  idea/testData/quickfix/modifiers/openCompanionObject2.kt
  idea/testData/quickfix/modifiers/openCompanionObject2.kt.after
  idea/testData/quickfix/modifiers/openObject.kt
  idea/testData/quickfix/modifiers/openObject.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections
