Repository JetBrains/kotlin, pull requests merged in 2020-12, with the labels that each got.

#3939 [IR] Make isHidden and isAssignable explicit on IrValueParameter.
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/ConversionUtils.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/AdapterGenerator.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/DataClassMembersGenerator.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/builders/declarations/declarationBuilders.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/ArgumentsGenerationUtils.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/ReflectionReferencesGenerator.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/ScriptGenerator.kt
  compiler/ir/ir.tree.impl/src/org/jetbrains/kotlin/ir/declarations/impl/IrValueParameterImpl.kt
  compiler/ir/ir.tree.persistent/src/org/jetbrains/kotlin/ir/declarations/persistent/PersistentIrValueParameter.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/IrFactory.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/lazy/IrLazyDeclarationBase.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/descriptors/IrBuiltIns.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/descriptors/IrFunctionFactory.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/overrides/FakeOverrideCopier.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/DeclarationStubGenerator.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/DeepCopyIrTreeWithSymbols.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/SymbolTable.kt
  plugins/android-extensions/android-extensions-compiler/src/org/jetbrains/kotlin/android/synthetic/codegen/AndroidIrExtension.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/GeneratorHelpers.kt
Labels: Backend

#3959 Fix KAPT cli tests on windows
  compiler/cli/bin/kotlinc.bat
  plugins/kapt3/kapt3-cli/test/org/jetbrains/kotlin/kapt/cli/test/AbstractArgumentParsingTest.kt
  plugins/kapt3/kapt3-cli/test/org/jetbrains/kotlin/kapt/cli/test/AbstractKaptToolIntegrationTest.kt
  plugins/kapt3/kapt3-cli/testData/integration/argfile/kaptArgs.txt
Labels: KAPT

#3932 [JVM_IR] Use direct field access to backing fields on current class.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/codegen/ir/FirBytecodeTextTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLoweredDeclarationOrigin.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmPropertiesLowering.kt
  compiler/testData/codegen/box/companion/delegatedPropertyOnCompanion.kt
  compiler/testData/codegen/box/companion/inlineFunctionCompanionPropertyAccess.kt
  compiler/testData/codegen/bytecodeText/companion/directAccessToBackingField.kt
  compiler/testData/codegen/bytecodeText/companion/inlineFunctionCompanionPropertyAccess.kt
  compiler/testData/codegen/bytecodeText/companion/inlineFunctionObjectCompanionPropertyAccess.kt
  compiler/testData/codegen/bytecodeText/companion/nonDefaultAccessors.kt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#3951 [IR] Align debugging of suspend lambdas with old BE
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SuspendLambdaLowering.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/dataClass.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/extensionComponents.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/generic.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/otherParameters.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/parameters.kt
  compiler/testData/codegen/bytecodeText/coroutines/debug/localVariableCorrectLabel.kt
  compiler/testData/debug/localVariables/suspend/underscoreNames.kt
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/IrKotlinEvaluateExpressionTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/KotlinEvaluateExpressionTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/testData/evaluation/singleBreakpoint/coroutines/capturedReceiverName.kt
  idea/jvm-debugger/jvm-debugger-test/testData/evaluation/singleBreakpoint/coroutines/capturedReceiverName.out
Labels: Backend

#3912 Make random implementations serializable
  libraries/stdlib/api/js-v1/kotlin.random.kt
  libraries/stdlib/api/js/kotlin.random.kt
  libraries/stdlib/jvm/src/kotlin/random/PlatformRandom.kt
  libraries/stdlib/jvm/test/random/RandomSerializationTest.kt
  libraries/stdlib/src/kotlin/random/Random.kt
  libraries/stdlib/src/kotlin/random/XorWowRandom.kt
  libraries/tools/binary-compatibility-validator/reference-public-api/kotlin-stdlib-runtime-merged.txt
Labels: Standard Library
