Repository JetBrains/kotlin, pull requests merged in 2020-07, with the labels that each got.

#3514 FIR2IR: discard fake overrides for property accessors according to base visibility
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/FakeOverrideGenerator.kt
  compiler/testData/codegen/box/syntheticAccessors/kt10047.kt
Labels: FIR

#3515 Coroutines: Fix RedundantLocalsEliminationMethodTransformer
  compiler/backend/src/org/jetbrains/kotlin/codegen/coroutines/RedundantLocalsEliminationMethodTransformer.kt
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/testData/codegen/box/coroutines/unitTypeReturn/inlineUnitFunction.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3512 FIR deserializer: fix parameter shift for constructor of inner classes and enums
  compiler/fir/analysis-tests/testData/loadCompiledKotlin/annotations/parameters/EnumConstructor.txt
  compiler/fir/java/src/org/jetbrains/kotlin/fir/java/deserialization/JvmBinaryAnnotationDeserializer.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/deserialization/AbstractAnnotationDeserializer.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/deserialization/ClassDeserialization.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/deserialization/FirMemberDeserializer.kt
Labels: FIR

#3518 Introduce "Add '== true'" quick fix for TYPE_MISMATCH
  idea/resources-en/messages/KotlinBundle.properties
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddEqEqTrueFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixFactoryForTypeMismatchError.kt
  idea/testData/quickfix/addEqEqTrue/notBoolean.kt
  idea/testData/quickfix/addEqEqTrue/notBoolean2.kt
  idea/testData/quickfix/addEqEqTrue/simple.kt
  idea/testData/quickfix/addEqEqTrue/simple.kt.after
  idea/testData/quickfix/addEqEqTrue/simple2.kt
  idea/testData/quickfix/addEqEqTrue/simple2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixMultiFileTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA

#3508 [JVM_IR] Fix stepping behavior for assignments to local variables.
  compiler/backend/src/org/jetbrains/kotlin/codegen/optimization/CapturedVarsOptimizationMethodTransformer.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/descriptors/SharedVariablesManager.kt
  compiler/testData/debug/stepping/assertion.kt
  compiler/testData/debug/stepping/compileTimeConstant.kt
  compiler/testData/debug/stepping/functionCallWithDefault.kt
  compiler/testData/debug/stepping/inlineCallableReference.kt
  compiler/testData/debug/stepping/simpleDefaultArgWithInline.kt
  compiler/testData/debug/stepping/variablesWithoutInitializer.kt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
Labels: Backend

#3513 FIR2IR: handle 'this' as reference to outer object
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrVisitor.kt
  compiler/testData/codegen/box/dataClasses/copy/copyInObjectNestedDataClass.kt
  compiler/testData/codegen/box/enum/deepInnerClassInEnumEntryClass.kt
  compiler/testData/codegen/box/enum/deepInnerClassInEnumEntryClass2.kt
  compiler/testData/codegen/box/enum/innerClassInEnumEntryClass.kt
  compiler/testData/codegen/box/enum/innerClassMethodInEnumEntryClass.kt
  compiler/testData/codegen/box/enum/kt7257_anonObjectInit.kt
  compiler/testData/codegen/box/enum/kt7257_anonObjectMethod.kt
  compiler/testData/codegen/box/enum/kt7257_boundReference1.kt
  compiler/testData/codegen/box/enum/kt9711_2.kt
  compiler/testData/codegen/box/ir/serializationRegressions/innerClassInEnumEntryClass.kt
  compiler/testData/ir/irText/expressions/enumEntryReferenceFromEnumEntryClass.fir.txt
  compiler/testData/ir/irText/singletons/enumEntry.fir.txt
Labels: FIR

#3475 KT-15944 IDEA doesn't suggest to replace deprecated get set operator functions when it used as operator
  idea/src/org/jetbrains/kotlin/idea/codeInliner/CallableUsageReplacementStrategy.kt
  idea/src/org/jetbrains/kotlin/idea/codeInliner/ClassUsageReplacementStrategy.kt
  idea/src/org/jetbrains/kotlin/idea/codeInliner/PropertyUsageReplacementStrategy.kt
  idea/src/org/jetbrains/kotlin/idea/codeInliner/UsageReplacementStrategy.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/replaceWith/DeprecatedSymbolUsageFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/replaceWith/DeprecatedSymbolUsageFixBase.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/replaceWith/DeprecatedSymbolUsageInWholeProjectFix.kt
  idea/testData/quickfix/deprecatedSymbolUsage/operatorCalls/get.kt
  idea/testData/quickfix/deprecatedSymbolUsage/operatorCalls/get.kt.after
  idea/testData/quickfix/deprecatedSymbolUsage/operatorCalls/set.kt
  idea/testData/quickfix/deprecatedSymbolUsage/operatorCalls/set.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA

#2799 KT-10790 "Move statement up" for @file-targeted annotation moves package declaration to bottom of file
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  idea/src/org/jetbrains/kotlin/idea/codeInsight/upDownMover/AbstractKotlinUpDownMover.java
  idea/src/org/jetbrains/kotlin/idea/codeInsight/upDownMover/KotlinDeclarationMover.java
  idea/src/org/jetbrains/kotlin/idea/codeInsight/upDownMover/KotlinExpressionMover.kt
  idea/testData/codeInsight/moveUpDown/line/fileAnnotation.kt
  idea/testData/codeInsight/moveUpDown/line/fileAnnotation.kt.after
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/moveUpDown/AbstractCodeMoverTest.kt
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/moveUpDown/MoveStatementTestGenerated.java
Labels: IDEA

#3529 FIR: avoid cast exception in Candidate.prepareExpectedType
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/calls/Arguments.kt
  compiler/testData/codegen/box/classes/kt1980.kt
Labels: FIR

#3523 KT-40016 Replace 'a.toLowerCase() == b.toLowerCase()' with 'a.equals(b, ignoreCase = true)' inspection
  idea/resources-en/inspectionDescriptions/ReplaceWithIgnoreCaseEquals.html
  idea/resources-en/messages/KotlinBundle.properties
  idea/resources/META-INF/inspections.xml
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceWithIgnoreCaseEqualsInspection.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/.inspection
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/extension.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/extension.kt.after
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/extension2.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/extension2.kt.after
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/notApplicable.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/notApplicable2.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/notApplicable3.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/notApplicable4.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/nullable.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/nullable.kt.after
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/nullable2.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/nullable2.kt.after
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/nullable3.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/nullable3.kt.after
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/toLowerCase.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/toLowerCase.kt.after
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/toUpperCase.kt
  idea/testData/inspectionsLocal/replaceWithIgnoreCaseEquals/toUpperCase.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA

#3530 FIR: handle getClassCall with integer literals
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/body/resolve/FirExpressionsResolveTransformer.kt
  compiler/testData/codegen/box/inlineClasses/classLiteralOnInlineClass.kt
  compiler/testData/codegen/box/inlineClasses/javaClassIntrinsicOnInlineClasses.kt
Labels: FIR

#3535 JVM IR: Mangle delegated properties with inline class type (fix KT-40125)
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/bytecodeText/inlineClasses/delegatedPropertyMangling.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3553 [FIR] add RedundantReturnUnitTypeChecker
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantReturnUnitTypeChecker.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantReturnUnitTypeChecker.txt
  compiler/fir/analysis-tests/tests/org/jetbrains/kotlin/fir/ExtendedFirDiagnosticsTestGenerated.java
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/declaration/DefaultDeclarationCheckers.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/RedundantReturnUnitTypeChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/diagnostics/FirErrors.kt
Labels: FIR

#3536 FIR: adjust type of integer operator call as property initializer
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/IntegerLiteralTypeApproximationTransformer.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/body/resolve/FirDeclarationsResolveTransformer.kt
  compiler/testData/codegen/box/evaluate/unaryMinus.kt
  compiler/testData/codegen/box/evaluate/unaryPlus.kt
  compiler/testData/ir/irText/expressions/primitivesImplicitConversions.fir.txt
Labels: FIR

#3544 Add dependency scopes option for scripting (Ivy and Maven) resolvers
  libraries/scripting/dependencies-maven/src/kotlin/script/experimental/dependencies/maven/MavenDependenciesResolver.kt
  libraries/scripting/dependencies-maven/test/kotlin/script/experimental/test/MavenResolverTest.kt
  libraries/scripting/dependencies/src/kotlin/script/experimental/dependencies/impl/SimpleExternalDependenciesResolverOptionsParser.kt
  libraries/scripting/dependencies/src/kotlin/script/experimental/dependencies/impl/resolverNamedOptions.kt
  libraries/tools/kotlin-main-kts-test/test/org/jetbrains/kotlin/mainKts/test/mainKtsTest.kt
  libraries/tools/kotlin-main-kts-test/testData/resolve-with-runtime.csv
  libraries/tools/kotlin-main-kts-test/testData/resolve-with-runtime.main.kts
  libraries/tools/kotlin-main-kts/src/org/jetbrains/kotlin/mainKts/impl/ivy.kt
Labels: Scripts

#3276 KT-38139 False negative "Add suspend modifier" quickfix when suspend function is called in inline lambda
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddSuspendModifierFix.kt
  idea/testData/quickfix/modifiers/suspend/inLambda.kt
  idea/testData/quickfix/modifiers/suspend/inLambda.kt.after
  idea/testData/quickfix/modifiers/suspend/inLambda2.kt
  idea/testData/quickfix/modifiers/suspend/inLambda3.kt
  idea/testData/quickfix/modifiers/suspend/inLambda3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA

#3568 FIR2IR: store and convert annotations on enum entry
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrVisitor.kt
  compiler/fir/raw-fir/light-tree2fir/src/org/jetbrains/kotlin/fir/lightTree/converter/DeclarationsConverter.kt
  compiler/fir/raw-fir/psi2fir/src/org/jetbrains/kotlin/fir/builder/RawFirBuilder.kt
  compiler/fir/raw-fir/psi2fir/testData/rawBuilder/declarations/annotation.txt
  compiler/testData/codegen/box/annotations/annotatedEnumEntry.kt
  compiler/testData/ir/irText/declarations/annotations/enumEntriesWithAnnotations.fir.txt
Labels: FIR

#3570 FIR2IR: set proper visibility of backing fields with @JvmField
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/fir/tree/src/org/jetbrains/kotlin/fir/declarations/FirDeclarationUtil.kt
  compiler/testData/codegen/box/annotations/annotationWithKotlinProperty.kt
  compiler/testData/codegen/box/inlineClasses/jvmFieldInInlineClassCompanion.kt
  compiler/testData/codegen/box/jvmField/constructorProperty.kt
  compiler/testData/codegen/box/jvmField/publicFieldJava.kt
  compiler/testData/codegen/box/jvmField/simpleMemberProperty.kt
  compiler/testData/codegen/box/jvmField/visibility.kt
  compiler/testData/codegen/box/jvmStatic/enumCompanion.kt
  compiler/testData/codegen/box/properties/companionObjectPropertiesFromJava.kt
  compiler/testData/codegen/box/reflection/genericSignature/kt5112.kt
  compiler/testData/codegen/box/reflection/mapping/interfaceCompanionPropertyWithJvmField.kt
Labels: FIR

#3572 Introduce & use processOverriddenPropertiesWithDepth
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrVisitor.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/ClassMemberGenerator.kt
  compiler/fir/java/src/org/jetbrains/kotlin/fir/java/scopes/JavaClassMembersEnhancementScope.kt
  compiler/fir/java/src/org/jetbrains/kotlin/fir/java/scopes/JavaClassUseSiteMemberScope.kt
  compiler/fir/jvm/src/org/jetbrains/kotlin/fir/scopes/jvm/JvmMappedScope.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/scopes/impl/AbstractFirOverrideScope.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/scopes/impl/AbstractFirUseSiteMemberScope.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/scopes/impl/FirClassSubstitutionScope.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/scopes/impl/FirClassUseSiteMemberScope.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/scopes/impl/FirIntegerLiteralTypeScope.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/scopes/impl/FirTypeIntersectionScope.kt
  compiler/fir/tree/src/org/jetbrains/kotlin/fir/scopes/FirTypeScope.kt
Labels: FIR

#3545 KT-40215 "Create abstract function" quick fix suggested even though surrounding class is non-abstract
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/createCallable/CreateCallableFromCallActionFactory.kt
  idea/testData/quickfix/createFromUsage/createFunction/call/abstract/notWritableAbstractSuperclass.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA

#3560 Make linker visible to compiler plugins
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/extensions/IrPluginContextImpl.kt
Labels: Backend

#3562 Fallback to fileEntry provided by irFile
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/PsiSourceManager.kt
Labels: Backend

#3581 FIR: account for vararg when creating KFunction type for callable reference
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/calls/ResolutionStages.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/bothWithCoercionToUnit.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/boundReferences.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/defaultAfterVararg.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/emptyVarargAndDefault.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/inlineBound.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/inlineVarargAndDefault.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/manyDefaultsAndVararg.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/simpleEmptyVararg.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/unboundReferences.kt
  compiler/testData/codegen/box/callableReference/equality/varargWithDefaults.kt
  compiler/testData/codegen/box/callableReference/kt37604.kt
  compiler/testData/codegen/box/funInterface/equality/functionReferencesBound.kt
  compiler/testData/codegen/box/funInterface/equality/functionReferencesUnbound.kt
  compiler/testData/codegen/box/funInterface/equality/localFunctionReferences.kt
  compiler/testData/codegen/box/sam/equality/functionReferencesBound.kt
  compiler/testData/codegen/box/sam/equality/functionReferencesUnbound.kt
  compiler/testData/codegen/box/sam/equality/localFunctionReferences.kt
  compiler/testData/diagnostics/tests/callableReference/referenceAdaptationHasDependencyOnApi14.fir.kt
  compiler/testData/ir/irText/expressions/callableReferences/adaptedExtensionFunctions.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/adaptedWithCoercionToUnit.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/boundInlineAdaptedReference.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/funWithDefaultParametersAsKCallableStar.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/withAdaptedArguments.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/samConversionOnCallableReference.fir.txt
Labels: FIR

#3576 FIR2IR: convert annotations on type aliases
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrClassifierStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrVisitor.kt
  compiler/testData/codegen/box/annotations/annotationsOnTypeAliases.kt
  compiler/testData/ir/irText/declarations/annotations/typeAliasesWithAnnotations.fir.txt
Labels: FIR

#3579 Set wantsDiagnostics() in AbstractFilteringTrace
  compiler/frontend/src/org/jetbrains/kotlin/resolve/AbstractFilteringTrace.kt
Labels: Compiler

#3574 JVM IR: Do not create accessors for enum entry constructors
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/bytecodeText/enum/constructorAccessors.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3589 FIR: handle object invoke via type alias
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/calls/tower/FirTowerResolverSession.kt
  compiler/testData/codegen/box/typealias/typeAliasObjectCallable.kt
  compiler/testData/diagnostics/tests/typealias/typeAliasObjectWithInvoke.fir.kt
Labels: FIR

#3597 Uast: KT-40578: resolve Kotlin property writes to setters
  plugins/uast-kotlin/src/org/jetbrains/uast/kotlin/internal/kotlinInternalUastUtils.kt
  plugins/uast-kotlin/testData/Constructors.identifiers.txt
  plugins/uast-kotlin/testData/Constructors.kt
  plugins/uast-kotlin/testData/Constructors.log-ide.txt
  plugins/uast-kotlin/testData/Constructors.log.txt
  plugins/uast-kotlin/testData/Constructors.refNames.txt
  plugins/uast-kotlin/testData/Constructors.render-ide.txt
  plugins/uast-kotlin/testData/Constructors.render.txt
  plugins/uast-kotlin/testData/Constructors.resolved.txt
  plugins/uast-kotlin/testData/PropertyReferences.kt
  plugins/uast-kotlin/testData/PropertyReferences.resolved.txt
  plugins/uast-kotlin/tests/KotlinUastResolveEverythingTest.kt
Labels: UAST

#3607 FIR2IR: convert annotations on FirTypeRef
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrTypeConverter.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/AnnotationGenerator.kt
  compiler/testData/codegen/box/annotations/typeAnnotations/methodParameters.kt
  compiler/testData/codegen/box/assert/jvm/superClassInitializer.kt
  compiler/testData/codegen/box/callableReference/bound/emptyLHS.kt
  compiler/testData/codegen/box/closures/capturedVarsOptimization/withCoroutines.kt
  compiler/testData/codegen/box/closures/capturedVarsOptimization/withCoroutinesNoStdLib.kt
  compiler/testData/codegen/box/closures/subclosuresWithinInitializers.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/callableReference/bound/emptyLHS.kt
  compiler/testData/codegen/box/coroutines/varSpilling/fakeInlinerVariables.kt
  compiler/testData/codegen/box/defaultArguments/kt6382.kt
  compiler/testData/codegen/box/inlineClasses/contextsAndAccessors/kt27513.kt
  compiler/testData/codegen/box/jvmName/classMembers.kt
  compiler/testData/codegen/box/jvmStatic/convention.kt
  compiler/testData/codegen/box/objects/kt2663_3.kt
  compiler/testData/codegen/box/objects/objectVsClassInitialization_kt5291.kt
  compiler/testData/codegen/box/properties/lateinit/isInitializedAndDeinitialize/sideEffects.kt
  compiler/testData/codegen/box/ranges/forInStringWithCustomIterator.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/memberExtensionProperty.kt
  compiler/testData/codegen/box/sam/kt24825.kt
  compiler/testData/ir/irText/classes/initValInLambda.fir.txt
  compiler/testData/ir/irText/classes/lambdaInDataClassDefaultParameter.fir.txt
  compiler/testData/ir/irText/declarations/annotations/receiverParameterWithAnnotations.fir.txt
  compiler/testData/ir/irText/declarations/parameters/lambdas.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/adaptedExtensionFunctions.fir.txt
  compiler/testData/ir/irText/expressions/extFunInvokeAsFun.fir.txt
  compiler/testData/ir/irText/expressions/extFunSafeInvoke.fir.txt
  compiler/testData/ir/irText/expressions/kt37570.fir.txt
  compiler/testData/ir/irText/expressions/sam/samConversionToGeneric.fir.txt
  compiler/testData/ir/irText/expressions/suspendConversionOnArbitraryExpression.fir.txt
  compiler/testData/ir/irText/expressions/variableAsFunctionCall.fir.txt
  compiler/testData/ir/irText/lambdas/extensionLambda.fir.txt
  compiler/testData/ir/irText/lambdas/multipleImplicitReceivers.fir.txt
  compiler/testData/ir/irText/stubs/builtinMap.fir.txt
  compiler/testData/ir/irText/types/castsInsideCoroutineInference.fir.txt
Labels: FIR

#2842 KT-35128 Intention `Convert member to extension` hides property delegate text with single line comment
  idea/src/org/jetbrains/kotlin/idea/intentions/declarations/ConvertMemberToExtensionIntention.kt
  idea/testData/intentions/declarations/convertMemberToExtension/delegatedProperty.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA, Inspections
