Repository JetBrains/kotlin, pull requests merged in 2020-04, with the labels that each got.

#3183 KT-37312 "Implement members" intention put function in the primary constructor if there are unused brackets in class
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/overrideImplement/OverrideImplementMembersHandler.kt
  idea/testData/quickfix/implement/hasImplementedInPrimaryConstructor.kt
  idea/testData/quickfix/implement/hasImplementedInPrimaryConstructor.kt.after
  idea/testData/quickfix/implement/hasImplementedInPrimaryConstructor2.kt
  idea/testData/quickfix/implement/hasImplementedInPrimaryConstructor2.kt.after
  idea/testData/quickfix/implement/hasImplementedInPrimaryConstructor3.kt
  idea/testData/quickfix/implement/hasImplementedInPrimaryConstructor3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#3199 KT-37539 IDE: Introduce "Remove fun modifier" quick fix for FUN_INTERFACE_WRONG_COUNT_OF_ABSTRACT_MEMBERS error
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/RemoveModifierFix.kt
  idea/testData/quickfix/redundantFun/simple.kt
  idea/testData/quickfix/redundantFun/simple.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixMultiFileTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#3203 KT-17615 "Convert parameter to receiver" changes `this` to `this@ < no name provided >`
  idea/src/org/jetbrains/kotlin/idea/refactoring/changeSignature/KotlinChangeSignatureUsageProcessor.kt
  idea/src/org/jetbrains/kotlin/idea/refactoring/changeSignature/usages/KotlinFunctionCallUsage.kt
  idea/testData/intentions/convertParameterToReceiver/explicitThis.kt
  idea/testData/intentions/convertParameterToReceiver/explicitThis.kt.after
  idea/testData/intentions/convertParameterToReceiver/explicitThisForAnonymousObject.kt
  idea/testData/intentions/convertParameterToReceiver/explicitThisForAnonymousObject.kt.after
  idea/testData/intentions/convertParameterToReceiver/explicitThisForExtension.kt
  idea/testData/intentions/convertParameterToReceiver/explicitThisForExtension.kt.after
  idea/testData/intentions/convertParameterToReceiver/explicitThisForExtension2.kt
  idea/testData/intentions/convertParameterToReceiver/explicitThisForExtension2.kt.after
  idea/testData/intentions/convertReceiverToParameter/explicitThisForExtension.kt
  idea/testData/intentions/convertReceiverToParameter/explicitThisForExtension.kt.after
  idea/testData/intentions/convertReceiverToParameter/usedInAnonymousObject.kt
  idea/testData/intentions/convertReceiverToParameter/usedInAnonymousObject.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2933 KT-34371 "Surround with lambda" quickfix is not available for suspend lambda parameters.
  idea/src/org/jetbrains/kotlin/idea/quickfix/SurroundWithLambdaFix.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchSuspend.kt
  idea/testData/quickfix/typeMismatch/paramTypeLambdaMatchSuspend.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2984 KT-22368 "Convert to block body" intention incorrectly formats closing brace
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertToBlockBodyIntention.kt
  idea/testData/intentions/convertToBlockBody/adjustLineIndent.kt
  idea/testData/intentions/convertToBlockBody/adjustLineIndent.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3000 KT-35994 "Remove braces from 'if' statement": do not suggest when lambda is directly under 'if'
  idea/src/org/jetbrains/kotlin/idea/intentions/RemoveBracesIntention.kt
  idea/testData/intentions/removeBraces/elseLambda.kt
  idea/testData/intentions/removeBraces/elseLambda2.kt
  idea/testData/intentions/removeBraces/elseLambda2.kt.after
  idea/testData/intentions/removeBraces/ifLambda.kt
  idea/testData/intentions/removeBraces/ifLambda2.kt
  idea/testData/intentions/removeBraces/ifLambda2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3196 JVM_IR: use non-nullable types as SAM super types
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/SingleAbstractMethodLowering.kt
  compiler/testData/codegen/box/sam/nonInlinedSamWrapper.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#3002 Add the system classloader as a parent of ReplClassLoader
  plugins/scripting/scripting-compiler/src/org/jetbrains/kotlin/scripting/compiler/plugin/repl/ReplInterpreter.kt
Labels: Scripts

#2977 KT-35829 "Redundant suspend modifier" is missed in recursive call
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantSuspendModifierInspection.kt
  idea/testData/inspectionsLocal/redundantSuspend/recursiveCall.kt
  idea/testData/inspectionsLocal/redundantSuspend/recursiveCall.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3263 KT-35897: change type for enum constructor for visibility
  nj2k/src/org/jetbrains/kotlin/nj2k/conversions/InternalDeclarationConversion.kt
  nj2k/testData/newJ2k/enum/implicitlyPrivateConstructorsEnum.java
  nj2k/testData/newJ2k/enum/implicitlyPrivateConstructorsEnum.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#3270 JVM: erase conditional suspension markers from inline-only functions
  compiler/backend/src/org/jetbrains/kotlin/codegen/FunctionCodegen.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/coroutines/SuspendFunctionGenerationStrategy.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/testData/codegen/bytecodeText/coroutines/effectivelyInlineOnly.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#2908 New J2K: Convert Number.[type]Value() to Number.to[type]()
  nj2k/src/org/jetbrains/kotlin/nj2k/conversions/BuiltinMembersConversion.kt
  nj2k/testData/newJ2k/methodCallExpression/specialBuiltinMembers.java
  nj2k/testData/newJ2k/methodCallExpression/specialBuiltinMembers.kt
Labels: J2K

#3257 KT-37977 "Replace 'invoke' with direct call" intention: false positive when function is not operator
  idea/src/org/jetbrains/kotlin/idea/intentions/conventionNameCalls/ReplaceInvokeIntention.kt
  idea/testData/intentions/conventionNameCalls/replaceInvoke/java.1.java
  idea/testData/intentions/conventionNameCalls/replaceInvoke/java.1.java.after
  idea/testData/intentions/conventionNameCalls/replaceInvoke/java.kt
  idea/testData/intentions/conventionNameCalls/replaceInvoke/java.kt.after
  idea/testData/intentions/conventionNameCalls/replaceInvoke/notOperator.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3258 KT-37967 Replace 'invoke' with direct call intention adds unnecessary parenthesis
  compiler/psi/src/org/jetbrains/kotlin/psi/KtPsiUtil.java
  idea/testData/intentions/conventionNameCalls/replaceInvoke/dotQualifiedReceiver.kt
  idea/testData/intentions/conventionNameCalls/replaceInvoke/dotQualifiedReceiver.kt.after
  idea/testData/intentions/conventionNameCalls/replaceInvoke/dotQualifiedReceiver2.kt
  idea/testData/intentions/conventionNameCalls/replaceInvoke/dotQualifiedReceiver2.kt.after
  idea/testData/intentions/conventionNameCalls/replaceInvoke/dotQualifiedReceiver3.kt
  idea/testData/intentions/conventionNameCalls/replaceInvoke/dotQualifiedReceiver3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2667 KT-24281 Importing of invoke() from the same file is reported as unused even if it isn't
  idea/src/org/jetbrains/kotlin/idea/inspections/KotlinUnusedImportInspection.kt
  idea/testData/quickfix/optimizeImports/invoke.kt
  idea/testData/quickfix/optimizeImports/invoke2.kt
  idea/testData/quickfix/optimizeImports/invoke2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#3244 [JVM] Improve debug step behavior around lambdas.
  compiler/backend/src/org/jetbrains/kotlin/codegen/ExpressionCodegen.java
  compiler/testData/codegen/boxInline/smap/defaultLambda/inlinInDefault2.kt
  compiler/testData/debug/stepping/lambdaStepInline.kt
  compiler/testData/debug/stepping/lambdaStepInlineWithDefaults.kt
  compiler/testData/debug/stepping/voidLambdaStepInline.kt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
Labels: Backend

#2776 KT-34677 False positive "Collection count can be converted to size" with `Iterable`
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceCollectionCountWithSizeInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/ConvertCallChainIntoSequenceInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/FunctionUtils.kt
  idea/testData/inspectionsLocal/replaceCollectionCountWithSize/countOfIterable.kt
  idea/testData/inspectionsLocal/replaceCollectionCountWithSize/countOfIterable2.kt
  idea/testData/inspectionsLocal/replaceCollectionCountWithSize/countOfIterable3.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2916 KT-29934 No quickfix on primary constructor override val parameter when it has wrong type
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeVariableTypeFix.kt
  idea/testData/quickfix/override/typeMismatchOnOverride/changeOverriddenPropertyTypeFromCtorParameter.kt
  idea/testData/quickfix/override/typeMismatchOnOverride/changeOverriddenPropertyTypeFromCtorParameter.kt.after
  idea/testData/quickfix/override/typeMismatchOnOverride/changeOverridingCtorParameterType.kt
  idea/testData/quickfix/override/typeMismatchOnOverride/changeOverridingCtorParameterType.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2817 KT-34713 "Condition is always 'false'": quickfix "Delete expression" doesn't remove `else` keyword (may break control flow)
  idea/src/org/jetbrains/kotlin/idea/inspections/ConstantConditionIfInspection.kt
  idea/testData/inspectionsLocal/constantConditionIf/endWithElseIf2.kt
  idea/testData/inspectionsLocal/constantConditionIf/endWithElseIf2.kt.after
  idea/testData/inspectionsLocal/constantConditionIf/expressionElseIfBlock2.kt
  idea/testData/inspectionsLocal/constantConditionIf/expressionElseIfBlock2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2866 KT-35329 Replace 'when' with 'if' intention: do not suggest if 'when' is used as expression and it has no 'else' branch
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/WhenToIfIntention.kt
  idea/testData/intentions/branched/ifWhen/whenToIf/whenWithoutElseUsedAsExpression.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3291 JVM: fix remapping of `new T` inside regenerated copies of `T`
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/InliningContext.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/MethodInliner.kt
  compiler/testData/codegen/boxInline/suspend/twiceRegeneratedAnonymousObject.kt
  compiler/testData/codegen/boxInline/suspend/twiceRegeneratedSuspendLambda.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenInlineTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenInlineTestGenerated.java
Labels: Backend

#3226 Produce deterministic klib files.
  compiler/util-io/src/org/jetbrains/kotlin/konan/file/File.kt
  compiler/util-io/src/org/jetbrains/kotlin/konan/file/ZipUtil.kt
Labels: Compiler

#3331 Move vFile.isValid() check inside read action
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/script/configuration/listener/ScriptChangeListener.kt
Labels: Scripts

#2502 KT-32163: Open Quick Documentation when cursor inside function / constructor brackets
  idea/src/org/jetbrains/kotlin/idea/KotlinDocumentationProvider.kt
  idea/testData/editor/quickDoc/JavaClassConstructorUsedInKotlin.kt
  idea/testData/editor/quickDoc/JavaClassConstructorUsedInKotlin_Data.java
  idea/testData/editor/quickDoc/JavaMethodUsedInKotlinInParen.kt
  idea/testData/editor/quickDoc/JavaMethodUsedInKotlinInParen_Data.java
  idea/testData/editor/quickDoc/OnMethodUsageInParen.kt
  idea/tests/org/jetbrains/kotlin/idea/editor/quickDoc/AbstractQuickDocProviderTest.java
  idea/tests/org/jetbrains/kotlin/idea/editor/quickDoc/QuickDocProviderTestGenerated.java
Labels: IDEA, Remote Run

#3324 [JVM_IR] Use ifne and ifeq for integer zero comparisons.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/CompareTo.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Equals.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
  compiler/testData/codegen/bytecodeText/when/whenZero.kt
Labels: Backend

#3323 JVM IR: Optimize field initializers in secondary constructors
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/secondaryConstructors/fieldInitializerOptimization.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3327 JVM IR: Avoid unnecessary CHECKCASTs in enum classes
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/bytecodeText/enum/enumCheckcasts.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3292 Fix typo in KDoc for Element.getPolymorphicElement
  libraries/stdlib/src/kotlin/coroutines/CoroutineContextImpl.kt
Labels: Standard Library

#3314 Reformat example code in comment
  libraries/kotlin.test/js/src/main/kotlin/kotlin/test/FrameworkAdapter.kt
Labels: Standard Library

#3296 Official logo for Toolbox icon
  .idea/icon.png
Labels: IDEA
