Repository JetBrains/kotlin, pull requests merged in 2020-09, with the labels that each got.

#3683 JVM_IR: move classes out of lambdas inlined into initializers
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmLocalClassPopupLowering.kt
  compiler/testData/codegen/box/secondaryConstructors/inlineIntoTwoConstructors.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3635 KT-40769 Add intention to replace isBlank/isNotBlank method negation
  idea/resources-en/inspectionDescriptions/ReplaceNegatedIsEmptyWithIsNotEmpty.html
  idea/resources-en/messages/KotlinBundle.properties
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceNegatedIsEmptyWithIsNotEmptyInspection.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/notNegateBlank.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/notNegateEmpty.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsBlank.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsBlank.kt.after
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsNotBlank.kt
  idea/testData/inspectionsLocal/replaceNegatedIsEmptyWithIsNotEmpty/stringIsNotBlank.kt.after
  idea/testData/intentions/invertIfCondition/isBlank.kt
  idea/testData/intentions/invertIfCondition/isBlank.kt.after
  idea/testData/intentions/invertIfCondition/isNotBlank.kt
  idea/testData/intentions/invertIfCondition/isNotBlank.kt.after
  idea/testData/intentions/invertIfCondition/negatedIsBlank.kt
  idea/testData/intentions/invertIfCondition/negatedIsBlank.kt.after
  idea/testData/intentions/invertIfCondition/negatedIsNotBlank.kt
  idea/testData/intentions/invertIfCondition/negatedIsNotBlank.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA

#3587 KT-40283: Inspection which replaces `also`/`apply` with nested `forEach` to `onEach`
  idea/resources-en/inspectionDescriptions/SimplifyNestedEachInScopeFunction.html
  idea/resources-en/messages/KotlinBundle.properties
  idea/resources/META-INF/inspections.xml
  idea/src/org/jetbrains/kotlin/idea/inspections/SimplifyNestedEachInScopeFunctionInspection.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/.inspection
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/also.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/also.kt.after
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/also2.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/also3.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/also3.kt.after
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/also4.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/also5.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/alsoLabel.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/alsoLabel2.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/alsoLabel3.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/alsoLabel3.kt.after
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/apply.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/apply.kt.after
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/apply2.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/apply3.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/apply3.kt.after
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/applyLabel.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/applyLabel2.kt
  idea/testData/inspectionsLocal/simplifyNestedEachInScope/applyLabel2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA

#3534 KT-18125 "Wrap with let {...}" intention not available in all cases
  idea/src/org/jetbrains/kotlin/idea/quickfix/WrapWithSafeLetCallFix.kt
  idea/testData/quickfix/wrapWithSafeLetCall/unsafe.kt
  idea/testData/quickfix/wrapWithSafeLetCall/unsafe.kt.after
  idea/testData/quickfix/wrapWithSafeLetCall/unsafe2.kt
  idea/testData/quickfix/wrapWithSafeLetCall/unsafe2.kt.after
  idea/testData/quickfix/wrapWithSafeLetCall/unsafeForNullableParameter.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA

#3690 [JS_IR] Enable RangeContainsLowering optimizations
  compiler/ir/backend.js/src/org/jetbrains/kotlin/ir/backend/js/JsLoweringPhases.kt
  compiler/testData/codegen/box/ranges/contains/inComparableRange.kt
  compiler/testData/codegen/box/ranges/contains/inExtensionRange.kt
  compiler/testData/codegen/box/ranges/contains/inIntRange.kt
  compiler/testData/codegen/box/ranges/contains/inOptimizableDoubleRange.kt
  compiler/testData/codegen/box/ranges/contains/inOptimizableFloatRange.kt
  compiler/testData/codegen/box/ranges/contains/inOptimizableIntRange.kt
  compiler/testData/codegen/box/ranges/contains/inOptimizableLongRange.kt
  compiler/testData/codegen/box/ranges/contains/inRangeWithCustomContains.kt
  compiler/testData/codegen/box/ranges/contains/inRangeWithImplicitReceiver.kt
  compiler/testData/codegen/box/ranges/contains/inRangeWithNonmatchingArguments.kt
Labels: JS BE

#2990 KT-20438 Naming convention inspections: factory functions that are named like classes are flagged
  idea/src/org/jetbrains/kotlin/idea/inspections/NamingConventionInspections.kt
  idea/testData/inspections/naming/function/test.kt
Labels: IDEA, Inspections

#3674 KT-41338 False positive "Redundant 'asSequence' call" when Map.Entry properties are used.
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/RedundantAsSequenceInspection.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/map.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA

#3700 JVM IR: Optimize static property references (KT-36975)
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/DeclarationOrigins.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/StaticCallableReferenceLowering.kt
  compiler/testData/codegen/bytecodeListing/noReceiverInCallableReferenceClasses.kt
  compiler/testData/codegen/bytecodeListing/noReceiverInCallableReferenceClasses_ir.txt
  compiler/testData/codegen/bytecodeText/callableReference/kt36975.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3707 [JVM_IR] Always look for default lambdas in the inliner.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineCodegen.kt
Labels: Backend

#3711 FIR: map arguments for overloading indexed access operator
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/calls/FirArgumentsToParametersMapper.kt
  compiler/testData/codegen/box/defaultArguments/convention/incWithDefaults.kt
  compiler/testData/codegen/box/defaultArguments/convention/kt16520.kt
  compiler/testData/codegen/box/defaultArguments/convention/plusAssignWithDefaults.kt
  compiler/testData/diagnostics/tests/checkArguments/arrayAccessSet.fir.kt
  compiler/testData/diagnostics/tests/regressions/kt10633.fir.kt
  compiler/testData/ir/irText/expressions/kt28456b.fir.txt
Labels: FIR

#3721 FIR: update suspend lambda type during declaration resolution
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/body/resolve/FirDeclarationsResolveTransformer.kt
  compiler/testData/codegen/box/coroutines/debug/firstSuspensionPoint.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/suspendFunctionIsAs.kt
  compiler/testData/codegen/box/coroutines/localFunctions/named/insideLambda.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionTypeCall/localVal.kt
Labels: FIR

#3728 FIR deserializer: load inline/external flags properly
  compiler/fir/fir-deserialization/src/org/jetbrains/kotlin/fir/deserialization/ClassDeserialization.kt
  compiler/fir/fir-deserialization/src/org/jetbrains/kotlin/fir/deserialization/FirMemberDeserializer.kt
  compiler/testData/codegen/box/coroutines/coroutineContextInInlinedLambda.kt
  compiler/testData/codegen/box/coroutines/intrinsicSemantics/coroutineContext.kt
  compiler/testData/codegen/box/coroutines/intrinsicSemantics/coroutineContextReceiver.kt
Labels: FIR

#3727 FIR: update the type of anonymous function as SAM
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/FirCallCompletionResultsWriterTransformer.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/funInterface.kt
Labels: FIR

#3739 [JVM_IR] Remove line numbers from delegated member functions.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/TypeOperatorLowering.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/ClassGenerator.kt
  compiler/testData/diagnostics/testsWithJvmBackend/duplicateJvmSignature/accidentalOverrides/delegatedFunctionOverriddenByProperty_ir.kt
  compiler/testData/diagnostics/testsWithJvmBackend/duplicateJvmSignature/erasure/delegateToTwoTraits_ir.kt
  compiler/testData/diagnostics/testsWithJvmBackend/duplicateJvmSignature/erasure/delegationAndOwnMethod_ir.kt
  compiler/testData/diagnostics/testsWithJvmBackend/duplicateJvmSignature/erasure/delegationToTraitImplAndOwnMethod_ir.kt
  compiler/testData/diagnostics/testsWithJvmBackend/duplicateJvmSignature/erasure/superTraitAndDelegationToTraitImpl_ir.kt
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/custom/smartStepIntoWithDelegates.out
Labels: Backend

#3724 KT-40251 Intention action to evaluate compile time expression
  idea/resources-en/intentionDescriptions/EvaluateCompileTimeExpressionIntention/after.kt.template
  idea/resources-en/intentionDescriptions/EvaluateCompileTimeExpressionIntention/before.kt.template
  idea/resources-en/intentionDescriptions/EvaluateCompileTimeExpressionIntention/description.html
  idea/resources-en/messages/KotlinBundle.properties
  idea/resources/META-INF/inspections.xml
  idea/src/org/jetbrains/kotlin/idea/intentions/EvaluateCompileTimeExpressionIntention.kt
  idea/testData/intentions/evaluateCompileTimeExpression/.intention
  idea/testData/intentions/evaluateCompileTimeExpression/boolean.kt
  idea/testData/intentions/evaluateCompileTimeExpression/char.kt
  idea/testData/intentions/evaluateCompileTimeExpression/char.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/char2.kt
  idea/testData/intentions/evaluateCompileTimeExpression/char2.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/double.kt
  idea/testData/intentions/evaluateCompileTimeExpression/double.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/doubleNaN.kt
  idea/testData/intentions/evaluateCompileTimeExpression/doubleNaN.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/doubleNegativeInfinity.kt
  idea/testData/intentions/evaluateCompileTimeExpression/doubleNegativeInfinity.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/doublePositiveInfinity.kt
  idea/testData/intentions/evaluateCompileTimeExpression/doublePositiveInfinity.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/float.kt
  idea/testData/intentions/evaluateCompileTimeExpression/float.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/floatNaN.kt
  idea/testData/intentions/evaluateCompileTimeExpression/floatNaN.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/floatNegativeInfinity.kt
  idea/testData/intentions/evaluateCompileTimeExpression/floatNegativeInfinity.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/floatPositiveInfinity.kt
  idea/testData/intentions/evaluateCompileTimeExpression/floatPositiveInfinity.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/int.kt
  idea/testData/intentions/evaluateCompileTimeExpression/int.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/long.kt
  idea/testData/intentions/evaluateCompileTimeExpression/long.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/parens.kt
  idea/testData/intentions/evaluateCompileTimeExpression/parens.kt.after
  idea/testData/intentions/evaluateCompileTimeExpression/string.kt
  idea/testData/intentions/evaluateCompileTimeExpression/variable.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA

#2725 KT-31523 ReplaceWith introduces additional argument name for lambda when named argument is used on call-site
  idea/src/org/jetbrains/kotlin/idea/codeInliner/CodeInliner.kt
  idea/testData/quickfix/deprecatedSymbolUsage/functionLiteralArguments/keepOutsideWithNamedArgument.kt
  idea/testData/quickfix/deprecatedSymbolUsage/functionLiteralArguments/keepOutsideWithNamedArgument.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA, Inspections

#3735 [JVM_IR] Fix line numbers for function reference invoke methods.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FunctionReferenceLowering.kt
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepInto/functionReference.out
Labels: Backend

#2872 KT-21799 Quickfix "Change function signature" for receiver type doesn't change it
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeMemberFunctionSignatureFix.kt
  idea/testData/quickfix/override/nothingToOverride/addFunctionReciever.kt
  idea/testData/quickfix/override/nothingToOverride/addFunctionReciever.kt.after
  idea/testData/quickfix/override/nothingToOverride/changeFunctionReciever.kt
  idea/testData/quickfix/override/nothingToOverride/changeFunctionReciever.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA, Inspections

#2573 KT-33466 IDE generates incorrect `external override` with body for overriding `open external` method
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/generateUtil.kt
  idea/testData/codeInsight/overrideImplement/overrideExternalFunction.kt
  idea/testData/codeInsight/overrideImplement/overrideExternalFunction.kt.after
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/OverrideImplementTest.kt
Labels: IDEA, Remote Run

#3742 JVM_IR: fix lifting of arguments to object super constructors
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AnonymousObjectSuperConstructorLowering.kt
  compiler/testData/codegen/box/argumentOrder/argumentOrderInObjectSuperCallWithPlatformType.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#2876 KT-34959 False positive "Redundant overriding method" with different implemented/overridden signatures
  idea/src/org/jetbrains/kotlin/idea/inspections/KotlinRedundantOverrideInspection.kt
  idea/testData/inspectionsLocal/redundantOverride/callDifferentSuperMethod2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA, Inspections

#2880 KT-33096 Turn 'MapGetWithNotNullAssertionOperator' into an intention
  idea/resources/META-INF/inspections.xml
Labels: IDEA, Inspections

#2871 KT-35346 False positive 'Make internal' suggestion for function inside interface
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/psiModificationUtils.kt
  idea/testData/intentions/changeVisibility/internal/hasJvmFieldInInterfaceCompanion.kt
  idea/testData/intentions/changeVisibility/internal/hasJvmFieldInInterfaceObject.kt
  idea/testData/intentions/changeVisibility/internal/hasJvmFieldInInterfaceObject.kt.after
  idea/testData/intentions/changeVisibility/internal/inInterface.kt
  idea/testData/intentions/changeVisibility/internal/inInterfaceCompanion.kt
  idea/testData/intentions/changeVisibility/internal/inInterfaceCompanion.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA, Inspections

#3460 KT-35357 "Move lambda argument out of parentheses" does not preserve block comments
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/psiModificationUtils.kt
  idea/testData/inspectionsLocal/moveLambdaOutsideParentheses/hasComments.kt
  idea/testData/inspectionsLocal/moveLambdaOutsideParentheses/hasComments.kt.after
  idea/testData/inspectionsLocal/moveLambdaOutsideParentheses/hasComments2.kt
  idea/testData/inspectionsLocal/moveLambdaOutsideParentheses/hasComments2.kt.after
  idea/testData/inspectionsLocal/moveLambdaOutsideParentheses/lambdaWithCommas3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA, Inspections

#3749 JVM_IR: do not use fields' superQualifierSymbol to cast the receiver
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/boxAgainstJava/visibility/protectedAndPackage/protectedSuperField.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxAgainstJavaCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxAgainstJavaCodegenTestGenerated.java
Labels: Backend

#3754 [JVM_IR] Fix expectations for parcelize tests.
  plugins/parcelize/parcelize-compiler/testData/codegen/customParcelablesSameModule.ir.txt
  plugins/parcelize/parcelize-compiler/testData/codegen/customSimple.ir.txt
  plugins/parcelize/parcelize-compiler/testData/codegen/customSimpleDeprecated.ir.txt
  plugins/parcelize/parcelize-compiler/testData/codegen/customSimpleWithNewArray.ir.txt
Labels: Backend

#3713 KT-41298 "Remove redundant 'with' call" intention works incorrectly with non-local returns and single-expression functions
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantWithInspection.kt
  idea/testData/inspectionsLocal/redundantWith/asInitializer.kt
  idea/testData/inspectionsLocal/redundantWith/asInitializer.kt.after
  idea/testData/inspectionsLocal/redundantWith/asInitializerWithSingleReturn.kt
  idea/testData/inspectionsLocal/redundantWith/asInitializerWithSingleReturn.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA

#3753 JVM IR: Fix types in generated function reference constructor
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FunctionReferenceLowering.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionMethodReference.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2378 KT-31553 Complete Statement: Wrong auto-insertion of closing curly brace for a code block
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  idea/resources/META-INF/idea.xml
  idea/src/org/jetbrains/kotlin/idea/editor/KotlinEnterAfterUnmatchedBraceHandler.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/lambdaArgumentBeforeFunctionInitializer.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/lambdaArgumentBeforeLocalPropertyInitializer.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/lambdaArgumentBeforeMemberPropertyInitializer.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/lambdaArgumentBeforeTopLevelPropertyInitializer.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/notApplicableOnInitializer.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/whenBeforeLocalPropertyInitializer.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/whenBeforeMemberPropertyInitializer.kt
  idea/testData/editor/enterHandler/afterUnmatchedBrace/whenBeforeTopLevelPropertyInitializer.kt
  idea/tests/org/jetbrains/kotlin/idea/editor/AbstractEnterAfterUnmatchedBraceHandlerTest.kt
  idea/tests/org/jetbrains/kotlin/idea/editor/EnterAfterUnmatchedBraceHandlerTestGenerated.java
Labels: IDEA

#3751 JVM_IR: check for null when converting unboxed inline classes to strings
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStringConcatenationLowering.kt
  compiler/testData/codegen/box/inlineClasses/toStringOfUnboxedNullable.kt
  compiler/testData/codegen/bytecodeText/inlineClasses/toStringIsCalledByInlineClass.kt
  compiler/testData/codegen/bytecodeText/inlineClasses/toStringOfInlineClassValue.kt
  compiler/testData/codegen/bytecodeText/inlineClasses/toStringOfReferenceInlineClassValue.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2882 KT-34121 Report unused result of data class `copy` method
  idea/resources-en/messages/KotlinBundle.properties
  idea/resources/META-INF/inspections.xml
  idea/resources/inspectionDescriptions/UnusedDataClassCopyResult.html
  idea/src/org/jetbrains/kotlin/idea/inspections/UnusedDataClassCopyResultInspection.kt
  idea/testData/inspectionsLocal/unusedDataClassCopyResult/.inspection
  idea/testData/inspectionsLocal/unusedDataClassCopyResult/basic.kt
  idea/testData/inspectionsLocal/unusedDataClassCopyResult/basic2.kt
  idea/testData/inspectionsLocal/unusedDataClassCopyResult/used.kt
  idea/testData/inspectionsLocal/unusedDataClassCopyResult/used2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA, Inspections

#2883 KT-22665 "Create object" quick fix produce wrong code for enum
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/createClass/CreateClassFromReferenceExpressionActionFactory.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/enumEntryWithSuperclass.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/objectForEnum.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/objectForEnum.kt.after
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/objectForEnumInArgument.kt
  idea/testData/quickfix/createFromUsage/createClass/referenceExpression/objectForEnumInEquals.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA, Inspections

#3757 JVM_IR: slightly refactor ClassCodegen
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
Labels: Backend

#3761 FIR: carry annotations on delegated property accessors
  compiler/fir/raw-fir/raw-fir.common/src/org/jetbrains/kotlin/fir/builder/ConversionUtils.kt
  compiler/testData/codegen/box/annotations/delegatedPropertySetter.kt
Labels: FIR
