Repository JetBrains/kotlin, pull requests merged in 2020-05, with the labels that each got.

#3365 JVM IR: Take superQualifierSymbols into account when lowering inline classes
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmInlineClassLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/builders/ExpressionHelpers.kt
  compiler/testData/codegen/box/inlineClasses/mangledSuperCalls.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3376 FIR2IR: fix offsets for calls.
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/CallAndReferenceGenerator.kt
  compiler/testData/codegen/box/coroutines/coroutineToString.kt
  compiler/testData/codegen/box/coroutines/debug/multipleSuspendCallsOnSameLine.kt
  compiler/testData/codegen/box/coroutines/debug/runtimeDebugMetadata.kt
  compiler/testData/codegen/box/reflection/mapping/types/unit.kt
  compiler/testData/codegen/box/smap/chainCalls.kt
  compiler/testData/codegen/box/smap/infixCalls.kt
  compiler/testData/codegen/box/smap/simpleCallWithParams.kt
Labels: FIR

#3382 FIR: set proper visibility of property accessors.
  compiler/fir/analysis-tests/testData/resolveWithStdlib/callableReferences/ifWithCR.txt
  compiler/fir/raw-fir/light-tree2fir/src/org/jetbrains/kotlin/fir/lightTree/converter/DeclarationsConverter.kt
  compiler/fir/raw-fir/psi2fir/src/org/jetbrains/kotlin/fir/builder/RawFirBuilder.kt
  compiler/testData/codegen/box/classes/kt2477.kt
  compiler/testData/codegen/box/jvm8/defaults/privateInDefaultImpls.kt
  compiler/testData/codegen/box/regressions/kt13381.kt
  compiler/testData/codegen/box/traits/traitWithPrivateMember.kt
  compiler/testData/codegen/box/traits/traitWithPrivateMemberAccessFromLambda.kt
Labels: FIR

#3372 JVM_IR: do not handle Nothing in suspend tail call bridges
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/KotlinNothingValueExceptionLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/coroutines/tailCallToNothing.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3285 KT-37746 "Redundant suspend modifier" should not be reported for functions with actual keyword
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantSuspendModifierInspection.kt
  idea/testData/inspectionsLocal/redundantSuspend/actual.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2459 KT-15143 Kotlin: Colors&Fonts -> "Enum entry" should use Language Default -> Classes - Static field
  idea/idea-analysis/src/org/jetbrains/kotlin/idea/highlighter/KotlinHighlightingColors.java
Labels: IDEA, Remote Run

#2512 KT-14946 Move statement up/down (with Ctrl+Shift+Up/Down) messes with empty lines
  idea/src/org/jetbrains/kotlin/idea/codeInsight/upDownMover/KotlinDeclarationMover.java
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classAtBrace1.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classAtBrace2.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classAtBrace3.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classAtBrace4.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classAtBrace5.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classAtBrace6.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classWithoutBody1.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classWithoutBody2.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classWithoutBody3.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/classWithoutBody4.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-1.kt
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-1.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-2.kt
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-2.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-3.kt
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-3.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-4.kt
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-4.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-5.kt
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-5.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-6.kt
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-6.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-7.kt
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/class/kt-14946-7.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/function/functionAtBrace1.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/function/functionAtBrace2.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/function/functionAtBrace3.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/function/functionAtBrace4.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/function/functionAtBrace5.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/function/functionAtBrace6.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/property/propertyAtBrace1.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/property/propertyAtBrace2.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/property/propertyAtBrace3.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/property/propertyAtBrace4.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/property/propertyAtBrace5.kt.after
  idea/testData/codeInsight/moveUpDown/classBodyDeclarations/property/propertyAtBrace6.kt.after
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/moveUpDown/MoveStatementTestGenerated.java
Labels: IDEA

#2504 KT-14757 Move statement up breaks code in function parameter list
  idea/src/org/jetbrains/kotlin/idea/codeInsight/upDownMover/KotlinExpressionMover.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/funParams10.kt
  idea/testData/codeInsight/moveUpDown/parametersAndArguments/funParams9.kt
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/moveUpDown/MoveStatementTestGenerated.java
Labels: IDEA

#2143 KT-30128 Change Signature should move lambda outside of parentheses if the arguments are reordered so that the lambda goes last
  idea/src/org/jetbrains/kotlin/idea/refactoring/changeSignature/KotlinChangeSignatureProcessor.kt
  idea/testData/refactoring/changeSignature/MoveLambdaParameterToLastAfter.kt
  idea/testData/refactoring/changeSignature/MoveLambdaParameterToLastBefore.kt
  idea/tests/org/jetbrains/kotlin/idea/refactoring/changeSignature/KotlinChangeSignatureTest.kt
Labels: IDEA, Remote Run

#3387 [IR/FIR] Use `isExpect` from IR element instead of descriptor in ExpectDeclarationRemover
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/ExpectDeclarationRemover.kt
  compiler/testData/codegen/box/ir/serializationRegressions/dispatchReceiverValue.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/bothInExpectAndActual.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/bothInExpectAndActual2.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/dispatchReceiverValue.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/extensionReceiverValue.kt
  compiler/testData/codegen/box/multiplatform/defaultArguments/inheritedFromCommonClass.kt
  compiler/testData/codegen/box/multiplatform/expectClassInJvmMultifileFacade.kt
  compiler/testData/codegen/box/multiplatform/multiModule/expectActualLink.kt
  compiler/testData/codegen/box/multiplatform/multiModule/expectActualMemberLink.kt
  compiler/testData/codegen/box/multiplatform/multiModule/expectActualTypealiasLink.kt
Labels: Backend

#3390 Add samples for String/CharSequence filter & filterNot
  libraries/stdlib/common/src/generated/_Strings.kt
  libraries/stdlib/samples/test/samples/text/strings.kt
  libraries/tools/kotlin-stdlib-gen/src/templates/Filtering.kt
Labels: Standard Library Sample

#2678 KT-33951 ReplaceWith quickfix with unqualified object member call doesn't substitute argument for parameter
  idea/src/org/jetbrains/kotlin/idea/codeInliner/CodeToInlineBuilder.kt
  idea/testData/quickfix/deprecatedSymbolUsage/importedObjectFunctionAddReceiver.kt
  idea/testData/quickfix/deprecatedSymbolUsage/importedObjectFunctionAddReceiver.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#3283 KT-20357 Added sortedBy() sample
  libraries/stdlib/common/src/generated/_Arrays.kt
  libraries/stdlib/common/src/generated/_Collections.kt
  libraries/stdlib/common/src/generated/_Sequences.kt
  libraries/stdlib/samples/test/samples/collections/collections.kt
  libraries/tools/kotlin-stdlib-gen/src/templates/Ordering.kt
Labels: Standard Library Sample

#3399 JVM IR: Fix mangling of @JvmStatic internal function in companion objects
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStaticAnnotationLowering.kt
  compiler/testData/codegen/bytecodeText/jvmStaticInternalMangling.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3392 FIR: fix default constructor visibility for enum entry.
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/fir/raw-fir/light-tree2fir/src/org/jetbrains/kotlin/fir/lightTree/fir/ClassWrapper.kt
  compiler/fir/raw-fir/psi2fir/src/org/jetbrains/kotlin/fir/builder/RawFirBuilder.kt
  compiler/fir/raw-fir/psi2fir/testData/rawBuilder/declarations/annotation.txt
  compiler/fir/raw-fir/psi2fir/testData/rawBuilder/declarations/constructorInObject.txt
  compiler/fir/raw-fir/psi2fir/testData/rawBuilder/declarations/enums.txt
  compiler/fir/raw-fir/psi2fir/testData/rawBuilder/declarations/enums2.txt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/FirStatusResolveTransformer.kt
Labels: FIR

#3408 [JVM] Port line number tests to stepping framework.
  compiler/testData/debug/stepping/IfTrueThenFalse.kt
  compiler/testData/debug/stepping/anonymousFunction.kt
  compiler/testData/debug/stepping/assertion.kt
  compiler/testData/debug/stepping/callableReference.kt
  compiler/testData/debug/stepping/class.kt
  compiler/testData/debug/stepping/classObject.kt
  compiler/testData/debug/stepping/conjunction.kt
  compiler/testData/debug/stepping/defaultParameter.kt
  compiler/testData/debug/stepping/enum.kt
  compiler/testData/debug/stepping/for.kt
  compiler/testData/debug/stepping/functionInAnotherFile.kt
  compiler/testData/debug/stepping/if.kt
  compiler/testData/debug/stepping/if2.kt
  compiler/testData/debug/stepping/iincStepping.kt
  compiler/testData/debug/stepping/inlineCallableReference.kt
  compiler/testData/debug/stepping/inlineNamedCallableReference.kt
  compiler/testData/debug/stepping/inlineSimpleCall.kt
  compiler/testData/debug/stepping/lambdaStepInline.kt
  compiler/testData/debug/stepping/lambdaStepInlineWithDefaults.kt
  compiler/testData/debug/stepping/lineNumberAfterInline.kt
  compiler/testData/debug/stepping/localFunction.kt
  compiler/testData/debug/stepping/namedCallableReference.kt
  compiler/testData/debug/stepping/nestedInline.kt
  compiler/testData/debug/stepping/propertyAccessor.kt
  compiler/testData/debug/stepping/psvm.kt
  compiler/testData/debug/stepping/recursion.kt
  compiler/testData/debug/stepping/simpleDefaultArg.kt
  compiler/testData/debug/stepping/simpleDefaultArgWithInline.kt
  compiler/testData/debug/stepping/simpleInlineDefaultArg.kt
  compiler/testData/debug/stepping/simpleSmap.kt
  compiler/testData/debug/stepping/throwException.kt
  compiler/testData/debug/stepping/topLevel.kt
  compiler/testData/debug/stepping/trait.kt
  compiler/testData/debug/stepping/tryCatch.kt
  compiler/testData/debug/stepping/voidLambdaStepInline.kt
  compiler/testData/debug/stepping/while.kt
  compiler/testData/lineNumber/anonymousFunction.kt
  compiler/testData/lineNumber/class.kt
  compiler/testData/lineNumber/classObject.kt
  compiler/testData/lineNumber/defaultParameter.kt
  compiler/testData/lineNumber/enum.kt
  compiler/testData/lineNumber/for.kt
  compiler/testData/lineNumber/if.kt
  compiler/testData/lineNumber/inlineSimpleCall.kt
  compiler/testData/lineNumber/lineNumberAfterInline.kt
  compiler/testData/lineNumber/localFunction.kt
  compiler/testData/lineNumber/object.kt
  compiler/testData/lineNumber/propertyAccessor.kt
  compiler/testData/lineNumber/psvm.kt
  compiler/testData/lineNumber/simpleSmap.kt
  compiler/testData/lineNumber/topLevel.kt
  compiler/testData/lineNumber/trait.kt
  compiler/testData/lineNumber/tryCatch.kt
  compiler/testData/lineNumber/while.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractSteppingTest.kt
  compiler/tests/org/jetbrains/kotlin/codegen/LineNumberTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrLineNumberTestGenerated.java
Labels: Backend

#3423 JVM_IR: fix a bug when `isInlineParameter` is applied to default stubs
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/defaultMethodUtilIr.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/testData/codegen/boxInline/syntheticAccessors/withinInlineLambda/privateInDefaultStubArgument.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenInlineTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenInlineTestGenerated.java
Labels: Backend

#3428 [JVM] Port remaining line number tests to stepping infrastructure.
  compiler/testData/debug/stepping/beforeGotoToWhileStart.kt
  compiler/testData/debug/stepping/callWithCallInArguments.kt
  compiler/testData/debug/stepping/callWithReceiver.kt
  compiler/testData/debug/stepping/chainCall.kt
  compiler/testData/debug/stepping/compileTimeConstant.kt
  compiler/testData/debug/stepping/functionCallWithDefault.kt
  compiler/testData/debug/stepping/functionCallWithInlinedLambdaParam.kt
  compiler/testData/debug/stepping/functionCallWithLambdaParam.kt
  compiler/testData/debug/stepping/ifThen.kt
  compiler/testData/debug/stepping/ifThenElse.kt
  compiler/testData/debug/stepping/ifThenElseFalse.kt
  compiler/testData/debug/stepping/inTheEndOfLambdaArgumentOfInlineCall.kt
  compiler/testData/debug/stepping/initBlocks.kt
  compiler/testData/debug/stepping/multilineFunctionCall.kt
  compiler/testData/debug/stepping/multilineInfixCall.kt
  compiler/testData/debug/stepping/noParametersArgumentCallInExpression.kt
  compiler/testData/debug/stepping/primitiveNullChecks.kt
  compiler/testData/debug/stepping/smapInlineAsArgument.kt
  compiler/testData/debug/stepping/smapInlineAsInfixArgument.kt
  compiler/testData/debug/stepping/smapInlineAsInlineArgument.kt
  compiler/testData/debug/stepping/smapInlineInIntrinsicArgument.kt
  compiler/testData/debug/stepping/tryCatchExpression.kt
  compiler/testData/debug/stepping/tryCatchFinally.kt
  compiler/testData/debug/stepping/tryFinally.kt
  compiler/testData/debug/stepping/when.kt
  compiler/testData/debug/stepping/whenSubject.kt
  compiler/testData/lineNumber/custom/beforeGotoToWhileStart.kt
  compiler/testData/lineNumber/custom/callWithCallInArguments.kt
  compiler/testData/lineNumber/custom/callWithReceiver.kt
  compiler/testData/lineNumber/custom/chainCall.kt
  compiler/testData/lineNumber/custom/compileTimeConstant.kt
  compiler/testData/lineNumber/custom/functionCallWithDefault.kt
  compiler/testData/lineNumber/custom/functionCallWithInlinedLambdaParam.kt
  compiler/testData/lineNumber/custom/functionCallWithLambdaParam.kt
  compiler/testData/lineNumber/custom/ifThen.kt
  compiler/testData/lineNumber/custom/ifThenElse.kt
  compiler/testData/lineNumber/custom/ifThenElseFalse.kt
  compiler/testData/lineNumber/custom/inTheEndOfLambdaArgumentOfInlineCall.kt
  compiler/testData/lineNumber/custom/initBlocks.kt
  compiler/testData/lineNumber/custom/multilineFunctionCall.kt
  compiler/testData/lineNumber/custom/multilineInfixCall.kt
  compiler/testData/lineNumber/custom/noParametersArgumentCallInExpression.kt
  compiler/testData/lineNumber/custom/primitiveNullChecks.kt
  compiler/testData/lineNumber/custom/smapInlineAsArgument.kt
  compiler/testData/lineNumber/custom/smapInlineAsInfixArgument.kt
  compiler/testData/lineNumber/custom/smapInlineAsInlineArgument.kt
  compiler/testData/lineNumber/custom/smapInlineInIntrinsicArgument.kt
  compiler/testData/lineNumber/custom/tryCatchExpression.kt
  compiler/testData/lineNumber/custom/tryCatchFinally.kt
  compiler/testData/lineNumber/custom/tryFinally.kt
  compiler/testData/lineNumber/custom/when.kt
  compiler/testData/lineNumber/custom/whenSubject.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/AbstractLineNumberTest.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractSteppingTest.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/ir/AbstractIrLineNumberTest.kt
  compiler/tests/org/jetbrains/kotlin/codegen/LineNumberTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrLineNumberTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/generators/tests/GenerateCompilerTests.kt
Labels: Backend

#3385 Add scripting REPL completion options
  plugins/scripting/scripting-ide-services-test/test/org/jetbrains/kotlin/scripting/ide_services/ReplCompletionAndErrorsAnalysisTest.kt
  plugins/scripting/scripting-ide-services/src/org/jetbrains/kotlin/scripting/ide_services/compiler/CompletionOptions.kt
  plugins/scripting/scripting-ide-services/src/org/jetbrains/kotlin/scripting/ide_services/compiler/KJvmReplCompilerWithIdeServices.kt
  plugins/scripting/scripting-ide-services/src/org/jetbrains/kotlin/scripting/ide_services/compiler/impl/KJvmReplCompleter.kt
Labels: Scripts
