Repository JetBrains/kotlin, pull requests merged in 2020-11, with the labels that each got.

#3867 [JVM_IR] Rebase inline function and defaults args stepping test.
  compiler/testData/debug/stepping/simpleInlineDefaultArg.kt
Labels: Backend

#3816 Minor: Remove unused "IGNORE_BACKEND_FIR" directives in asmLike test-data
  compiler/testData/codegen/asmLike/typeAnnotations/complex.kt
  compiler/testData/codegen/asmLike/typeAnnotations/constructor.kt
  compiler/testData/codegen/asmLike/typeAnnotations/defaultArgs.kt
  compiler/testData/codegen/asmLike/typeAnnotations/enumClassConstructor.kt
  compiler/testData/codegen/asmLike/typeAnnotations/extension.kt
  compiler/testData/codegen/asmLike/typeAnnotations/implicit.kt
  compiler/testData/codegen/asmLike/typeAnnotations/innerClassConstructor.kt
  compiler/testData/codegen/asmLike/typeAnnotations/jvmOverload.kt
  compiler/testData/codegen/asmLike/typeAnnotations/jvmStatic.kt
  compiler/testData/codegen/asmLike/typeAnnotations/notYetSupported.kt
  compiler/testData/codegen/asmLike/typeAnnotations/property.kt
  compiler/testData/codegen/asmLike/typeAnnotations/simple.kt
  compiler/testData/codegen/asmLike/typeAnnotations/simple2Params.kt
  compiler/testData/codegen/asmLike/typeAnnotations/staticNested.kt
  compiler/testData/codegen/asmLike/typeAnnotations/syntheticAccessors.kt
Labels: Backend

#3886 JVM IR: Fix names for SAM callable references with inline class return types
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FunctionReferenceLowering.kt
  compiler/testData/codegen/bytecodeListing/kt42879.kt
  compiler/testData/codegen/bytecodeListing/kt42879.txt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/generators/tests/GenerateCompilerTests.kt
Labels: Backend

#3890 JVM IR: Don't generate null checks on value parameters of private operator functions
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/javaInterop/notNullAssertions/privateOperatorParameterAssertions.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#3879 [JVM_IR] Follow old backend in bridge visibility and varargs marking.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
  compiler/testData/codegen/bytecodeListing/varargsBridge.kt
  compiler/testData/codegen/bytecodeListing/varargsBridge.txt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
Labels: Backend

#3861 kotlin.native.cocoapods.targets can be a custom list of architectures
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/kotlin/org/jetbrains/kotlin/gradle/native/CocoaPodsIT.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/native/cocoapods/KotlinCocoapodsPlugin.kt
Labels: Native

#3878 Fix configuration cache issue in AbstractKotlinTarget
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/plugin/mpp/kotlinTargets.kt
Labels: Gradle Plugin

#3893 [IR] Correct line number on suspend function with implicit unit return
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/TailCallOptimizationLowering.kt
  compiler/testData/debug/stepping/suspendFunWithLambdaParameter.kt
  compiler/testData/debug/stepping/suspendFunWithSuspendLambdaParameter.kt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
Labels: Backend

#3898 Add support of nullable serializers to UseSerializers annotation
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/AbstractSerialGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/TypeUtil.kt
Labels: Tools

#3874 [JVM_IR] Determine correct type of empty varargs array.
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxAgainstJavaCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FunctionReferenceLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/IrTypeSystemContext.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
  compiler/testData/codegen/boxAgainstJava/varargs/varargsOverride.kt
  compiler/testData/codegen/boxAgainstJava/varargs/varargsOverride2.kt
  compiler/testData/codegen/boxAgainstJava/varargs/varargsOverride3.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxAgainstJavaCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxAgainstJavaCodegenTestGenerated.java
Labels: Backend

#3818 JVM: Allow the JvmSynthetic annotation on file classes (KT-41884)
  compiler/backend/src/org/jetbrains/kotlin/codegen/PackagePartCodegen.java
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/annotations/jvmAnnotationUtil.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/testData/writeFlags/class/accessFlags/syntheticFile.kt
  compiler/tests/org/jetbrains/kotlin/codegen/flags/WriteFlagsTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrWriteFlagsTestGenerated.java
Labels: Backend

#3896 [JVM_IR] Deal with lowering ordering for JvmStatic function references
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmBackendContext.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStaticAnnotationLowering.kt
  compiler/testData/codegen/box/jvmStatic/functionReference.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#3921 Use separate logic for filtering and skipping in collectAndFilterRealOverrides [KT-43487]
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrFakeOverrideUtils.kt
  compiler/testData/codegen/box/traits/abstractClassWithFakeOverride.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#3871 [JVM+IR] Rebase LVT test of destructuring in lambda params
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/underscoreNames.kt
  compiler/testData/debug/localVariables/suspend/underscoreNames.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CheckLocalVariablesTableTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCheckLocalVariablesTableTestGenerated.java
Labels: Backend

#3906 Add support of nullable serializers to UseSerializers annotation
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/TypeUtil.kt
Labels: Tools

#3907 Fix serializing properties with custom accessors
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/resolve/SerializableProperties.kt
Labels: Tools

#3923 Resolve method calls with reified type parameters in the same compilation
  plugins/uast-kotlin/src/org/jetbrains/uast/kotlin/internal/kotlinInternalUastUtils.kt
  plugins/uast-kotlin/testData/ReifiedResolve.kt
  plugins/uast-kotlin/testData/ReifiedResolve.resolved.txt
  plugins/uast-kotlin/tests/KotlinUastResolveEverythingTest.kt
Labels: UAST

#3862 Optimize check for missing fields in deserialization
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/SerializableCodegen.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/GeneratorHelpers.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerialInfoImplJvmIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializableIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializerIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/jvm/JVMCodegenUtil.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/jvm/SerializableCodegenImpl.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/diagnostic/VersionReader.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/resolve/NamingConventions.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/resolve/SearchUtils.kt
Labels: Tools
