Repository JetBrains/kotlin, pull requests merged in 2020-01, with the labels that each got.

#2942 JVM_IR: Remove accessor for internal inline class properties.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmInlineClassLowering.kt
  compiler/testData/codegen/box/reflection/mapping/inlineClassPrimaryVal.kt
Labels: Backend

#2937 JVM_IR: fix a couple of inline class reflection issues.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/SignatureString.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PropertyReferenceLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/box/reflection/call/inlineClasses/nonOverridingVarOfInlineClass.kt
  compiler/testData/codegen/box/reflection/call/inlineClasses/overridingFunOfInlineClass.kt
  compiler/testData/codegen/box/reflection/call/inlineClasses/overridingVarOfInlineClass.kt
  compiler/testData/codegen/box/reflection/call/inlineClasses/properties.kt
  compiler/testData/codegen/box/reflection/callBy/inlineClassMembers.kt
Labels: Backend

#2941 JVM_IR: Preserve annotations on inline class replacement methods.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/box/unsignedTypes/evaluateConstructorOfUnsignedType.kt
  compiler/testData/loadJava/compiledKotlin/annotations/classMembers/PublishedApiAnnotationOnInlineClassCosntructor.kt
Labels: Backend

#2936 IR: work around a bug in interface delegation descriptors
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/testData/compileKotlinAgainstKotlin/delegatedDefault.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstKotlinTestGenerated.java
Labels: Backend

#2957 JVM IR: Mark Enum.$VALUES field as synthetic
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/EnumClassLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/IrDeclarationOrigin.kt
  compiler/testData/writeFlags/property/enumFields.kt
  compiler/tests/org/jetbrains/kotlin/codegen/flags/WriteFlagsTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrWriteFlagsTestGenerated.java
Labels: Backend

#2951 JVM_IR: fix default argument stub visibility.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/EnumClassLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultArgumentStubGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultParameterInjector.kt
  compiler/testData/codegen/box/reflection/callBy/privateMemberFunction.kt
  compiler/testData/writeFlags/function/withDefaultArguments/funInClass.kt
  compiler/testData/writeFlags/function/withDefaultArguments/inlineOnlyFunInClass.kt
Labels: Backend

#2959 [JVM IR] Fix issue with destructuring declaration in parameter for suspend lambda
  compiler/ir/backend.common/src/org/jetbrains/kotlin/ir/builders/declarations/declarationBuilders.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/destructuringInLambdas.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/suspendDestructuringInLambdas.kt
Labels: Backend

#2955 JVM_IR: refactor suspendFunctionView
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/testData/codegen/boxInline/suspend/receiver/inlineSuspendOfNoinlineSuspend.kt
Labels: Backend

#2962 JVM_IR: skip synthetic enum parameters in signatures
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/testData/codegen/box/reflection/mapping/types/constructors.kt
Labels: Backend

#2965 JVM_IR: deal with inline class arguments in AddContinuationLowering
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultParameterInjector.kt
  compiler/testData/codegen/box/inlineClasses/unboxParameterOfSuspendLambdaBeforeInvoke.kt
Labels: Backend

#2938 KT-20120 fixing bug for Java 9 Deprecated
  nj2k/src/org/jetbrains/kotlin/nj2k/conversions/JavaAnnotationsConversion.kt
  nj2k/testData/newJ2k/annotations/java9Deprecated.java
  nj2k/testData/newJ2k/annotations/java9Deprecated.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#2968 JVM_IR: handle suspend functions for signatures in callable references.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/SignatureString.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/callableReference/fromJava.kt
  compiler/testData/codegen/box/coroutines/reflect/callSuspend.kt
  compiler/testData/codegen/box/coroutines/tailCallOptimizations/unit/reflection.kt
  compiler/testData/codegen/box/reflection/modifiers/functions.kt
Labels: Backend

#2971 JVM_IR: Put continuation parameter before default mask and handler.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/testData/codegen/box/coroutines/reflect/callSuspendBy.kt
Labels: Backend

#2960 KT-26248 "Refactor -> Inline variable" breaks callable references
  idea/src/org/jetbrains/kotlin/idea/codeInliner/UsageReplacementStrategy.kt
  idea/testData/refactoring/inline/function/ReferenceReceiver.kt
  idea/testData/refactoring/inline/function/ReferenceReceiver.kt.after
  idea/tests/org/jetbrains/kotlin/idea/refactoring/inline/InlineTestGenerated.java
Labels: IDEA

#2963 [JVM IR] Refactor InterfaceDelegationPhase
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InheritedDefaultMethodsOnClassesLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
Labels: Backend

#2934 IR: unify 3 copies of function body remapping
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrInlineUtils.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/ArrayConstructorLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AssertionLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CallableReferenceLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/StaticDefaultFunctionLowering.kt
  compiler/testData/codegen/boxInline/nonLocalReturns/fromInterfaceDefaultGetter.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrNonLocalReturnsTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/NonLocalReturnsTestGenerated.java
Labels: Backend

#2982 JVM_IR: actually forward the parameters to $suspendImpl
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionAsCoroutine/superCall.kt
Labels: Backend

#2973 [JVM IR] Fix `checkLocalVariablesTableTest/parametersInSuspendLambda`
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmSymbols.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/dataClass.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/extensionComponents.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/generic.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/inline.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/otherParameters.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/parameters.kt
  compiler/testData/checkLocalVariablesTable/parametersInSuspendLambda/underscoreNames.kt
Labels: Backend

#2976 JVM_IR: Fix bug in suspend function with many default arguments.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/testData/codegen/box/coroutines/reflect/callSuspendBy.kt
Labels: Backend

#2807 Fix nodejs setup task check
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/nodejs/NodeJsSetupTask.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/yarn/YarnSetupTask.kt
Labels: JS

#2987 JVM_IR: mark the exception local as live only after the store
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
Labels: Backend

#2991 IR: close over the set of captured type parameters
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/ClosureAnnotator.kt
  compiler/testData/codegen/box/functions/localFunctions/captureUpperBoundedTypeParameter.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2993 JVM_IR: patch parents of defaults in MemoizedInlineClassReplacements
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
Labels: Backend

#2995 JVM_IR: Avoid using parent name in name of captures.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/testData/codegen/box/coroutines/tailCallOptimizations/innerObjectRetransformation_ir.txt
  compiler/testData/codegen/bytecodeText/mangling/parentheses.kt
Labels: Backend

#2940 JVM_IR: Fix default argument bit mask for methods made static.
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/IrDeclarationOrigin.kt
  compiler/testData/codegen/box/parametersMetadata/inlineClassMethodParameterModifiers.kt
  compiler/testData/codegen/box/parametersMetadata/inlineClassMethodParameterNames.kt
  compiler/testData/codegen/box/reflection/callBy/inlineClassFunctionsAndConstructors.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#3005 Fix test expectations.
  compiler/testData/codegen/bytecodeText/mangling/parentheses.kt
Labels: Backend

#1987 KT-27856 Add contracts to Timing.kt lambdas
  libraries/stdlib/jvm/src/kotlin/system/Timing.kt
Labels: Standard Library

#2918 JVM_IR: do not remap locals in contexts nested inside lambdas
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/MethodInliner.kt
  compiler/testData/codegen/boxInline/reified/nonCapturingObjectInLambda.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
Labels: Backend

#3008 KT-34686 False positive "Constructor parameter is never used as a property" if property is used as a reference
  idea/src/org/jetbrains/kotlin/idea/inspections/CanBeParameterInspection.kt
  idea/testData/inspections/canBeParameter/test.kt
Labels: Inspections

#3023 JVM_IR: Use direct field access instead of calling certain accessors.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmOptimizationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PropertiesToFieldsLowering.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/transformations/InsertImplicitCasts.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
  compiler/testData/codegen/bytecodeText/accessorForOverridenVal.kt
  compiler/testData/codegen/bytecodeText/constants/noInlineNonConst.kt
  compiler/testData/codegen/bytecodeText/kt3845.kt
Labels: Backend

#3015 Fix file components order
  idea/idea-gradle/src/org/jetbrains/kotlin/idea/configuration/KotlinGradleWebMultiplatformModuleBuilder.kt
Labels: JS

#2790 KT-33384 Intention to switch between single-line/multi-line lambda
  idea/resources/META-INF/plugin-common.xml
  idea/resources/intentionDescriptions/ConvertLambdaToMultiLineIntention/after.kt.template
  idea/resources/intentionDescriptions/ConvertLambdaToMultiLineIntention/before.kt.template
  idea/resources/intentionDescriptions/ConvertLambdaToMultiLineIntention/description.html
  idea/resources/intentionDescriptions/ConvertLambdaToSingleLineIntention/after.kt.template
  idea/resources/intentionDescriptions/ConvertLambdaToSingleLineIntention/before.kt.template
  idea/resources/intentionDescriptions/ConvertLambdaToSingleLineIntention/description.html
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertLambdaLineIntention.kt
  idea/testData/intentions/convertLambdaToMultiLine/.intention
  idea/testData/intentions/convertLambdaToMultiLine/multiLine.kt
  idea/testData/intentions/convertLambdaToMultiLine/simple.kt
  idea/testData/intentions/convertLambdaToMultiLine/simple.kt.after
  idea/testData/intentions/convertLambdaToMultiLine/simple2.kt
  idea/testData/intentions/convertLambdaToMultiLine/simple2.kt.after
  idea/testData/intentions/convertLambdaToMultiLine/simple3.kt
  idea/testData/intentions/convertLambdaToMultiLine/simple3.kt.after
  idea/testData/intentions/convertLambdaToMultiLine/simple4.kt
  idea/testData/intentions/convertLambdaToMultiLine/simple4.kt.after
  idea/testData/intentions/convertLambdaToMultiLine/simple5.kt
  idea/testData/intentions/convertLambdaToMultiLine/simple5.kt.after
  idea/testData/intentions/convertLambdaToMultiLine/simple6.kt
  idea/testData/intentions/convertLambdaToMultiLine/simple6.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/.intention
  idea/testData/intentions/convertLambdaToSingleLine/hasEolComment.kt
  idea/testData/intentions/convertLambdaToSingleLine/multiLineBody.kt
  idea/testData/intentions/convertLambdaToSingleLine/multiLineBody2.kt
  idea/testData/intentions/convertLambdaToSingleLine/multiLineBody2.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/multiLineBody3.kt
  idea/testData/intentions/convertLambdaToSingleLine/multiLineBody3.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/simple.kt
  idea/testData/intentions/convertLambdaToSingleLine/simple.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/simple2.kt
  idea/testData/intentions/convertLambdaToSingleLine/simple2.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/simple3.kt
  idea/testData/intentions/convertLambdaToSingleLine/simple3.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/simple4.kt
  idea/testData/intentions/convertLambdaToSingleLine/simple4.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/simple5.kt
  idea/testData/intentions/convertLambdaToSingleLine/simple5.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/simple6.kt
  idea/testData/intentions/convertLambdaToSingleLine/simple6.kt.after
  idea/testData/intentions/convertLambdaToSingleLine/singleLine.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections, Remote Run

#3037 [JVM + IR] Fix Generic Signature Test Expectations
  compiler/testData/writeSignature/syntheticAccessorForGeneric.kt
Labels: Backend

#3024 JVM: Add D8 check that class files can be dexed with D8.
  build.gradle.kts
  compiler/testData/codegen/box/classes/quotedClassName.kt
  compiler/testData/codegen/box/localClasses/nameWithWhitespace.kt
  compiler/tests-common/build.gradle.kts
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/CodegenTestCase.java
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/D8Checker.java
  compiler/tests/org/jetbrains/kotlin/codegen/TestStdlibWithDxTest.kt
Labels: Backend

#3030 JVM_IR: further refine synthetic accessor generation
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrInlineReferenceLocator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CallableReferenceLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FakeInliningLocalVariablesLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InlineCallableReferenceToLambda.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/boxAgainstJava/visibility/protectedAndPackage/protectedPropertyInPackageFromCrossinline.kt
  compiler/testData/codegen/boxInline/syntheticAccessors/withinInlineLambda/protectedMembersFromSuper.kt
  compiler/testData/codegen/bytecodeText/noAccessorForProtectedInSamePackageCrossinline.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxAgainstJavaCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxAgainstJavaCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
Labels: Backend

#3047 Update message on KotlinReflectionInternalError to reflect that typeliases are also unsupported
  core/reflection.jvm/src/kotlin/reflect/jvm/internal/EmptyContainerForLocal.kt
Labels: Reflection
