Repository JetBrains/kotlin, pull requests merged in 2020-03, with the labels that each got.

#3050 KT-31601 "Remove redundant let call" changes semantics by introducing multiple safe calls
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantLetInspection.kt
  idea/testData/inspectionsLocal/simpleRedundantLet/extensionCall.kt
  idea/testData/inspectionsLocal/simpleRedundantLet/extensionCall.kt.after
  idea/testData/inspectionsLocal/simpleRedundantLet/extensionWithNullableReceiverCall.kt
  idea/testData/inspectionsLocal/simpleRedundantLet/extensionWithNullableReceiverCall2.kt
  idea/testData/inspectionsLocal/simpleRedundantLet/extensionWithNullableReceiverCall3.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3051 KT-35587 Avoid uses of plain "kotlin" in metadata deserialization.
  core/metadata.jvm/src/org/jetbrains/kotlin/metadata/jvm/deserialization/ClassMapperLite.kt
  core/metadata.jvm/src/org/jetbrains/kotlin/metadata/jvm/deserialization/JvmNameResolver.kt
  libraries/kotlinx-metadata/jvm/build.gradle.kts
  libraries/kotlinx-metadata/jvm/test/kotlinx/metadata/test/JarContentTest.kt
Labels: Compiler

#3170 JVM_IR: refine the condition for mangling names of multifile members
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/testData/codegen/boxInline/suspend/inlineSuspendInMultifileClass.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
Labels: Backend

#3162 JVM: Generate generic signatures for delegate fields
  compiler/backend/src/org/jetbrains/kotlin/codegen/DelegationFieldsInfo.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/ImplementationBodyCodegen.java
  compiler/testData/codegen/bytecodeListing/specialBridges/signatures/genericClass.txt
  compiler/testData/codegen/bytecodeListing/specialBridges/signatures/nonGenericClass.txt
  compiler/testData/codegen/bytecodeListing/specialBridges/signatures/partiallySpecializedClass.txt
Labels: Backend

#3166 [JVM IR] Ensure there is one accessor for each `super` access from a subclass when there are multiple subclasses in a file
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/box/syntheticAccessors/superCallFromMultipleSubclasses.kt
  compiler/testData/codegen/boxInline/syntheticAccessors/superCallFromMultipleSubclasses.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3177 JVM_IR: apply TailCallOptimizationLowering to all suspend functions
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/TailCallOptimizationLowering.kt
  compiler/testData/codegen/box/coroutines/unitTypeReturn/interfaceDelegation.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3187 JVM_IR: place suspend markers in faux lambdas around inline references
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InlineCallableReferenceToLambda.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/TailCallOptimizationLowering.kt
  compiler/testData/codegen/boxInline/suspend/callableReference/nonTailCall.kt
  compiler/testData/codegen/boxInline/suspend/callableReference/unitReturn.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenInlineTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenInlineTestGenerated.java
Labels: Backend

#3184 JVM IR: Mangle interface implementation methods in inline classes
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmInlineClassLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/InlineClassAbi.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/bytecodeText/inlineClasses/mangledInlineClassInterfaceImplementation.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3178 JVM_IR: fix accesses from crossinline lambdas in other packages
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/boxInline/syntheticAccessors/withinInlineLambda/protectedInCrossinline.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
Labels: Backend

#3069 JVM_IR: partially fix inline methods using captured crossinline lambdas
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/testData/codegen/box/coroutines/javaInterop/objectWithSeveralSuspends.kt
  compiler/testData/codegen/box/coroutines/tailCallOptimizations/crossinline_ir.txt
  compiler/testData/codegen/box/coroutines/tailCallOptimizations/innerObjectRetransformation_ir.txt
  compiler/testData/codegen/box/coroutines/tailCallOptimizations/unit/override5_ir.txt
  compiler/testData/codegen/boxInline/anonymousObject/withInlineMethod.kt
  compiler/testData/codegen/bytecodeListing/coroutines/tcoContinuation_ir.txt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenInlineTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenInlineTestGenerated.java
Labels: Backend

#3194 Detect inline cycles faster
  compiler/backend/src/org/jetbrains/kotlin/codegen/FunctionGenerationStrategy.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/InlineCycleReporter.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/GlobalInlineContext.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/InlineCall.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/PsiInlineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/testData/diagnostics/testsWithJvmBackend/indirectInlineCycle.diag.txt
  compiler/testData/diagnostics/testsWithJvmBackend/indirectInlineCycle.kt
  compiler/testData/diagnostics/testsWithJvmBackend/indirectInlineCycle.txt
  compiler/testData/diagnostics/testsWithJvmBackend/suspendInlineCycle.diag.txt
  compiler/testData/diagnostics/testsWithJvmBackend/suspendInlineCycle.kt
  compiler/testData/diagnostics/testsWithJvmBackend/suspendInlineCycle.txt
  compiler/tests/org/jetbrains/kotlin/checkers/DiagnosticsTestWithJvmIrBackendGenerated.java
  compiler/tests/org/jetbrains/kotlin/checkers/DiagnosticsTestWithOldJvmBackendGenerated.java
Labels: Backend

#3180 JVM_IR: use fresh source map when generating lambda body for inline.
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/SMAP.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrSourceCompilerForInline.kt
  compiler/testData/codegen/boxInline/smap/smap.kt
  compiler/testData/codegen/bytecodeText/kt10259.kt
  compiler/testData/codegen/bytecodeText/kt10259_3.kt
  compiler/testData/lineNumber/custom/inTheEndOfLambdaArgumentOfInlineCall.kt
Labels: Backend

#3198 KT-37240 Deterministic order for webpack config patches
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/utils.kt
Labels: JS

#3185 Speed up stdlib readLine function
  libraries/stdlib/jvm/src/kotlin/io/Console.kt
  libraries/stdlib/jvm/test/io/Console.kt
Labels: Standard Library

#3165 KT-37260: Several ReplaceWith expressions in kotlinRefactoringUtil missing parameter
  idea/src/org/jetbrains/kotlin/idea/refactoring/kotlinRefactoringUtil.kt
Labels: IDEA

#3213 JVM: add a language feature to omit *E between SMAP strata
  compiler/backend/src/org/jetbrains/kotlin/codegen/AbstractClassBuilder.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/ClassBuilder.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/DelegatingClassBuilder.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/MemberCodegen.java
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/AnonymousObjectTransformer.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/SMAP.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/SMAPParser.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrSourceCompilerForInline.kt
  compiler/testData/codegen/boxInline/smap/smapWithNewSyntax.kt
  compiler/testData/codegen/boxInline/smap/smapWithOldSyntax.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/util/src/org/jetbrains/kotlin/config/LanguageVersionSettings.kt
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenInlineTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenInlineTestGenerated.java
Labels: Backend

#2830 KT-31912 QF “Convert to anonymous object” do nothing on SAM-interfaces
  idea/src/org/jetbrains/kotlin/idea/intentions/SamConversionToAnonymousObjectIntention.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/ConvertToAnonymousObjectFix.kt
  idea/testData/quickfix/convertToAnonymousObject/lambdaInParentheses.kt
  idea/testData/quickfix/convertToAnonymousObject/lambdaInParentheses.kt.after
  idea/testData/quickfix/convertToAnonymousObject/noLambda.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#3218 KT-37502 False positive "redundant lambda arrow" with inline generic function with reified type in object and anonymous parameter name
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantLambdaArrowInspection.kt
  idea/testData/inspectionsLocal/redundantLambdaArrow/typeParameter4.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3012 KT-36094 "Add missing component" intention adds extra comma to an empty destructuring declaration
  idea/src/org/jetbrains/kotlin/idea/intentions/AddMissingDestructuringIntention.kt
  idea/testData/intentions/addMissingDestructuring/empty.kt
  idea/testData/intentions/addMissingDestructuring/empty.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3189 KT-37496 False positive "Remove redundant backticks" for multiple underscores variable name
  idea/src/org/jetbrains/kotlin/idea/inspections/RemoveRedundantBackticksInspection.kt
  idea/testData/inspectionsLocal/removeRedundantBackticks/underscores.kt
  idea/testData/inspectionsLocal/removeRedundantBackticks/underscores2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections
