Repository JetBrains/kotlin, pull requests merged in 2020-10, with the labels that each got.

#3701 Move getColon from KtClass to KtClassOrObject
  compiler/psi/src/org/jetbrains/kotlin/psi/KtClass.kt
  compiler/psi/src/org/jetbrains/kotlin/psi/KtClassOrObject.kt
Labels: Compiler

#3769 [IR] Avoid extra lists creation during getting explicit/all parameters
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineIntrinsicsSupport.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
Labels: Backend

#3779 KT-41246 False positive "Receiver parameter is never used" with anonymous function expression
  idea/src/org/jetbrains/kotlin/idea/inspections/UnusedReceiverParameterInspection.kt
  idea/testData/inspectionsLocal/unusedReceiverParameter/anonymousFunction.kt
  idea/testData/inspectionsLocal/unusedReceiverParameter/anonymousFunction.kt.after
  idea/testData/inspectionsLocal/unusedReceiverParameter/anonymousFunctionCall.kt
  idea/testData/inspectionsLocal/unusedReceiverParameter/anonymousFunctionCall.kt.after
  idea/testData/inspectionsLocal/unusedReceiverParameter/anonymousFunctionCallWithReceiver.kt
  idea/testData/inspectionsLocal/unusedReceiverParameter/anonymousFunctionCallWithReceiver2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA

#3784 FIR2IR: distinguish constructor when picking return target
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrConversionScope.kt
  compiler/testData/codegen/box/secondaryConstructors/withNonLocalReturn.kt
Labels: FIR

#3781 FIR2IR: correct dispatch receiver inside inner class constructor
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrConversionScope.kt
  compiler/testData/codegen/box/secondaryConstructors/innerClasses.kt
  compiler/testData/codegen/box/secondaryConstructors/innerClassesInheritance.kt
Labels: FIR

#3792 [IR] Save several last calculated line numbers not to recalculate them several times during code and debug info generation
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/AdditionalIrUtils.kt
Labels: Backend

#3771 [PSI2IR] Use SYNTHETIC_OFFSET for delegated brigdes.
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/ClassGenerator.kt
Labels: Backend

#3791 JVM_IR: add a transformChildren call to PropertyReferenceLowering
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PropertyReferenceLowering.kt
  compiler/testData/codegen/box/callableReference/property/inReceiverOfAnother.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3796 Parcelize, JVM IR: Fix KT-41553
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/IrTypeUtils.kt
  plugins/parcelize/parcelize-compiler/src/org/jetbrains/kotlin/parcelize/ir/IrParcelSerializerFactory.kt
  plugins/parcelize/parcelize-compiler/testData/box/kt41553.kt
  plugins/parcelize/parcelize-compiler/testData/box/kt41553_2.kt
  plugins/parcelize/parcelize-compiler/tests/org/jetbrains/kotlin/parcelize/test/ParcelizeBoxTestGenerated.java
  plugins/parcelize/parcelize-compiler/tests/org/jetbrains/kotlin/parcelize/test/ParcelizeIrBoxTestGenerated.java
Labels: Android, Backend

#3741 [IR] Do not generate line numbers for synthesized data class members.
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/DataClassMembersGenerator.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/DataClassMembersGenerator.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/DataClassMembersGenerator.kt
  compiler/testData/debug/localVariables/copyFunction.kt
  compiler/testData/debug/stepping/dataClass.kt
  compiler/testData/ir/sourceRanges/declarations/synthesizedDataClassMembers.txt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/testData/evaluation/singleBreakpoint/dataClassCopy.out
Labels: Backend

#3789 FIR deserializer: load annotations on default accessors
  compiler/fir/fir-deserialization/src/org/jetbrains/kotlin/fir/deserialization/FirMemberDeserializer.kt
  compiler/testData/codegen/box/jvmPackageName/metadataField.kt
  compiler/testData/compileKotlinAgainstKotlin/jvmNames.kt
  compiler/testData/compileKotlinAgainstKotlin/targetedJvmName.kt
Labels: FIR

#3764 JVM_IR: fix copying of receivers when unboxing inline class parameters
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/FirCompileKotlinAgainstKotlinTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/compileKotlinAgainstKotlin/defaultWithInlineClassAndReceivers.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/JvmIrAgainstOldBoxTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/JvmOldAgainstIrBoxTestGenerated.java
Labels: Backend

#3802 JVM_IR: generate accessors for inherited abstract members too
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/box/syntheticAccessors/accessorForAbstractProtected.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3805 JVM_IR: move MoveOrCopyCompanionObjectFields down a bit
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
Labels: Backend

#3847 IR: remove unnecessary calls to deepCopyWithSymbols
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/RangeContainsLowering.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/HeaderProcessor.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/ProgressionType.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/Utils.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/handlers/DefaultProgressionHandler.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/loops/handlers/StepHandler.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/GenerateMultifileFacades.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultConstructorLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmInnerClassesSupport.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmOverloadsAnnotationLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStaticAnnotationLowering.kt
Labels: Backend

#3846 [JVM_IR] Fix off-by-one line number error in CoroutineCodegen.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepInto/stepIntoSuspendFunctionSimple.out
Labels: Backend

#3688 doc: update collection example
  libraries/stdlib/samples/test/samples/collections/builders.kt
  libraries/stdlib/src/kotlin/collections/Collections.kt
Labels: Standard Library Sample

#3790 JVM_IR: make `primitive == object` slightly less lazy.
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBytecodeTextTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/CompareTo.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Equals.kt
  compiler/testData/codegen/bytecodeText/deadCodeElimination/unusedPrimitiveAndObjectEquals.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3850 JVM_IR: refine the condition for caching method nodes
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SuspendLambdaLowering.kt
Labels: Backend

#3815 [IR] Eliminated expensive calculating of fqNames
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/CommonBackendContext.kt
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/AbstractSuspendFunctionsLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmBackendContext.kt
  compiler/ir/backend.wasm/src/org/jetbrains/kotlin/backend/wasm/WasmBackendContext.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/irTypePredicates.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/AdditionalIrUtils.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
Labels: Backend

#3787 Typos fixed
  js/js.tests/test/org/jetbrains/kotlin/benchmarks/GenerateIrRuntime.kt
Labels: JS

#3848 KT-42364 JS. Configurable delegated properties
  js/js.translator/src/org/jetbrains/kotlin/js/translate/declaration/DelegationTranslator.kt
  js/js.translator/testData/box/propertyAccess/configurable.kt
Labels: JS BE

#3860 [IR] Made signature nullable
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/symbols/Fir2IrBindableSymbol.kt
  compiler/ir/backend.js/src/org/jetbrains/kotlin/ir/backend/js/lower/MoveBodilessDeclarationsToSeparatePlace.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/symbols/IrClassifierEqualityChecker.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/symbols/IrDelegatingSymbol.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/symbols/IrSymbol.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/symbols/impl/DescriptorlessExternalPackageFragmentSymbol.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/symbols/impl/IrPrivateSymbolBase.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/symbols/impl/IrPublicSymbolBase.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/IrTypeSystemContext.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/irTypePredicates.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/AdditionalIrUtils.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/DeclarationStubGenerator.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/SymbolTable.kt
  compiler/ir/serialization.common/src/org/jetbrains/kotlin/backend/common/serialization/DeclarationTable.kt
  compiler/ir/serialization.common/src/org/jetbrains/kotlin/backend/common/serialization/IncrementalCompilationSupport.kt
  compiler/ir/serialization.common/src/org/jetbrains/kotlin/backend/common/serialization/IrModuleDeserializer.kt
Labels: Backend

#3858 JVM_IR: generate shorter names for classes in delegate initializers
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InventNamesForLocalClasses.kt
  compiler/testData/checkLocalVariablesTable/objectInLocalPropertyDelegate.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CheckLocalVariablesTableTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCheckLocalVariablesTableTestGenerated.java
Labels: Backend

#3863 FIR CFG: revise edge kind between local func node and fun enter node
  compiler/fir/analysis-tests/testData/resolveWithStdlib/contracts/fromSource/bad/callsInPlace/inLocalFunction.dot
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/dfa/cfg/ControlFlowGraphBuilder.kt
  compiler/testData/diagnostics/tests/controlFlowAnalysis/assignedInIfElse.kt
Labels: FIR

#3703 KT-41499 "Convert receiver to parameter" produces code with incorrect order of generic type and function invocation in case of generic function with lambda as a parameter
  idea/src/org/jetbrains/kotlin/idea/refactoring/changeSignature/usages/KotlinFunctionCallUsage.kt
  idea/testData/intentions/convertReceiverToParameter/usedWithTypeArgumentAndLambdaArgument.kt
  idea/testData/intentions/convertReceiverToParameter/usedWithTypeArgumentAndLambdaArgument.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA

#3762 KT-42255 "Replace elvis expression with 'if' expression" intention shouldn't introduce unnecessary variable if 'error' expression is used
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/ElvisToIfThenIntention.kt
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndError.kt
  idea/testData/intentions/branched/elvisToIfThen/assignmentAndError.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA

#3634 KT-40879 False positive "Redundant 'inner' modifier" when calling another inner class with empty constructor
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantInnerClassModifierInspection.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedClass.1.java
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedClass.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedInterface.1.java
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedInterface.1.java.after
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedInterface.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedInterface.kt.after
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedStaticClass.1.java
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedStaticClass.1.java.after
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedStaticClass.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/extendJavaNestedStaticClass.kt.after
  idea/testData/inspectionsLocal/redundantInnerClassModifier/hasConstructorCallOfOuterClassMember.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/hasConstructorCallOfOuterClassMember2.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/hasConstructorCallOfOuterClassMember3.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/hasConstructorCallOfOuterClassMember3.kt.after
  idea/testData/inspectionsLocal/redundantInnerClassModifier/hasOuterClassMemberReferenceInSuperTypeConstructorCall.kt
  idea/testData/inspectionsLocal/redundantInnerClassModifier/hasOuterClassMemberReferenceInSuperTypeConstructorCall2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA

#3844 [JVM_IR] Use line number 1 for multifile bridge methods.
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/SMAP.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/filters/stepIntoMultiFileFacade.out
Labels: Backend

#3584 KT-20357: Add a sample for requireNotNull
  libraries/stdlib/samples/test/samples/misc/preconditions.kt
  libraries/stdlib/src/kotlin/util/Preconditions.kt
Labels: Standard Library Sample

#3760 Added samples for the kotlin.streams package
  libraries/stdlib/jdk8/src/kotlin/streams/Streams.kt
  libraries/stdlib/samples/test/samples/streams/streams.kt
Labels: Standard Library Sample

#3340 Add link to scope functions for takeIf and takeUnless
  libraries/stdlib/src/kotlin/util/Standard.kt
Labels: Standard Library
