Repository JetBrains/kotlin, pull requests merged in 2020-08, with the labels that each got.

#3608 FIR2IR: make local storage track scopes, including anonymous init
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrLocalStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrScopeCache.kt
  compiler/testData/codegen/box/closures/kt10044.kt
Labels: FIR

#3609 FIR: distinguish anonymous object as enum entry when scoping
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/body/resolve/FirDeclarationsResolveTransformer.kt
  compiler/testData/codegen/box/enum/innerClassMethodInEnumEntryClass2.kt
Labels: FIR

#3617 [FIR] Add RedundantCallOfConversionMethod checker
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/StringTemplate.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/StringTemplate.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/booleanToInt.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/booleanToInt.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/byte.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/byte.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/char.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/char.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/double.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/double.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/float.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/float.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/int.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/int.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/long.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/long.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/nullable.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/nullable.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/nullable2.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/nullable2.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/safeString.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/safeString.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/safeString2.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/safeString2.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/short.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/short.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/string.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/string.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/toOtherType.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/toOtherType.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uByte.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uByte.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uInt.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uInt.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uLong.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uLong.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uShort.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/uShort.txt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/variable.kt
  compiler/fir/analysis-tests/testData/extendedCheckers/RedundantCallOfConversionMethod/variable.txt
  compiler/fir/analysis-tests/tests/org/jetbrains/kotlin/fir/ExtendedFirDiagnosticsTestGenerated.java
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/DefaultExpressionCheckers.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/RedundantCallOfConversionMethod.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/diagnostics/FirErrors.kt
Labels: FIR

#3456 Make repeat example more expressive
  libraries/stdlib/samples/test/samples/misc/controlFlow.kt
Labels: Standard Library Sample

#3623 FIR2IR: use type arguments from fully expanded type
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrTypeConverter.kt
  compiler/testData/codegen/box/typealias/simple.kt
  compiler/testData/ir/irText/classes/delegatingConstructorCallToTypeAliasConstructor.fir.txt
  compiler/testData/ir/irText/regressions/integerCoercionToT.fir.txt
Labels: FIR

#3519 [JVM_IR]: Improve stepping for `when`.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/SwitchGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InheritedDefaultMethodsOnClassesLowering.kt
  compiler/testData/codegen/bytecodeText/controlStructures/kt17110.kt
  compiler/testData/debug/stepping/stringSwitches.kt
  compiler/testData/debug/stepping/stringSwitchesSmall.kt
  compiler/testData/debug/stepping/trait.kt
  compiler/testData/debug/stepping/when.kt
  compiler/testData/debug/stepping/whenComplicatedSubject.kt
  compiler/testData/debug/stepping/whenMultiLine.kt
  compiler/testData/debug/stepping/whenMultiLineSubject.kt
  compiler/testData/debug/stepping/whenSubject.kt
  compiler/testData/debug/stepping/whenSubject2.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractSteppingTest.kt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
  plugins/kotlin-serialization/kotlin-serialization-compiler/testData/codegen/Basic.ir.txt
Labels: Backend

#3632 JVM IR: Don't produce CHECKCASTs on null constants (KT-36650)
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/PromisedValue.kt
  compiler/testData/codegen/box/classes/kt1018.kt
  compiler/testData/codegen/box/coroutines/tailCallOptimizations/crossinline_ir.txt
  compiler/testData/codegen/bytecodeText/checkcast/kt15411.kt
  compiler/testData/codegen/bytecodeText/coercionToUnitOptimization/safeLet.kt
  compiler/testData/codegen/bytecodeText/coroutines/cleanup/nullCleanup.kt
Labels: Backend

#3613 KT-40558 False positive "Move to class body" intention on data class constructor property
  idea/src/org/jetbrains/kotlin/idea/intentions/MovePropertyToClassBodyIntention.kt
  idea/testData/intentions/movePropertyToClassBody/annotationClass.kt
  idea/testData/intentions/movePropertyToClassBody/dataClass.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA

#3583 KT-40448 ConvertCallChainIntoSequence: support functions added in Kotlin 1.4
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/ConvertCallChainIntoSequenceInspection.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/allTransformations.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/allTransformations.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxByOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxByOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOf.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOf.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOfOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOfOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOfWith.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOfWith.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOfWithOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOfWithOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxWithOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/maxWithOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minByOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minByOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOf.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOf.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOfOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOfOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOfWith.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOfWith.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOfWithOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOfWithOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minWithOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/minWithOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/reduceIndexedOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/reduceIndexedOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/reduceOrNull.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/reduceOrNull.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningFold.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningFold.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningFoldIndexed.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningFoldIndexed.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningReduce.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningReduce.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningReduceIndexed.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/runningReduceIndexed.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/scan.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/scan.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/scanIndexed.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/scanIndexed.kt.after
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/sumOf.kt
  idea/testData/inspectionsLocal/collections/convertCallChainIntoSequence/termination/sumOf.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA

#3470 KT-39490 'Wrap with ?.let' quickfix put the receiver in `let` lambda
  idea/src/org/jetbrains/kotlin/idea/quickfix/WrapWithSafeLetCallFix.kt
  idea/testData/quickfix/wrapWithSafeLetCall/invokeFunctionType.kt
  idea/testData/quickfix/wrapWithSafeLetCall/invokeFunctionType.kt.after
  idea/testData/quickfix/wrapWithSafeLetCall/invokeFunctionType2.kt
  idea/testData/quickfix/wrapWithSafeLetCall/invokeFunctionType2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA, Inspections

#2785 KT-33258 "Merge 'if's" intention drops comment before nested if
  idea/src/org/jetbrains/kotlin/idea/intentions/MergeIfsIntention.kt
  idea/testData/intentions/mergeIfs/comments.kt.after
  idea/testData/intentions/mergeIfs/comments2.kt
  idea/testData/intentions/mergeIfs/comments2.kt.after
  idea/testData/intentions/mergeIfs/comments3.kt
  idea/testData/intentions/mergeIfs/comments3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA, Inspections

#2906 KT-35558 "Convert reference to lambda" intention generates wrong code for a High Order Function which expects an extension lambda
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertReferenceToLambdaIntention.kt
  idea/testData/intentions/convertReferenceToLambda/extensionFunctionalType2.kt
  idea/testData/intentions/convertReferenceToLambda/extensionFunctionalType2.kt.after
  idea/testData/intentions/convertReferenceToLambda/extensionFunctionalType3.kt
  idea/testData/intentions/convertReferenceToLambda/extensionFunctionalType3.kt.after
  idea/testData/intentions/convertReferenceToLambda/extensionFunctionalType4.kt
  idea/testData/intentions/convertReferenceToLambda/extensionFunctionalType4.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA, Inspections

#3014 KT-29844 "Create class from usage" should mark constructor of created class as internal if its parameters have internal visibility
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/callableBuilder/CallableBuilder.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/callableBuilder/CallableInfo.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/createClass/CreateClassFromConstructorCallActionFactory.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/createFromUsage/createClass/CreateClassFromUsageFix.kt
  idea/testData/quickfix/createFromUsage/createClass/callExpression/parameterClassIsInternal.kt
  idea/testData/quickfix/createFromUsage/createClass/callExpression/parameterClassIsInternal.kt.after
  idea/testData/quickfix/createFromUsage/createClass/callExpression/parameterClassIsPrivate.kt
  idea/testData/quickfix/createFromUsage/createClass/callExpression/parameterClassIsPrivate.kt.after
  idea/testData/quickfix/createFromUsage/createClass/callExpression/parameterClassIsPublic.kt
  idea/testData/quickfix/createFromUsage/createClass/callExpression/parameterClassIsPublic.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA, Inspections

#2851 KT-35214 Intention `Put parameters on one line`: don't suggest if parameters has end-of-line comments
  idea/src/org/jetbrains/kotlin/idea/intentions/JoinParameterListIntention.kt
  idea/testData/intentions/joinArgumentList/hasEndOfLineComment.kt
  idea/testData/intentions/joinParameterList/hasEndOfLineComment.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA, Inspections

#3414 KT-37841 IllegalStateException after "add non-null asserted call" on nullable function reference
  idea/src/org/jetbrains/kotlin/idea/quickfix/ExclExclCallFixes.kt
  idea/testData/quickfix/addExclExclCall/functionReference.kt
  idea/testData/quickfix/addExclExclCall/functionReference.kt.after
  idea/testData/quickfix/addExclExclCall/functionReference2.kt
  idea/testData/quickfix/addExclExclCall/functionReference2.kt.after
  idea/testData/quickfix/addExclExclCall/functionReference3.kt
  idea/testData/quickfix/addExclExclCall/functionReference3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA, Inspections

#3652 JVM IR: Fix special bridge generation with external Kotlin dependencies
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/testData/compileKotlinAgainstKotlin/specialBridgesInDependencies.kt
  compiler/tests/org/jetbrains/kotlin/codegen/CompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstKotlinTestGenerated.java
Labels: Backend

#3592 KT-20421 fixing code generation for the case when "object" extends "class"
  nj2k/src/org/jetbrains/kotlin/nj2k/printing/JKCodeBuilder.kt
  nj2k/testData/newJ2k/issues/kt-20421.java
  nj2k/testData/newJ2k/issues/kt-20421.kt
  nj2k/tests/org/jetbrains/kotlin/nj2k/NewJavaToKotlinConverterSingleFileTestGenerated.java
Labels: J2K

#3463 KT-39263 False positive "Variable should be inlined" for override value in initialized object
  idea/src/org/jetbrains/kotlin/idea/inspections/UnnecessaryVariableInspection.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/override.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA, Inspections

#3007 KT-36051 IfThenToSafeAccessInspection: do not report if condition is SENSELESS_COMPARISON
  idea/src/org/jetbrains/kotlin/idea/inspections/branchedTransformations/IfThenToSafeAccessInspection.kt
  idea/testData/inspectionsLocal/branched/ifThenToSafeAccess/implicitReceiver3.kt
  idea/testData/inspectionsLocal/branched/ifThenToSafeAccess/implicitReceiver3.kt.after
  idea/testData/inspectionsLocal/branched/ifThenToSafeAccess/inspectionData/expected.xml
  idea/testData/inspectionsLocal/branched/ifThenToSafeAccess/senselessComparison.kt
  idea/testData/inspectionsLocal/branched/ifThenToSafeAccess/uselessIsCheck.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA, Inspections

#2898 KT-35526 Intention "Eliminate argument of 'when'" is broken for 'when' expression without 'else' branch
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/EliminateWhenSubjectIntention.kt
  idea/testData/intentions/branched/when/eliminateSubject/withoutElse.kt
  idea/testData/intentions/branched/when/eliminateSubject/withoutElse.kt.after
  idea/testData/intentions/branched/when/eliminateSubject/withoutElseUsedAsExpression.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA, Inspections

#2897 KT-35525 False positive intention for 'run': "Convert to 'let'" when invoked without receiver
  idea/src/org/jetbrains/kotlin/idea/inspections/ScopeFunctionConversionInspection.kt
  idea/testData/inspectionsLocal/scopeFunctions/runToLet/noReceiver.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA, Inspections

#3552 KT-39604 "Package directive doesn't match file location" quick fix does not insert a space between keyword `package` and the package name
  compiler/psi/src/org/jetbrains/kotlin/psi/KtPackageDirective.java
  idea/testData/multiFileLocalInspections/reconcilePackageWithDirectory/changeToNonDefaultPackageFromRootWithPackageKeyword/after/com/example/test.kt
  idea/testData/multiFileLocalInspections/reconcilePackageWithDirectory/changeToNonDefaultPackageFromRootWithPackageKeyword/before/com/example/test.kt
  idea/testData/multiFileLocalInspections/reconcilePackageWithDirectory/changeToNonDefaultPackageFromRootWithPackageKeyword/changeToNonDefaultPackageFromRootWithPackageKeyword.test
  idea/tests/org/jetbrains/kotlin/idea/inspections/MultiFileLocalInspectionTestGenerated.java
Labels: IDEA

#3661 KT-41211: Use string template instead of concatenation
  compiler/cli/cli-runner/src/org/jetbrains/kotlin/runner/Main.kt
Labels: Refactoring

#3633 [JVM_IR] Run KotlinSteppingTests with the JVM_IR backend.
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/AbstractIrKotlinSteppingTest.kt
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/DebuggerTestCompilerFacility.kt
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/IrKotlinSteppingTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/KotlinDescriptorTestCase.kt
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/util/KotlinOutputChecker.kt
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/custom/coroutine.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/custom/initBlocks.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/custom/smartStepIntoConstructor.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/custom/smartStepIntoInterfaceImpl.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/custom/smartStepIntoWithDelegates.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/filters/stepIntoMultiFileFacade.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepInto/accessors.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepInto/functionReference.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepInto/stepIntoSuspendFunctionSimple.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepInto/syntheticMethods.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepInto/whenExpr.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOut/fwBackingField.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/coroutines/sequenceNested.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/coroutines/sequenceNested2.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/coroutines/sequenceSimple.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/kt34905.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/noParameterExtensionLambdaArgumentCallInInline3.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/soInlineLibFun.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/soSuspendableCallInEndOfFun.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/stepOverInlinedLambdaStdlib.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/stepOverWhenWithInline.out
Labels: Backend

#2969 KT-34572 Convert to block body action improperly works with suppress annotations
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertToBlockBodyIntention.kt
  idea/testData/intentions/convertToBlockBody/annotatedExpr.kt.after
  idea/testData/intentions/convertToBlockBody/annotatedExpr2.kt
  idea/testData/intentions/convertToBlockBody/annotatedExpr2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: IDEA, Inspections

#3663 JVM IR: Fix compilation of inline functions in anonymous objects inside of field initializers
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/testData/codegen/box/classes/kt40332.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3642 [FIR] Checkers performance improvement
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/CheckersComponent.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/cfa/AbstractFirPropertyInitializationChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/cfa/CfaUtils.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/cfa/FirControlFlowAnalyzer.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/cfa/FirPropertyInitializationAnalyzer.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/FirHelpers.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/declaration/DeclarationCheckers.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/declaration/DefaultDeclarationCheckers.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/declaration/ExtendedDeclarationCheckers.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/declaration/FirSealedClassConstructorCallChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirAbstractSuperCallChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirExpressionChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirNotASupertypeChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirProjectionsOnNonClassTypeArgumentChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirQualifiedSupertypeExtendedByOtherSupertypeChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirSuperNotAvailableChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirSuperclassNotAccessibleFromInterfaceChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirTypeArgumentsNotAllowedExpressionChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/expression/FirUpperBoundViolatedChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/ArrayEqualityCanBeReplacedWithEquals.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/CanBeReplacedWithOperatorAssignmentChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/EmptyRangeChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/RedundantCallOfConversionMethod.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/RedundantModalityModifierChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/RedundantReturnUnitTypeChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/RedundantSetterParameterTypeChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/RedundantSingleExpressionStringTemplateChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/checkers/extended/VariableAssignmentChecker.kt
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/collectors/components/ControlFlowAnalysisDiagnosticComponent.kt
  compiler/testData/diagnostics/tests/controlFlowAnalysis/kt2960.fir.kt
Labels: FIR

#3669 FIR2IR: introduce & use ClassId-based lookup for local class as IrParent
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrClassifierStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrLocalStorage.kt
  compiler/testData/codegen/box/objects/companionObjectAccess/multipleCompanionsWithAccessors/anonymousObjectInPropertyInitializer.kt
Labels: FIR

#3673 FIR2IR: convert adapted callable reference with vararg
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/CallAndReferenceGenerator.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/suspendConversion/adaptedWithVarargs.kt
  compiler/testData/codegen/box/callableReference/adaptedReferences/suspendConversion/inlineAdaptedWithVarargs.kt
  compiler/testData/ir/irText/expressions/callableReferences/adaptedWithCoercionToUnit.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/suspendConversion.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/unboundMemberReferenceWithAdaptedArguments.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/withAdaptationForSam.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/withArgumentAdaptationAndReceiver.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/samConversionInVarargs.fir.txt
Labels: FIR

#3670 FIR2IR: allow array expression as named argument for vararg
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/CallAndReferenceGenerator.kt
  compiler/testData/codegen/box/vararg/kt37779.kt
  compiler/testData/ir/irText/expressions/kt37779.fir.txt
  compiler/testData/ir/irText/expressions/kt37779.kt
Labels: FIR

#3684 JVM IR: Fix mangling for suspend functions with inline class params (KT-41374)
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/InlineClassAbi.kt
  compiler/testData/codegen/bytecodeText/inlineClasses/suspendFunctionMangling.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend
