Repository JetBrains/kotlin, pull requests merged in 2020-06, with the labels that each got.

#3432 FIR: extend arrayOf call transformation to other variants
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/body/resolve/FirArrayOfCallTransformer.kt
  compiler/testData/codegen/box/annotations/parameters.kt
  compiler/testData/codegen/box/defaultArguments/constructor/annotationWithEmptyArray.kt
  compiler/testData/ir/irText/declarations/annotations/arrayInAnnotationArguments.fir.txt
Labels: FIR

#3427 Fix broken NavBar for 201
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  idea/idea-analysis/src/org/jetbrains/kotlin/idea/structureView/KotlinStructureViewModel.kt
  idea/src/org/jetbrains/kotlin/idea/navigationToolbar/AbstractNavBarModelExtensionCompatBase.kt
  idea/src/org/jetbrains/kotlin/idea/navigationToolbar/AbstractNavBarModelExtensionCompatBase.kt.201
  idea/src/org/jetbrains/kotlin/idea/navigationToolbar/KotlinNavBarModelExtension.kt
  idea/testData/navigationToolbar/ClassProperty.kt
  idea/testData/navigationToolbar/ClassProperty.kt.201
  idea/testData/navigationToolbar/MethodInClass.kt
  idea/testData/navigationToolbar/MethodInClass.kt.201
  idea/testData/navigationToolbar/SeveralClassesInFile.kt
  idea/testData/navigationToolbar/SeveralClassesInFile.kt.201
  idea/testData/navigationToolbar/fileNameDoesntMatchClassName.kt
  idea/testData/navigationToolbar/fileNameDoesntMatchClassName.kt.201
  idea/testData/navigationToolbar/topLevelFunction.kt
  idea/testData/navigationToolbar/topLevelFunction.kt.201
  idea/testData/navigationToolbar/topLevelProperty.kt
  idea/testData/navigationToolbar/topLevelProperty.kt.201
  idea/tests/org/jetbrains/kotlin/idea/navigationToolbar/AbstractKotlinNavBarTest.kt
  idea/tests/org/jetbrains/kotlin/idea/navigationToolbar/AbstractKotlinNavBarTest.kt.201
  idea/tests/org/jetbrains/kotlin/idea/navigationToolbar/KotlinNavBarTestGenerated.java
Labels: IDEA

#3445 FIR JVM serializer: serialize property signature
  compiler/fir/fir2ir/jvm-backend/src/org/jetbrains/kotlin/fir/backend/jvm/FirJvmClassCodegen.kt
  compiler/fir/fir2ir/jvm-backend/src/org/jetbrains/kotlin/fir/backend/jvm/FirJvmSerializerExtension.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrDeclarationStorage.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/FirMetadataSource.kt
  compiler/testData/codegen/box/jvmField/topLevelFieldReflection.kt
  compiler/testData/codegen/box/multifileClasses/constPropertyReferenceFromMultifileClass.kt
  compiler/testData/codegen/box/reflection/call/incorrectNumberOfArguments.kt
  compiler/testData/codegen/box/reflection/mapping/fakeOverrides/javaFieldGetterSetter.kt
  compiler/testData/codegen/box/reflection/mapping/inlineClassPrimaryVal.kt
  compiler/testData/codegen/box/reflection/mapping/memberProperty.kt
  compiler/testData/codegen/box/reflection/mapping/privateProperty.kt
  compiler/testData/codegen/box/reflection/mapping/types/parameterizedTypes.kt
  compiler/testData/codegen/box/reflection/mapping/types/propertyAccessors.kt
  compiler/testData/codegen/box/reflection/multifileClasses/javaFieldForVarAndConstVal.kt
  compiler/testData/codegen/box/reflection/properties/callPrivatePropertyFromGetProperties.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/booleanPropertyNameStartsWithIs.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/boundExtensionProperty.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/boundMemberProperty.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/extensionProperty.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/getExtensionDelegate.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/kPropertyForDelegatedProperty.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/memberProperty.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/nameClashClassAndCompanion.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/nameClashExtensionProperties.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/noSetAccessibleTrue.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/overrideDelegatedByDelegated.kt
  compiler/testData/codegen/box/reflection/properties/getDelegate/topLevelProperty.kt
  compiler/testData/codegen/box/reflection/properties/privateClassVal.kt
  compiler/testData/codegen/box/reflection/properties/privateClassVar.kt
  compiler/testData/codegen/box/reflection/properties/privateJvmStaticVarInObject.kt
Labels: FIR

#3447 Polyfills on prototype should be non-enumerable
  libraries/stdlib/js-v1/src/js/polyfills.js
Labels: JS

#2983 KT-35893 Support Inspection for unnecessary asSequence() call
  idea/resources-en/messages/KotlinBundle.properties
  idea/resources/META-INF/plugin-common.xml
  idea/resources/inspectionDescriptions/RedundantAsSequence.html
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/ConvertCallChainIntoSequenceInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/RedundantAsSequenceInspection.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/.inspection
  idea/testData/inspectionsLocal/collections/redundantAsSequence/hasComment.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/hasComment.kt.after
  idea/testData/inspectionsLocal/collections/redundantAsSequence/hasLineBreak.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/hasLineBreak.kt.after
  idea/testData/inspectionsLocal/collections/redundantAsSequence/notTermination.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/nullable.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/nullable.kt.after
  idea/testData/inspectionsLocal/collections/redundantAsSequence/simple.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/simple.kt.after
  idea/testData/inspectionsLocal/collections/redundantAsSequence/simple2.kt
  idea/testData/inspectionsLocal/collections/redundantAsSequence/simple2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3368 KT-38597 Expand Boolean intention
  idea/resources-en/messages/KotlinBundle.properties
  idea/resources/META-INF/plugin-common.xml
  idea/resources/intentionDescriptions/ExpandBooleanExpressionIntention/after.kt.template
  idea/resources/intentionDescriptions/ExpandBooleanExpressionIntention/before.kt.template
  idea/resources/intentionDescriptions/ExpandBooleanExpressionIntention/description.html
  idea/src/org/jetbrains/kotlin/idea/intentions/ExpandBooleanExpressionIntention.kt
  idea/testData/intentions/expandBooleanExpression/.intention
  idea/testData/intentions/expandBooleanExpression/binary.kt
  idea/testData/intentions/expandBooleanExpression/binary.kt.after
  idea/testData/intentions/expandBooleanExpression/call.kt
  idea/testData/intentions/expandBooleanExpression/call.kt.after
  idea/testData/intentions/expandBooleanExpression/constant.kt
  idea/testData/intentions/expandBooleanExpression/inArgument.kt
  idea/testData/intentions/expandBooleanExpression/inParameter.kt
  idea/testData/intentions/expandBooleanExpression/inStringTemplate.kt
  idea/testData/intentions/expandBooleanExpression/is.kt
  idea/testData/intentions/expandBooleanExpression/is.kt.after
  idea/testData/intentions/expandBooleanExpression/parenthesized.kt
  idea/testData/intentions/expandBooleanExpression/parenthesized.kt.after
  idea/testData/intentions/expandBooleanExpression/postfix.kt
  idea/testData/intentions/expandBooleanExpression/postfix.kt.after
  idea/testData/intentions/expandBooleanExpression/prefix.kt
  idea/testData/intentions/expandBooleanExpression/prefix.kt.after
  idea/testData/intentions/expandBooleanExpression/qualified.kt
  idea/testData/intentions/expandBooleanExpression/qualified.kt.after
  idea/testData/intentions/expandBooleanExpression/variable.kt
  idea/testData/intentions/expandBooleanExpression/variable.kt.after
  idea/testData/quickfix/createFromUsage/createFunction/call/kt10983.kt
  idea/testData/quickfix/makeTypeParameterReified/noTypeParameter.kt
  idea/testData/quickfix/makeTypeParameterReified/noTypeParameter2.kt
  idea/testData/quickfix/nullables/unsafeInfixCall/noComparison.kt
  idea/testData/quickfix/nullables/unsafeInfixCall/unsafeComparisonInCondition.kt
  idea/testData/quickfix/nullables/unsafeInfixCall/unsafeComparisonInLogic.kt
  idea/testData/quickfix/nullables/unsafeInfixCall/unsafeComparisonInWhen.kt
  idea/testData/quickfix/nullables/unsafeInfixCall/unsafeComparisonInWhile.kt
  idea/testData/quickfix/typeMismatch/typeMismatchOnReturnedExpression/multiFakeOverrideForOperatorConvention.kt
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3435 [JVM_IR] Fix line number information for try-catch.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/debug/stepping/tryCatchExpression.kt
  compiler/testData/debug/stepping/tryCatchFinally.kt
  compiler/testData/debug/stepping/tryFinally.kt
Labels: Backend

#2948 KT-35805 FoldInitializerAndIfToElvis: should not add new line for multiline initializer
  idea/src/org/jetbrains/kotlin/idea/inspections/FoldInitializerAndIfToElvisInspection.kt
  idea/testData/inspectionsLocal/foldInitializerAndIfToElvis/LongName2.kt
  idea/testData/inspectionsLocal/foldInitializerAndIfToElvis/LongName2.kt.after
  idea/testData/inspectionsLocal/foldInitializerAndIfToElvis/MultiLineInitializer.kt
  idea/testData/inspectionsLocal/foldInitializerAndIfToElvis/MultiLineInitializer.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3333 KT-38267 False positive "Call on collection type may be reduced" with Java platform types: suggested to reduce 'mapNotNull' call to 'map'
  idea/src/org/jetbrains/kotlin/idea/inspections/collections/FunctionUtils.kt
  idea/testData/inspectionsLocal/collections/uselessCallOnCollection/MapNotNullWithLambda5.kt
  idea/testData/inspectionsLocal/collections/uselessCallOnCollection/MapNotNullWithLambda5.kt.after
  idea/testData/inspectionsLocal/collections/uselessCallOnCollection/MapNotNullWithLambdaFake2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3451 FIR: construct type with actual type arguments during GetClassCall transformation
  compiler/fir/analysis-tests/testData/resolveWithStdlib/reflectionClass.txt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/ResolveUtils.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/resolve/transformers/body/resolve/FirExpressionsResolveTransformer.kt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/types/TypeUtils.kt
  compiler/testData/codegen/box/jvmOverloads/varargs.kt
  compiler/testData/codegen/box/package/mainInFiles.kt
  compiler/testData/codegen/box/reflection/annotations/localClassLiteral.kt
  compiler/testData/codegen/box/reflection/classes/jvmNameOfStandardClasses.kt
  compiler/testData/codegen/box/reflection/mapping/types/annotationConstructorParameters.kt
  compiler/testData/codegen/box/reflection/mapping/types/array.kt
  compiler/testData/codegen/box/reflection/supertypes/isSubclassOfIsSuperclassOf.kt
  compiler/testData/codegen/box/reflection/types/classifierIsClass.kt
  compiler/testData/codegen/box/reflection/types/jvmErasureOfClass.kt
  compiler/testData/codegen/box/reflection/types/jvmErasureOfTypeParameter.kt
  compiler/testData/diagnostics/testsWithStdLib/when/noTypeArgumentsInConstructor.fir.kt
Labels: FIR

#3425 coutLines cleanup
  idea/formatter/src/org/jetbrains/kotlin/idea/util/FormatterUtil.kt
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/util/PsiLinesUtils.kt
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/AbstractBreakpointApplicabilityTest.kt
  idea/src/org/jetbrains/kotlin/idea/codeInsight/upDownMover/KotlinExpressionMover.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/CascadeIfInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/LiftReturnOrAssignmentInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/MoveVariableDeclarationIntoWhenInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantLetInspection.kt
  idea/src/org/jetbrains/kotlin/idea/inspections/UseExpressionBodyInspection.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/IfThenUtils.kt
  idea/src/org/jetbrains/kotlin/idea/joinLines/JoinToStringTemplateHandler.kt
  idea/src/org/jetbrains/kotlin/idea/parameterInfo/LambdaReturnValueHints.kt
  idea/src/org/jetbrains/kotlin/idea/parameterInfo/TypeHints.kt
  idea/src/org/jetbrains/kotlin/idea/refactoring/introduce/extractionEngine/extractorUtil.kt
  idea/testData/refactoring/extractFunction/controlFlow/evaluateExpression/evalWhenExpr.kt.after
  idea/testData/refactoring/extractFunction/parameters/candidateTypes/multipleTypes2.kt.after
Labels: IDEA

#3441 Use TypeSubstitutor to get the substituted underlying type for inline classes, instead of MemberScope
  compiler/testData/codegen/box/coroutines/inlineClasses/boxUnboxInsideCoroutine_InlineAny.kt
  compiler/testData/codegen/box/coroutines/inlineClasses/boxUnboxInsideCoroutine_InlineInt.kt
  compiler/testData/codegen/box/inlineClasses/boundCallableReferencePassedToInlineFunction.kt
  compiler/testData/codegen/box/inlineClasses/boxNullableValueOfInlineClassWithNonNullUnderlyingType.kt
  compiler/testData/codegen/box/inlineClasses/defaultParameterValues/inlineClassPrimaryConstructorWithInlineClassValue.kt
  compiler/testData/codegen/box/inlineClasses/equalityChecksInlineClassNonNull.kt
  compiler/testData/codegen/box/inlineClasses/equalityChecksNegatedInlineClassNonNull.kt
  compiler/testData/codegen/box/inlineClasses/equalsEvaluationOrderInlineClass.kt
  compiler/testData/codegen/box/inlineClasses/kt26103.kt
  compiler/testData/codegen/box/inlineClasses/kt26103_original.kt
  compiler/testData/codegen/box/inlineClasses/kt27096.kt
  compiler/testData/codegen/box/inlineClasses/kt27096_enum.kt
  compiler/testData/codegen/box/inlineClasses/kt27096_functional.kt
  compiler/testData/codegen/box/inlineClasses/kt27096_nullablePrimitive.kt
  compiler/testData/codegen/box/inlineClasses/kt27096_nullableReference.kt
  compiler/testData/codegen/box/inlineClasses/kt27096_primitive.kt
  compiler/testData/codegen/box/inlineClasses/kt27096_reference.kt
  compiler/testData/codegen/box/inlineClasses/kt27132.kt
  compiler/testData/codegen/box/inlineClasses/kt28405.kt
  compiler/testData/codegen/box/inlineClasses/mappingOfBoxedFlexibleInlineClassType.kt
  compiler/testData/codegen/box/inlineClasses/nullableWrapperEquality.kt
  compiler/testData/codegen/box/inlineClasses/unboxNullableValueOfInlineClassWithNonNullUnderlyingType.kt
  compiler/testData/codegen/box/reflection/call/inlineClasses/constructorWithInlineClassParameters.kt
  compiler/testData/codegen/box/reflection/call/inlineClasses/inlineClassConstructor.kt
  compiler/testData/codegen/box/reflection/call/inlineClasses/primaryValOfInlineClass.kt
  compiler/testData/codegen/box/unsignedTypes/equalsImplForInlineClassWrappingNullableInlineClass.kt
  core/descriptors/src/org/jetbrains/kotlin/resolve/inlineClassesUtils.kt
Labels: Compiler

#3448 JVM IR: Mark lateinit fields as NotNull
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/AnnotationCodegen.kt
  compiler/testData/codegen/bytecodeListing/lateInitNotNull.kt
  compiler/testData/codegen/bytecodeListing/lateInitNotNull.txt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
Labels: Backend

#3262 KT-37748 "Convert anonymous function to lambda expression" intention does not add necessary lambda type parameter
  idea/src/org/jetbrains/kotlin/idea/intentions/AnonymousFunctionToLambdaIntention.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameter.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameter.kt.after
  idea/testData/intentions/anonymousFunctionToLambda/typeParameter2.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameter2.kt.after
  idea/testData/intentions/anonymousFunctionToLambda/typeParameter3.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameter3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
  j2k/testData/fileOrElement/toKotlinClasses/LibraryFunctions.kt
Labels: Inspections

#3455 KT-39393 "Convert anonymous function to lambda expression" intention does not add necessary lambda type parameter for outer function
  idea/src/org/jetbrains/kotlin/idea/intentions/AnonymousFunctionToLambdaIntention.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameterWithUnusedParameter.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameterWithUnusedParameter.kt.after
  idea/testData/intentions/anonymousFunctionToLambda/typeParameterWithUnusedParameter2.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameterWithUnusedParameter2.kt.after
  idea/testData/intentions/anonymousFunctionToLambda/typeParameterWithVararg.kt
  idea/testData/intentions/anonymousFunctionToLambda/typeParameterWithVararg.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3457 FIR: record and serialize the modifier "fun" for functional interface
  compiler/fir/fir-serialization/src/org/jetbrains/kotlin/fir/serialization/FirElementSerializer.kt
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrClassifierStorage.kt
  compiler/fir/raw-fir/light-tree2fir/src/org/jetbrains/kotlin/fir/lightTree/converter/DeclarationsConverter.kt
  compiler/fir/raw-fir/light-tree2fir/src/org/jetbrains/kotlin/fir/lightTree/fir/modifier/Modifier.kt
  compiler/fir/raw-fir/light-tree2fir/src/org/jetbrains/kotlin/fir/lightTree/fir/modifier/ModifiersEnumSet.kt
  compiler/fir/raw-fir/psi2fir/src/org/jetbrains/kotlin/fir/builder/RawFirBuilder.kt
  compiler/fir/tree/gen/org/jetbrains/kotlin/fir/declarations/FirDeclarationStatus.kt
  compiler/fir/tree/gen/org/jetbrains/kotlin/fir/declarations/FirResolvedDeclarationStatus.kt
  compiler/fir/tree/src/org/jetbrains/kotlin/fir/declarations/FirDeclarationUtil.kt
  compiler/fir/tree/src/org/jetbrains/kotlin/fir/declarations/impl/FirDeclarationStatusImpl.kt
  compiler/fir/tree/tree-generator/src/org/jetbrains/kotlin/fir/tree/generator/NodeConfigurator.kt
  compiler/testData/codegen/box/reflection/modifiers/classes.kt
  compiler/testData/ir/irText/expressions/callableReferences/caoWithAdaptationForSam.fir.txt
  compiler/testData/ir/irText/expressions/callableReferences/withAdaptationForSam.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/arrayAsVarargAfterSamArgument_fi.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/arrayAsVarargAfterSamArgument_fi.kt
  compiler/testData/ir/irText/expressions/funInterface/basicFunInterfaceConversion.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/basicFunInterfaceConversion.kt
  compiler/testData/ir/irText/expressions/funInterface/castFromAny.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/partialSam.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/samConversionInVarargs.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/samConversionInVarargsMixed.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/samConversionOnCallableReference.fir.txt
  compiler/testData/ir/irText/expressions/funInterface/samConversionsWithSmartCasts.fir.txt
Labels: FIR

#3436 [JVM_IR] Generate line numbers and nops for init blocks.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/debug/stepping/initBlocks.kt
  compiler/testData/debug/stepping/initBlocksCompanion.kt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
  plugins/kotlin-serialization/kotlin-serialization-compiler/testData/codegen/Basic.ir.txt
Labels: Backend

#3182 KT-15846 'Change lambda expression return type' quick fix does nothing
  idea/ide-common/src/org/jetbrains/kotlin/idea/core/quickfix/QuickFixUtil.java
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeFunctionLiteralReturnTypeFix.kt
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changeFunctionParameterTypeWithComment.kt
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changeFunctionParameterTypeWithComment.kt.after
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changePrimaryConstructorParameterTypeOnPropertyDelegate.kt
  idea/testData/quickfix/typeMismatch/parameterTypeMismatch/changePrimaryConstructorParameterTypeOnPropertyDelegate.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#2482 KT-19744 "Change Signature" is not available on `constructor` keyword in primary constructor
  idea/src/org/jetbrains/kotlin/idea/refactoring/changeSignature/KotlinChangeSignatureHandler.kt
  idea/testData/refactoring/changeSignature/PrimaryConstructorOnConstructorKeywordAfter.kt
  idea/testData/refactoring/changeSignature/PrimaryConstructorOnConstructorKeywordBefore.kt
  idea/tests/org/jetbrains/kotlin/idea/refactoring/changeSignature/KotlinChangeSignatureTest.kt
Labels: Inspections, Remote Run

#2630 KT-31500 Smart enter: support get() clause
  idea/src/org/jetbrains/kotlin/idea/editor/KotlinSmartEnterHandler.kt
  idea/src/org/jetbrains/kotlin/idea/editor/fixers/KotlinPropertyAccessorBodyFixer.kt
  idea/tests/org/jetbrains/kotlin/idea/codeInsight/smartEnter/SmartEnterTest.kt
Labels: IDEA, Remote Run

#2586 KT-29364 "Extend selection" can't select lambda body with parameters
  idea/src/org/jetbrains/kotlin/idea/editor/wordSelection/KotlinStatementGroupSelectioner.kt
  idea/testData/wordSelection/ValueParametersInLambda2/0.kt
  idea/testData/wordSelection/ValueParametersInLambda2/1.kt
  idea/testData/wordSelection/ValueParametersInLambda2/2.kt
  idea/testData/wordSelection/ValueParametersInLambda2/3.kt
  idea/testData/wordSelection/ValueParametersInLambda2/4.kt
  idea/testData/wordSelection/ValueParametersInLambda3/0.kt
  idea/testData/wordSelection/ValueParametersInLambda3/1.kt
  idea/testData/wordSelection/ValueParametersInLambda3/2.kt
  idea/testData/wordSelection/ValueParametersInLambda3/3.kt
  idea/testData/wordSelection/ValueParametersInLambda3/4.kt
  idea/testData/wordSelection/ValueParametersInLambda3/5.kt
  idea/testData/wordSelection/ValueParametersInLambda4/0.kt
  idea/testData/wordSelection/ValueParametersInLambda4/1.kt
  idea/testData/wordSelection/ValueParametersInLambda4/2.kt
  idea/testData/wordSelection/ValueParametersInLambda4/3.kt
  idea/testData/wordSelection/ValueParametersInLambda4/4.kt
  idea/testData/wordSelection/ValueParametersInLambda4/5.kt
  idea/tests/org/jetbrains/kotlin/idea/WordSelectionTest.java
Labels: IDEA, Remote Run

#2664 KT-33211 Quickfix "add parameter" for method references should infer functional type instead of KFunction
  idea/src/org/jetbrains/kotlin/idea/intentions/Utils.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddFunctionParametersFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixFactoryForTypeMismatchError.kt
  idea/testData/quickfix/changeSignature/addFunctionParameterWithAnonymousFunction.kt
  idea/testData/quickfix/changeSignature/addFunctionParameterWithAnonymousFunction.kt.after
  idea/testData/quickfix/changeSignature/addFunctionParameterWithFunctionReference.kt
  idea/testData/quickfix/changeSignature/addFunctionParameterWithFunctionReference.kt.after
  idea/testData/quickfix/changeSignature/addFunctionParameterWithLambda.kt
  idea/testData/quickfix/changeSignature/addFunctionParameterWithLambda.kt.after
  idea/testData/quickfix/changeSignature/addFunctionParameterWithSuspendFunctionReference.kt
  idea/testData/quickfix/changeSignature/addFunctionParameterWithSuspendFunctionReference.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#3485 IR: Fix inner class type parameters in IrTypeSystemContext
  compiler/fir/fir2ir/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/types/IrTypeSystemContext.kt
  compiler/testData/codegen/box/innerNested/innerImplicitParameter.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#3484 FIR2IR: coerce to Unit when "when" expr is not effectively exhaustive
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/Fir2IrVisitor.kt
  compiler/testData/codegen/box/regressions/kt528.kt
  compiler/testData/codegen/box/regressions/kt529.kt
  compiler/testData/codegen/box/regressions/kt533.kt
  compiler/testData/ir/irText/expressions/ifElseIf.fir.txt
Labels: FIR

#3487 FIR2IR: honor user-contributed members in data class if any
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/ClassMemberGenerator.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/destructuringInLambdas.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/suspendDestructuringInLambdas.kt
Labels: FIR

#3489 KT-39200 False positive "Redundant qualifier name" with same-named member object and companion property
  idea/src/org/jetbrains/kotlin/idea/inspections/RemoveRedundantQualifierNameInspection.kt
  idea/testData/inspectionsLocal/removeRedundantQualifierName/notApplicableSameNameVariable.kt
  idea/testData/inspectionsLocal/removeRedundantQualifierName/notApplicableSameNameVariable2.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3492 FIR serializer: regard property accessors with modifiers as non-default
  compiler/fir/fir-serialization/src/org/jetbrains/kotlin/fir/serialization/FirElementSerializer.kt
  compiler/testData/codegen/box/reflection/modifiers/functions.kt
Labels: FIR

#2584 KT-24352 Method separators: displayed between properties, not displayed between companion object and function
  idea/src/org/jetbrains/kotlin/idea/highlighter/markers/KotlinLineMarkerProvider.kt
  idea/testData/codeInsight/lineMarker/MethodSeparators.kt
Labels: IDEA, Remote Run

#2746 KT-33131 No indent before get/set method while editing extension var declaration
  idea/formatter/src/org/jetbrains/kotlin/idea/formatter/KotlinCommonBlock.kt
  idea/performanceTests/test/org/jetbrains/kotlin/idea/perf/PerformanceTypingIndentationTestGenerated.java
  idea/testData/indentationOnNewline/AfterExtensionPropertyGetter.after.kt
  idea/testData/indentationOnNewline/AfterExtensionPropertyGetter.kt
  idea/testData/indentationOnNewline/AfterExtensionPropertySetter.after.kt
  idea/testData/indentationOnNewline/AfterExtensionPropertySetter.kt
  idea/tests/org/jetbrains/kotlin/formatter/TypingIndentationTestBaseGenerated.java
Labels: IDEA, Remote Run

#3472 KT-17222 "Convert reference to lambda" creates red code for method with default argument values
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertReferenceToLambdaIntention.kt
  idea/testData/intentions/convertReferenceToLambda/referencedFunctionWithDefaultArugment.kt
  idea/testData/intentions/convertReferenceToLambda/referencedFunctionWithDefaultArugment.kt.after
  idea/testData/intentions/convertReferenceToLambda/referencedFunctionWithDefaultArugment2.kt
  idea/testData/intentions/convertReferenceToLambda/referencedFunctionWithDefaultArugment2.kt.after
  idea/testData/intentions/convertReferenceToLambda/referencedFunctionWithDefaultArugment3.kt
  idea/testData/intentions/convertReferenceToLambda/referencedFunctionWithDefaultArugment3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3497 KT-14578 Suggest "Convert lambda to reference" intention for generic extension function
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertLambdaToReferenceIntention.kt
  idea/testData/intentions/convertLambdaToReference/generic2.kt
  idea/testData/intentions/convertLambdaToReference/generic2.kt.after
  idea/testData/intentions/convertLambdaToReference/generic3.kt
  idea/testData/intentions/convertLambdaToReference/generic3.kt.after
  idea/testData/intentions/convertLambdaToReference/generic4.kt
  idea/testData/intentions/convertLambdaToReference/generic4.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3442 KT-39231 Injection: Add receiver of kotlin.text.toPattern to standard Kotlin injections
  idea/resources/injection/kotlinInjections.xml
  idea/tests/org/jetbrains/kotlin/psi/KotlinStdlibInjectionTest.kt
Labels: IDEA

#3509 FIR deserializer: proper annotation loading for value parameter of property setter
  compiler/fir/analysis-tests/testData/loadCompiledKotlin/annotations/parameters/ExtensionPropertySetter.txt
  compiler/fir/analysis-tests/testData/loadCompiledKotlin/annotations/parameters/PropertySetterInClass.txt
  compiler/fir/resolve/src/org/jetbrains/kotlin/fir/deserialization/FirMemberDeserializer.kt
Labels: FIR

#3498 [JVM] Extend stepping tests with <clinit> stepping.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/debug/stepping/classObject.kt
  compiler/testData/debug/stepping/constructorCall.kt
  compiler/testData/debug/stepping/enum.kt
  compiler/testData/debug/stepping/initBlocksCompanion.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractDebugTest.kt
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
Labels: Backend

#3488 KT-12222 Intention 'Convert to block body' should take nullability of overriden method into account when expression is of platform type
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertToBlockBodyIntention.kt
  idea/testData/intentions/convertToBlockBody/overrideWithPlatformType.kt
  idea/testData/intentions/convertToBlockBody/overrideWithPlatformType.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections
