Repository JetBrains/kotlin, pull requests merged in 2020-02, with the labels that each got.

#3033 JVM_IR: Change name for (dispatch|extension) receiver of inline class…
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/box/parametersMetadata/inlineClassMethodParameterNames.kt
Labels: Backend

#2992 [JVM_IR] Propagate interface type parameters to DefaultImpls
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/descriptors/JvmDeclarationFactory.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/IrUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InheritedDefaultMethodsOnClassesLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InterfaceLowering.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/builders/declarations/IrTypeParameterBuilder.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/util/IrUtils.kt
  compiler/testData/codegen/box/reflection/genericSignature/defaultImplsGenericSignature.kt
  compiler/testData/codegen/box/reflection/genericSignature/kt11121.kt
  compiler/testData/writeSignature/defaultImpls/functionTypeParameterClash.kt
  compiler/testData/writeSignature/defaultImpls/functionTypeParameterClashWith_I.kt
  compiler/testData/writeSignature/defaultImpls/propertyTypeParameterClash.kt
Labels: Backend

#3039 [JVM IR] Fix issue with suspend functions in @JvmMultifileClass
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/testData/codegen/box/coroutines/inlineFunctionInMultifileClassUnoptimized.kt
Labels: Backend

#3053 JVM_IR: copy annotations to nullary bridges for default constructors
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultConstructorLowering.kt
  compiler/testData/compileJavaAgainstKotlin/method/throws/DefaultArgs.kt
Labels: Backend

#3006 [JVM IR] Add tests to verify correct parameter reflection metadata for suspend functions
  compiler/testData/codegen/box/parametersMetadata/suspendFunction.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#2674 KT-24615 "Extract property" generates useless extension property
  idea/src/org/jetbrains/kotlin/idea/refactoring/introduce/extractionEngine/extractorUtil.kt
  idea/testData/refactoring/introduceProperty/kt24615.kt
  idea/testData/refactoring/introduceProperty/kt24615.kt.after
  idea/tests/org/jetbrains/kotlin/idea/refactoring/introduce/ExtractionTestGenerated.java
Labels: IDEA

#2668 KT-34190 Inline Function: False positive error "not at the end of the body" with anonymous object
  idea/src/org/jetbrains/kotlin/idea/refactoring/inline/inlineUtils.kt
  idea/testData/refactoring/inline/function/returnAtEnd/InnerFunction.kt
  idea/testData/refactoring/inline/function/returnAtEnd/InnerFunction.kt.after
  idea/testData/refactoring/inline/function/returnAtEnd/InnerFunction2.kt
  idea/testData/refactoring/inline/function/returnAtEnd/InnerFunction2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/refactoring/inline/InlineTestGenerated.java
Labels: IDEA

#2582 KT-26047 Refactor -> Rename: Overridden method renaming in generic class doesn't rename base method
  idea/testData/refactoring/rename/renameKotlinFunctionInGenericClass/after/RenameKotlinFunctionInGenericClass.kt
  idea/testData/refactoring/rename/renameKotlinFunctionInGenericClass/before/RenameKotlinFunctionInGenericClass.kt
  idea/testData/refactoring/rename/renameKotlinFunctionInGenericClass/renameKotlinFunctionInGenericClass.test
  idea/testData/refactoring/rename/renameKotlinFunctionInGenericClass/renameKotlinFunctionInGenericClassFromSubclass.test
  idea/tests/org/jetbrains/kotlin/idea/refactoring/rename/RenameTestGenerated.java
Labels: IDEA

#3058 JVM IR: Handle external static declarations in companion objects
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmStaticAnnotationLowering.kt
  compiler/testData/codegen/box/external/jvmStaticExternal.kt
  compiler/testData/codegen/box/external/jvmStaticExternalPrivate.kt
Labels: Backend

#3062 KT-36369 "To raw string literal" intention is not available if string content starts with newline symbol \n
  idea/src/org/jetbrains/kotlin/idea/intentions/ToRawStringLiteralIntention.kt
  idea/testData/intentions/toRawStringLiteral/trailingSpace3.kt
  idea/testData/intentions/toRawStringLiteral/trailingSpace3.kt.after
Labels: Inspections

#3061 KT-36357 "Lift assignment out of 'if'" breaks code for oneliner function
  idea/src/org/jetbrains/kotlin/idea/inspections/LiftReturnOrAssignmentInspection.kt
  idea/testData/inspectionsLocal/liftOut/ifToAssignment/usedAsExpression.kt
  idea/testData/inspectionsLocal/liftOut/tryToAssignment/usedAsExpression.kt
  idea/testData/inspectionsLocal/liftOut/whenToAssignment/usedAsExpression.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3043 KT-36160 False positive "Constructor has non-null self reference parameter" with vararg parameter of class
  idea/src/org/jetbrains/kotlin/idea/inspections/SelfReferenceConstructorParameterInspection.kt
  idea/testData/inspectionsLocal/selfReferenceConstructorParameter/vararg.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3090 KT-36685 "Convert to a range check" transform hex range to int if it is compared with "Less" or "Greater"
  idea/src/org/jetbrains/kotlin/idea/inspections/ConvertTwoComparisonsToRangeCheckInspection.kt
  idea/testData/inspectionsLocal/convertTwoComparisonsToRangeCheck/binary.kt
  idea/testData/inspectionsLocal/convertTwoComparisonsToRangeCheck/binary.kt.after
  idea/testData/inspectionsLocal/convertTwoComparisonsToRangeCheck/hexadecimal.kt
  idea/testData/inspectionsLocal/convertTwoComparisonsToRangeCheck/hexadecimal.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3075 KT-20844 Re-enable stack spilling during inline.
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/InlineCodegen.kt
  compiler/testData/codegen/bytecodeText/storeStackBeforeInline/simple.kt
Labels: Backend

#3094 JVM IR: Fix suspend lambda generic signatures
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/testData/codegen/box/reflection/genericSignature/suspendFunctionLiteralGenericSignature.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#3089 KT-36707 False positive redundant companion object on calling companion object members
  idea/src/org/jetbrains/kotlin/idea/inspections/RedundantCompanionReferenceInspection.kt
  idea/testData/inspectionsLocal/redundantCompanionReference/namedWithSameNameFunction.kt
  idea/testData/inspectionsLocal/redundantCompanionReference/namedWithSameNameFunction2.kt
  idea/testData/inspectionsLocal/redundantCompanionReference/namedWithSameNameFunction2.kt.after
  idea/testData/inspectionsLocal/redundantCompanionReference/namedWithSameNameProperty.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3101 KT-15723 Add 'Convert to value' quickfix for property containing only getter
  idea/src/org/jetbrains/kotlin/idea/quickfix/ChangeVariableMutabilityFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter.kt
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter.kt.after
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter2.kt
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter2.kt.after
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter3.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: Inspections

#3095 KT-36735 Inspection 'Replace 'toString' with string template' miss curly braces and generates wrong code for constructor calls
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceToStringWithStringTemplateInspection.kt
  idea/testData/inspectionsLocal/replaceToStringWithStringTemplate/callExpression.kt
  idea/testData/inspectionsLocal/replaceToStringWithStringTemplate/callExpression.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3074 KT-31800 False positive "never used" with function in private val object expression
  compiler/psi/src/org/jetbrains/kotlin/psi/KtNamedDeclarationStub.java
  idea/testData/findUsages/kotlin/findFunctionUsages/objectExpressionMemberInCompanion.0.kt
  idea/testData/findUsages/kotlin/findFunctionUsages/objectExpressionMemberInCompanion.results.txt
  idea/testData/findUsages/kotlin/findFunctionUsages/objectExpressionMemberInTopLevel.0.kt
  idea/testData/findUsages/kotlin/findFunctionUsages/objectExpressionMemberInTopLevel.results.txt
  idea/testData/inspectionsLocal/unusedSymbol/inAnonymousDeeplyInTopLevel.kt
  idea/testData/inspectionsLocal/unusedSymbol/inAnonymousInCompanion.kt
  idea/testData/inspectionsLocal/unusedSymbol/inAnonymousInTopLovel.kt
  idea/tests/org/jetbrains/kotlin/findUsages/FindUsagesTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#3084 KT-20907 Secondary constructor is marked as unused by IDE when called by typealias
  idea/src/org/jetbrains/kotlin/idea/inspections/UnusedSymbolInspection.kt
  idea/testData/inspectionsLocal/unusedSymbol/secondaryConstructorCalledByTypeAlias.kt
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: Inspections

#2782 KT-34450 `Convert function to property` intention should be also displayed on `fun` keyword
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertFunctionToPropertyIntention.kt
  idea/testData/intentions/convertFunctionToProperty/onFunKeyword.kt
  idea/testData/intentions/convertFunctionToProperty/onFunKeyword.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#2777 KT-34593 Invert 'if' condition: Invert `String.isNotEmpty` should be `String.isEmpty`
  idea/src/org/jetbrains/kotlin/idea/inspections/ReplaceNegatedIsEmptyWithIsNotEmptyInspection.kt
  idea/src/org/jetbrains/kotlin/idea/intentions/InvertIfConditionIntention.kt
  idea/testData/intentions/invertIfCondition/isEmpty.kt
  idea/testData/intentions/invertIfCondition/isEmpty.kt.after
  idea/testData/intentions/invertIfCondition/isNotEmpty.kt
  idea/testData/intentions/invertIfCondition/isNotEmpty.kt.after
  idea/testData/intentions/invertIfCondition/negatedIsEmpty.kt
  idea/testData/intentions/invertIfCondition/negatedIsEmpty.kt.after
  idea/testData/intentions/invertIfCondition/negatedIsNotEmpty.kt
  idea/testData/intentions/invertIfCondition/negatedIsNotEmpty.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3111 KT-36834 Convert use-site targets and usages with convert property to fun intention
  idea/src/org/jetbrains/kotlin/idea/intentions/ConvertPropertyToFunctionIntention.kt
  idea/testData/intentions/convertPropertyToFunction/annotationUseSiteTarget.kt
  idea/testData/intentions/convertPropertyToFunction/annotationUseSiteTarget.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3085 KT-29870 Inline variable doesn't handle 'when' subject val correctly
  idea/src/org/jetbrains/kotlin/idea/refactoring/inline/KotlinInlineCallableProcessor.kt
  idea/src/org/jetbrains/kotlin/idea/refactoring/inline/KotlinInlineValDialog.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/whenSubject.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/whenSubject.kt.after
  idea/testData/refactoring/inline/inlineVariableOrProperty/whenSubject.kt
  idea/testData/refactoring/inline/inlineVariableOrProperty/whenSubject.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/refactoring/inline/InlineTestGenerated.java
Labels: IDEA

#3109 KT-23510 "Remove parameter" quick fix keeps lambda argument when it's out of parentheses
  idea/src/org/jetbrains/kotlin/idea/refactoring/changeSignature/usages/KotlinFunctionCallUsage.kt
  idea/testData/quickfix/changeSignature/removeFunctionLastLambdaParameter.kt
  idea/testData/quickfix/changeSignature/removeFunctionLastLambdaParameter.kt.after
  idea/testData/refactoring/changeSignature/AddParameterAfterLambdaParameterAfter.kt
  idea/testData/refactoring/changeSignature/AddParameterAfterLambdaParameterBefore.kt
  idea/testData/refactoring/changeSignature/RemoveLambdaParameter2After.kt
  idea/testData/refactoring/changeSignature/RemoveLambdaParameter2Before.kt
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
  idea/tests/org/jetbrains/kotlin/idea/refactoring/changeSignature/KotlinChangeSignatureTest.kt
Labels: Inspections

#2999 KT-34640 Replace 'if' with 'when' leads to copy comment line above when from another if
  idea/src/org/jetbrains/kotlin/idea/intentions/branchedTransformations/intentions/IfToWhenIntention.kt
  idea/testData/intentions/branched/ifWhen/ifToWhen/doNotSwallowComment.kt
  idea/testData/intentions/branched/ifWhen/ifToWhen/doNotSwallowComment.kt.after
  idea/tests/org/jetbrains/kotlin/idea/intentions/IntentionTestGenerated.java
Labels: Inspections

#3125 KT-36686 Implement members quickfix puts the implementation *before* the data class if it already has a body
  idea/idea-core/src/org/jetbrains/kotlin/idea/core/overrideImplement/OverrideImplementMembersHandler.kt
  idea/testData/quickfix/implement/dataClass.kt
  idea/testData/quickfix/implement/dataClass.kt.after
  idea/testData/quickfix/implement/dataClass2.kt
  idea/testData/quickfix/implement/dataClass2.kt.after
  idea/testData/quickfix/implement/dataClass3.kt
  idea/testData/quickfix/implement/dataClass3.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA

#3120 JVM_IR: keep `suspend fun` return type in IrCalls
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/FunctionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/testData/codegen/box/coroutines/suspendImplBridge.kt
  compiler/testData/codegen/box/coroutines/suspendReturningPlatformType.kt
  compiler/testData/codegen/box/coroutines/tailCallOptimizations/unit/functionReference.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#3127 [Minor] Refactor IR Suspend Main code to not use intrinsics
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmSymbols.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/IrIntrinsicMethods.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/intrinsics/RunSuspend.kt
Labels: Backend

#3108 JVM IR: Don't create $annotations stubs for fake overridden properties
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmPropertiesLowering.kt
  compiler/testData/codegen/bytecodeText/inheritedPropertyAnnotations.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#3115 [JVM IR] Add null-checks of handler for $default calls
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/DefaultArgumentStubGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmSymbols.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/CollectionStubMethodLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmDefaultArgumentStubGenerator.kt
  compiler/testData/codegen/box/defaultArguments/superCallCheck.kt
  compiler/testData/codegen/box/defaultArguments/superCallHandlerOrder.kt
  compiler/testData/codegen/bytecodeText/defaultArguments/methodHandlerElimination.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#3131 Reduce UI freezes by preparing affected Gradle project files lists in advance
  idea/idea-gradle/src/org/jetbrains/kotlin/idea/scripting/gradle/AsyncFileChangeListenerHelper.kt
  idea/idea-gradle/src/org/jetbrains/kotlin/idea/scripting/gradle/AsyncFileChangeListenerHelper.kt.201
Labels: IDEA

#3143 JVM IR: Box arguments in abstract method stubs for "remove" bridges
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
Labels: Backend

#3140 JVM_IR: cache signatures in BridgeLowering
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
Labels: Backend

#3104 JVM IR: Fix inline class constructors taking default values of inline class type
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/JvmInlineClassLowering.kt
  compiler/testData/codegen/box/inlineClasses/defaultParameterValues/inlineClassPrimaryConstructorWithInlineClassValue.kt
  compiler/tests/org/jetbrains/kotlin/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/FirBlackBoxCodegenTestGenerated.java
  compiler/tests/org/jetbrains/kotlin/codegen/ir/IrBlackBoxCodegenTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/test/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend
