Repository JetBrains/kotlin, pull requests merged in 2021-03, with the labels that each got.

#4156 FIR IDE: Add quickfix for PRIVATE_SETTER_FOR_(OPEN|ABSTRACT)_PROPERTY
  idea/idea-fir/src/org/jetbrains/kotlin/idea/quickfix/MainKtQuickFixRegistrar.kt
  idea/idea-fir/tests/org/jetbrains/kotlin/idea/quickfix/HighLevelQuickFixTestGenerated.java
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/AddModifierFix.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/RemoveModifierFix.kt
  idea/testData/quickfix/modifiers/abstractVarWithPrivateSetter.kt
  idea/testData/quickfix/modifiers/abstractVarWithPrivateSetter.kt.after
  idea/testData/quickfix/modifiers/openVarWithPrivateSetter1.kt
  idea/testData/quickfix/modifiers/openVarWithPrivateSetter1.kt.after
  idea/testData/quickfix/modifiers/openVarWithPrivateSetter2.kt
  idea/testData/quickfix/modifiers/openVarWithPrivateSetter2.kt.after
  idea/testData/quickfix/modifiers/overrideWithPrivateSetter1.kt
  idea/testData/quickfix/modifiers/overrideWithPrivateSetter1.kt.after
  idea/testData/quickfix/modifiers/overrideWithPrivateSetter2.kt
  idea/testData/quickfix/modifiers/overrideWithPrivateSetter2.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA FIR

#4147 [KAPT] Some optimizations for stubs generation
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/extensions/PartialAnalysisHandlerExtension.kt
  compiler/frontend/src/org/jetbrains/kotlin/resolve/BodyResolver.java
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/ClassFileToSourceStubConverter.kt
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/ClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/IrClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/testData/converter/anonymousDelegate.kt
  plugins/kapt3/kapt3-compiler/testData/converter/anonymousDelegate.txt
  plugins/kapt3/kapt3-compiler/testData/converter/properties.kt
  plugins/kapt3/kapt3-compiler/testData/converter/properties.txt
  plugins/kapt3/kapt3-compiler/testData/converter/propertyAnnotations.kt
Labels: KAPT

#3996 Lazy delegate for serializer in objects, sealed and abstract classes
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/SerializableCodegen.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/SerializableCompanionCodegen.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/TypeUtil.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/GeneratorHelpers.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializableCompanionIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializableIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializerForEnumsGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializerForInlineClassGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializerIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/js/SerializableCompanionJsTranslator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/jvm/JVMCodegenUtil.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/jvm/SerializableCodegenImpl.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/jvm/SerializableCompanionCodegenImpl.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/resolve/NamingConventions.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/resolve/SearchUtils.kt
Labels: Tools

#3812 small change: update with fix of KT-12448
  libraries/stdlib/src/kotlin/reflect/typeOf.kt
Labels: Standard Library

#4080 Kotlinc: catch FNFE caused by problematic destination.
  compiler/cli/src/org/jetbrains/kotlin/cli/common/output/outputUtils.kt
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/compiler/CompileEnvironmentUtil.java
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/compiler/KotlinToJVMBytecodeCompiler.kt
  compiler/testData/integration/smoke/destinationDirClashingWithExistingFile/test.compile.expected
  compiler/testData/integration/smoke/destinationDirClashingWithExistingFile/test.kt
  compiler/testData/integration/smoke/destinationDirDoesNotExist/test.compile.expected
  compiler/testData/integration/smoke/destinationDirDoesNotExist/test.kt
  compiler/testData/integration/smoke/destinationDirNoPermission/test.compile.expected
  compiler/testData/integration/smoke/destinationDirNoPermission/test.kt
  compiler/testData/integration/smoke/destinationJarClashingWithExistingFile/test.compile.expected
  compiler/testData/integration/smoke/destinationJarClashingWithExistingFile/test.kt
  compiler/testData/integration/smoke/destinationJarNoPermission/test.compile.expected
  compiler/testData/integration/smoke/destinationJarNoPermission/test.kt
  compiler/tests/org/jetbrains/kotlin/integration/CompilerSmokeTest.java
Labels: Compiler

#4173 FIR IDE: add quickfix for NESTED_CLASS_NOT_ALLOWED
  idea/idea-fir/src/org/jetbrains/kotlin/idea/quickfix/MainKtQuickFixRegistrar.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/AddModifierFix.kt
  idea/testData/quickfix/modifiers/nestedAbstractClass.kt
  idea/testData/quickfix/modifiers/nestedAbstractClass.kt.after
  idea/testData/quickfix/modifiers/nestedClassNotAllowed.kt
  idea/testData/quickfix/modifiers/nestedClassNotAllowed.kt.after
Labels: IDEA FIR

#4177 [JVM IR] Make upper bounds check recursive for ieee Equals.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/testData/codegen/box/binaryOp/kt44402.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  core/descriptors/src/org/jetbrains/kotlin/types/TypeUtils.kt
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#4175 [IR] Move annotations from original to new constructor declarations.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/testData/codegen/box/annotations/javaAnnotationOnSecondaryConstructorOfLocalClass.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
Labels: Backend

#4145 CLI: Report a readable diagnostic on empty -J argument in CLI.
  compiler/cli/bin/kotlinc
  compiler/cli/bin/kotlinc.bat
  compiler/tests/org/jetbrains/kotlin/cli/LauncherScriptTest.kt
Labels: Compiler

#4193 FIR IDE: check generated primary constructor
  idea/idea-frontend-fir/idea-fir-low-level-api/src/org/jetbrains/kotlin/idea/fir/low/level/api/file/structure/FileStructureElement.kt
Labels: IDEA FIR

#4195 FIR IDE: Enable ChangeVariableMutabilityFix for MUST_BE_INITIALIZED
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  idea/idea-fir/src/org/jetbrains/kotlin/idea/quickfix/MainKtQuickFixRegistrar.kt
  idea/idea-fir/tests/org/jetbrains/kotlin/idea/quickfix/AbstractHighLevelQuickFixTest.kt
  idea/idea-fir/tests/org/jetbrains/kotlin/idea/quickfix/HighLevelQuickFixTestGenerated.java
  idea/testData/quickfix/variables/changeMutability/canBeVal/delegatedProperty2.kt
  idea/testData/quickfix/variables/changeMutability/canBeVal/delegatedProperty3.kt
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter.kt
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter.kt.after
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter2.kt
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter2.kt.after
  idea/testData/quickfix/variables/changeMutability/canBeVal/uninitializedWithGetter3.kt
Labels: IDEA FIR

#4191 JVM: fix inline cycle detection
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/InlineCodegen.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/PsiInlineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineCallGenerator.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrInlineCodegen.kt
  compiler/testData/diagnostics/testsWithJvmBackend/propertyInlineCycle.kt
  compiler/testData/diagnostics/testsWithJvmBackend/propertyInlineCycle.txt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/DiagnosticsTestWithJvmIrBackendGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/DiagnosticsTestWithOldJvmBackendGenerated.java
Labels: Backend

#4180 [JVM IR] Support break in do-while condition.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/controlStructures/breakContinueInExpressions/breakInLoopConditions.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#4190 [KAPT] Skip kapt tasks if no annotations processors are provided
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/internal/kapt/Kapt3KotlinGradleSubplugin.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/internal/kapt/KaptWithoutKotlincTask.kt
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/Kapt3Plugin.kt
Labels: KAPT

#4189 kotlinc: Add a test to for the situation where pathname of destination does not name a parent
  compiler/testData/integration/smoke/destinationDirNoPermission/test.notWindows.compile.expected
  compiler/testData/integration/smoke/destinationJarNoPermission/test.notWindows.compile.expected
  compiler/tests/org/jetbrains/kotlin/integration/CompilerSmokeTest.java
Labels: Compiler

#4201 [KAPT] KT-32202 JPMS support
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/kotlin/org/jetbrains/kotlin/gradle/Kapt3IT.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/build.gradle
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/gradle.properties
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/java/dagger_example/ApplicationComponent.java
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/java/dagger_example/ExampleModule.java
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/java/dagger_example/Main.java
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/java/dagger_example/OtherInjected.java
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/java/dagger_example/OtherInjectedImpl.java
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/java/module-info.java
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/kotlin/dagger_example/InjectedClass.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/kotlin/dagger_example/SomeOtherClass.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/kotlin/lab/test.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/jpms-module/src/main/kotlin/test/ModuleUser.kt
  plugins/kapt3/kapt3-base/src/org/jetbrains/kotlin/kapt3/base/KaptContext.kt
  plugins/kapt3/kapt3-base/src/org/jetbrains/kotlin/kapt3/base/annotationProcessing.kt
Labels: KAPT

#4211 JVM IR: Resolve fake overrides when calculating return types (KT-44867)
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/IrCallableMethod.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/MethodSignatureMapper.kt
  compiler/testData/codegen/box/inlineClasses/kt44867.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#4118 KT-33783 KDoc: Detail when a range is empty
  core/builtins/src/kotlin/Progressions.kt
  core/builtins/src/kotlin/Range.kt
  core/builtins/src/kotlin/Ranges.kt
  generators/builtins/progressions.kt
  generators/builtins/ranges.kt
  generators/builtins/unsignedTypes.kt
  libraries/stdlib/unsigned/src/kotlin/UIntRange.kt
  libraries/stdlib/unsigned/src/kotlin/ULongRange.kt
Labels: Standard Library

#4192 Reflection: provide sensible toString for getter/setter in reflection
  compiler/testData/codegen/box/reflection/methodsFromAny/propertyToString.kt
  core/reflection.jvm/src/kotlin/reflect/jvm/internal/KPropertyImpl.kt
Labels: Reflection

#4083 Kapt: Ensure flag names and default values are consistent
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/internal/kapt/Kapt3KotlinGradleSubplugin.kt
  plugins/kapt3/kapt3-base/src/org/jetbrains/kotlin/kapt3/base/KaptOptions.kt
Labels: KAPT

#4133 Provide quickfix for wrong `external` modifier on declarations
  compiler/frontend.java/src/org/jetbrains/kotlin/resolve/jvm/checkers/ExternalFunChecker.kt
  compiler/testData/diagnostics/testsWithStdLib/native/nonFunction.kt
  idea/idea-fir/tests/org/jetbrains/kotlin/idea/quickfix/HighLevelQuickFixTestGenerated.java
  idea/testData/quickfix/modifiers/removeExternalModifier.kt
  idea/testData/quickfix/modifiers/removeExternalModifier.kt.after
  idea/tests/org/jetbrains/kotlin/idea/quickfix/QuickFixTestGenerated.java
Labels: IDEA

#4237 KT-45676: fix backing field annotation resolve
  compiler/frontend/src/org/jetbrains/kotlin/resolve/BodyResolver.java
  compiler/testData/resolve/regressions/kt45676.resolve
  compiler/tests-gen/org/jetbrains/kotlin/resolve/ResolveTestGenerated.java
Labels: Compiler
