Repository JetBrains/kotlin, pull requests merged in 2021-02, with the labels that each got.

#4069 Specify type explicitly in KotlinCoreProjectEnvironment.createCoreFil…
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/compiler/KotlinCoreProjectEnvironment.kt
Labels: Compiler

#4049 [JVM_IR] Fix accessibility bridges for static protected fields.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/bytecodeListing/accessorsForProtectedStaticJavaFieldInOtherPackage.kt
  compiler/testData/codegen/bytecodeListing/accessorsForProtectedStaticJavaFieldInOtherPackage.txt
  compiler/testData/codegen/bytecodeListing/accessorsForProtectedStaticJavaFieldInOtherPackage_ir.txt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
Labels: Backend

#4033 kotlinc: Include kotlin-reflect to resulting jar when option -include-runtime is specified and option -no-reflect is not
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/compiler/CompileEnvironmentUtil.java
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/compiler/KotlinToJVMBytecodeCompiler.kt
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/jvmArguments.kt
  compiler/config.jvm/src/org/jetbrains/kotlin/config/JVMConfigurationKeys.java
  compiler/testData/integration/smoke/noReflect/noReflect.compile.expected
  compiler/testData/integration/smoke/noReflect/noReflect.kt
  compiler/testData/integration/smoke/noReflect/noReflect.run.expected
  compiler/testData/integration/smoke/reflect/reflect.compile.expected
  compiler/testData/integration/smoke/reflect/reflect.kt
  compiler/testData/integration/smoke/reflect/reflect.run.expected
  compiler/tests/org/jetbrains/kotlin/integration/CompilerSmokeTest.java
Labels: Compiler

#4079 KT-34838 replace anonymous classes with superclass in delegate properties
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/KaptAnonymousTypeTransformer.kt
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/ClassFileToSourceStubConverter.kt
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/util/typeUtils.kt
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/ClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/IrClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/testData/converter/anonymousDelegate.kt
  plugins/kapt3/kapt3-compiler/testData/converter/anonymousDelegate.txt
Labels: KAPT

#4087 [KAPT] KT-27123 Add newline after each java compiler log
  plugins/kapt3/kapt3-base/src/org/jetbrains/kotlin/kapt3/base/javac/KaptJavaLog.kt
Labels: KAPT

#4090 [KAPT] KT-35104 Keep annotations from kotlin.jvm. in stubs
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/ClassFileToSourceStubConverter.kt
  plugins/kapt3/kapt3-compiler/testData/converter/annotations2.txt
  plugins/kapt3/kapt3-compiler/testData/converter/annotationsWithTargets.txt
  plugins/kapt3/kapt3-compiler/testData/converter/fileFacadeJvmName.txt
  plugins/kapt3/kapt3-compiler/testData/converter/inlineClasses.txt
  plugins/kapt3/kapt3-compiler/testData/converter/jvmDefaultDisable.txt
  plugins/kapt3/kapt3-compiler/testData/converter/jvmDefaultEnable.txt
  plugins/kapt3/kapt3-compiler/testData/converter/jvmOverloads.txt
  plugins/kapt3/kapt3-compiler/testData/converter/jvmStatic.txt
  plugins/kapt3/kapt3-compiler/testData/converter/jvmStaticFieldInParent.txt
  plugins/kapt3/kapt3-compiler/testData/converter/kt18791.txt
  plugins/kapt3/kapt3-compiler/testData/converter/modifiers.txt
  plugins/kapt3/kapt3-compiler/testData/converter/nestedClasses2.txt
  plugins/kapt3/kapt3-compiler/testData/converter/nestedClassesNonRootPackage.txt
  plugins/kapt3/kapt3-compiler/testData/kotlinRunner/Overloads.it.txt
Labels: KAPT

#4088 [KAPT] KT-39060 Correct type for property with accessor
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/ClassFileToSourceStubConverter.kt
  plugins/kapt3/kapt3-compiler/testData/converter/nonExistentClass.kt
  plugins/kapt3/kapt3-compiler/testData/converter/nonExistentClass.txt
Labels: KAPT

#4089 [FIR IDE] Make KtSmartcastProvider report resolved smartcast type
  idea/idea-fir/src/org/jetbrains/kotlin/idea/fir/highlighter/visitors/ExpressionsSmartcastHighlightingVisitor.kt
  idea/idea-frontend-api/src/org/jetbrains/kotlin/idea/frontend/api/ImplicitReceiverSmartCast.kt
  idea/idea-frontend-api/src/org/jetbrains/kotlin/idea/frontend/api/KtAnalysisSession.kt
  idea/idea-frontend-api/src/org/jetbrains/kotlin/idea/frontend/api/components/KtSmartCastProvider.kt
  idea/idea-frontend-fir/src/org/jetbrains/kotlin/idea/frontend/api/fir/components/KtFirSmartcastProvider.kt
Labels: FIR, IDEA

#4094 [KAPT] KT-36743 Warn about usage of types from default package
  plugins/kapt3/kapt3-cli/test/org/jetbrains/kotlin/kapt/cli/test/KaptToolIntegrationTestGenerated.java
  plugins/kapt3/kapt3-cli/testData/integration/defaultPackage/RootClass.kt
  plugins/kapt3/kapt3-cli/testData/integration/defaultPackage/Usage.kt
  plugins/kapt3/kapt3-cli/testData/integration/defaultPackage/build.txt
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/ClassFileToSourceStubConverter.kt
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/ClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/IrClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/testData/converter/defaultPackage.kt
  plugins/kapt3/kapt3-compiler/testData/converter/defaultPackage.txt
  plugins/kapt3/kapt3-compiler/testData/converter/defaultPackageCorrectErrorTypes.kt
  plugins/kapt3/kapt3-compiler/testData/converter/defaultPackageCorrectErrorTypes.txt
Labels: KAPT

#4108 FIR IDE: move RemoveModifierFix to idea-frontend-independent
  idea/idea-analysis/src/org/jetbrains/kotlin/idea/inspections/KotlinUniversalQuickFix.kt
  idea/idea-frontend-independent/resources-en/messages/KotlinBundleIndependent.properties
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/inspections/KotlinUniversalQuickFix.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/KotlinCrossLanguageQuickFixAction.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/KotlinSingleIntentionActionFactory.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/RemoveModifierFix.kt
  idea/resources-en/messages/KotlinBundle.properties
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddModifierFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/AddReifiedToTypeParameterOfFunctionFix.kt
  idea/src/org/jetbrains/kotlin/idea/util/quickfixUtil.kt
  nj2k/nj2k-services/src/org/jetbrains/kotlin/nj2k/postProcessing/diagnosticBasedPostProcessing.kt
Labels: IDEA FIR

#4107 [KAPT] KT-37586 Fix field type correction for delegates
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/ClassFileToSourceStubConverter.kt
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/ClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/IrClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/testData/converter/delegateCorrectErrorTypes.kt
  plugins/kapt3/kapt3-compiler/testData/converter/delegateCorrectErrorTypes.txt
Labels: KAPT

#4111 [KAPT] KT-43804 take argument names from original descriptor
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/ClassFileToSourceStubConverter.kt
  plugins/kapt3/kapt3-compiler/src/org/jetbrains/kotlin/kapt3/stubs/parseParameters.kt
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/ClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/test/org/jetbrains/kotlin/kapt3/test/IrClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/testData/converter/dataClass.txt
  plugins/kapt3/kapt3-compiler/testData/converter/errorSuperclass.txt
  plugins/kapt3/kapt3-compiler/testData/converter/errorSuperclassCorrectErrorTypes.txt
  plugins/kapt3/kapt3-compiler/testData/converter/inlineClasses.txt
  plugins/kapt3/kapt3-compiler/testData/converter/suspendArgName.kt
  plugins/kapt3/kapt3-compiler/testData/converter/suspendArgName.txt
  plugins/kapt3/kapt3-compiler/testData/converter/suspendErrorTypes.txt
Labels: KAPT

#4114 [JVM_IR] Extend when to switch translation to deal with nested ors.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBytecodeTextTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/SwitchGenerator.kt
  compiler/testData/codegen/bytecodeText/when/switchOptimizationDuplicates.kt
  compiler/testData/codegen/bytecodeText/whenEnumOptimization/bigEnum.kt
  compiler/testData/codegen/bytecodeText/whenEnumOptimization/duplicatingItems.kt
  compiler/testData/codegen/bytecodeText/whenEnumOptimization/expression.kt
  compiler/testData/codegen/bytecodeText/whenEnumOptimization/manyWhensWithinClass.kt
  compiler/testData/codegen/bytecodeText/whenEnumOptimization/nullability.kt
  compiler/testData/codegen/bytecodeText/whenEnumOptimization/whenOr.kt
  compiler/testData/codegen/bytecodeText/whenEnumOptimization/withoutElse.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/duplicatingItems.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/expression.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/inlineStringConstInsideWhen.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/nullability.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/sameHashCode.kt
  compiler/testData/codegen/bytecodeText/whenStringOptimization/statement.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BytecodeTextTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBytecodeTextTestGenerated.java
Labels: Backend

#4084 JVM: rename this$0 when regenerating nested objects too
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/AnonymousObjectTransformer.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxInlineCodegenTestGenerated.java
  compiler/testData/codegen/boxInline/anonymousObject/twoCapturedReceivers/kt8668_nested.kt
  compiler/testData/codegen/boxInline/anonymousObject/twoCapturedReceivers/kt8668_nested_2.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/JvmIrAgainstOldBoxInlineTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/JvmOldAgainstIrBoxInlineTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenInlineES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenInlineTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenInlineTestGenerated.java
Labels: Backend

#4123 FIR IDE: Move AddFunctionBodyFix to fe-independent
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/AddFunctionBodyFix.kt
Labels: IDEA FIR

#4063 Added external serializers in serialization plugin for IR backend
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/SerializableCodegen.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/GeneratorHelpers.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializableIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/SerializerIrGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/jvm/SerializableCodegenImpl.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/resolve/SerializableProperties.kt
Labels: Tools

#4112 Support serialization of java enum classes in IR
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/ir/GeneratorHelpers.kt
Labels: Tools

#4129 Updated bytecode of serialization for IR
  plugins/kotlin-serialization/kotlin-serialization-compiler/testData/codegen/Basic.ir.txt
Labels: Tools

#4127 FIR IDE: Simplify registerPsiQuickFixes
  idea/idea-fir/src/org/jetbrains/kotlin/idea/fir/api/fixes/KtQuickFixesList.kt
  idea/idea-fir/src/org/jetbrains/kotlin/idea/quickfix/MainKtQuickFixRegistrar.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/RemoveModifierFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  nj2k/nj2k-services/src/org/jetbrains/kotlin/nj2k/postProcessing/J2kPostProcessor.kt
Labels: IDEA FIR

#4130 FIR: Add runConfig to generate FIR boilerplate
  .idea/runConfigurations/Generate_FIR_Checker_Components_and_FIR_IDE_Diagnostics.xml
Labels: IDEA FIR

#4131 FIR IDE: register quickfix related to abstract members
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  idea/idea-fir/src/org/jetbrains/kotlin/idea/quickfix/MainKtQuickFixRegistrar.kt
  idea/idea-fir/tests/org/jetbrains/kotlin/idea/quickfix/HighLevelQuickFixTestGenerated.java
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/AddFunctionBodyFix.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/AddModifierFix.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/RemoveModifierFix.kt
  idea/testData/quickfix/abstract/abstractFunctionInNonAbstractClass.kt
  idea/testData/quickfix/abstract/abstractFunctionInNonAbstractClass.kt.after
  idea/testData/quickfix/abstract/abstractPropertyInCompanionObject.kt
  idea/testData/quickfix/abstract/abstractPropertyInNonAbstractClass1.kt
  idea/testData/quickfix/abstract/abstractPropertyInNonAbstractClass1.kt.after
  idea/testData/quickfix/abstract/abstractPropertyInNonAbstractClass2.kt
  idea/testData/quickfix/abstract/abstractPropertyInNonAbstractClass2.kt.after
  idea/testData/quickfix/abstract/abstractPropertyInNonAbstractClass3.kt
  idea/testData/quickfix/abstract/abstractPropertyInNonAbstractClass3.kt.after
  idea/testData/quickfix/abstract/abstractPropertyWithGetter1.kt
  idea/testData/quickfix/abstract/abstractPropertyWithGetter1.kt.after
  idea/testData/quickfix/abstract/abstractPropertyWithInitializer1.kt
  idea/testData/quickfix/abstract/abstractPropertyWithInitializer1.kt.after
  idea/testData/quickfix/abstract/abstractPropertyWithSetter.kt
  idea/testData/quickfix/abstract/abstractPropertyWithSetter.kt.after
  idea/testData/quickfix/abstract/makeEnumEntryAbstract.kt
  idea/testData/quickfix/abstract/makeInlineClassAbstract.kt
  idea/testData/quickfix/abstract/makeObjectMemberAbstract.kt
  idea/testData/quickfix/abstract/makeTopLevelAbstract.kt
  idea/testData/quickfix/abstract/manyImpl.kt
  idea/testData/quickfix/abstract/mustBeInitializedOrBeAbstractInSealedClass.kt
  idea/testData/quickfix/abstract/mustBeInitializedOrBeAbstractInSealedClass.kt.after
  idea/testData/quickfix/abstract/nonAbstractFunctionWithNoBody.kt
  idea/testData/quickfix/abstract/nonAbstractFunctionWithNoBody.kt.after
  idea/testData/quickfix/abstract/replaceOpen.kt
  idea/testData/quickfix/abstract/replaceOpen.kt.after
  plugins/kapt3/kapt3-cli/test/org/jetbrains/kotlin/kapt/cli/test/KaptToolIntegrationTestGenerated.java
Labels: IDEA FIR

#4138 Add quickfixes for NON_FINAL_MEMBER_IN_FINAL_CLASS
  idea/idea-fir/src/org/jetbrains/kotlin/idea/quickfix/MainKtQuickFixRegistrar.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/AddModifierFix.kt
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/RemoveModifierFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/testData/quickfix/modifiers/openMemberInFinalClass1.kt
  idea/testData/quickfix/modifiers/openMemberInFinalClass1.kt.after
  idea/testData/quickfix/modifiers/openMemberInFinalClass2.kt
  idea/testData/quickfix/modifiers/openMemberInFinalClass2.kt.after
  idea/testData/quickfix/modifiers/openMemberInFinalClass3.kt
  idea/testData/quickfix/modifiers/openMemberInFinalClass3.kt.after
  idea/testData/quickfix/modifiers/openMemberInFinalClass4.kt
  idea/testData/quickfix/modifiers/openMemberInFinalClass4.kt.after
Labels: IDEA FIR

#4140 FIR IDE: fix redundant resolve [#KT-45121]
  idea/idea-frontend-fir/idea-fir-low-level-api/src/org/jetbrains/kotlin/idea/fir/low/level/api/lazy/resolve/FirLazyDeclarationResolver.kt
Labels: IDEA FIR
