Repository JetBrains/kotlin, pull requests merged in 2021-12, with the labels that each got.

#4581 kotlinx.atomicfu compiler plugin for JS_IR backend
  compiler/tests-common-new/tests/org/jetbrains/kotlin/test/frontend/classic/ClassicFrontendFacade.kt
  compiler/tests-common-new/tests/org/jetbrains/kotlin/test/services/configuration/JsEnvironmentConfigurator.kt
  generators/build.gradle.kts
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  gradle/verification-metadata.xml
  js/js.tests/test/org/jetbrains/kotlin/js/test/utils/JsIrIncrementalDataProvider.kt
  libraries/configureGradleTools.gradle
  libraries/tools/atomicfu/build.gradle
  libraries/tools/atomicfu/src/main/kotlin/org/jetbrains/kotlinx/atomicfu/gradle/AtomicfuKotlinGradleSubplugin.kt
  libraries/tools/atomicfu/src/main/resources/META-INF/gradle-plugins/kotlinx-atomicfu.properties
  libraries/tools/atomicfu/src/main/resources/META-INF/gradle-plugins/org.jetbrains.kotlin.plugin.atomicfu.properties
  libraries/tools/atomicfu/src/main/resources/META-INF/services/org.jetbrains.kotlin.gradle.plugin.KotlinGradleSubplugin
  plugins/atomicfu/atomicfu-compiler/build.gradle.kts
  plugins/atomicfu/atomicfu-compiler/resources/META-INF/services/org.jetbrains.kotlin.compiler.plugin.ComponentRegistrar
  plugins/atomicfu/atomicfu-compiler/src/org.jetbrains.kotlinx.atomicfu.compiler/extensions/AtomicfuComponentRegistrar.kt
  plugins/atomicfu/atomicfu-compiler/src/org.jetbrains.kotlinx.atomicfu.compiler/extensions/AtomicfuLoweringExtension.kt
  plugins/atomicfu/atomicfu-compiler/src/org.jetbrains.kotlinx.atomicfu.compiler/extensions/AtomicfuTransformer.kt
  plugins/atomicfu/atomicfu-compiler/src/org.jetbrains.kotlinx.atomicfu.compiler/extensions/TransformerUtil.kt
  plugins/atomicfu/atomicfu-compiler/test/org/jetbrains/kotlinx/atomicfu/AbstractAtomicfuJsIrTest.kt
  plugins/atomicfu/atomicfu-compiler/test/org/jetbrains/kotlinx/atomicfu/AtomicfuJsIrTestGenerated.java
  plugins/atomicfu/atomicfu-compiler/testData/box/ArithmeticTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/ArrayInlineFunctionTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/AtomicArrayTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/ExtensionsTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/IndexArrayElementGetterTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/InlineExtensionWithTypeParameterTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/LockFreeIntBitsTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/LockFreeLongCounterTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/LockFreeQueueTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/LockFreeStackTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/LockTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/LoopTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/MultiInitTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/ParameterizedInlineFunExtensionTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/PropertyDeclarationTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/ReentrantLockTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/ScopeTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/SimpleLockTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/SynchronizedObjectTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/TopLevelTest.kt
  plugins/atomicfu/atomicfu-compiler/testData/box/UncheckedCastTest.kt
  plugins/atomicfu/atomicfu-runtime/build.gradle.kts
  plugins/atomicfu/atomicfu-runtime/gradle.properties
  plugins/atomicfu/atomicfu-runtime/src/main/kotlin/atomicfu.kt
  settings.gradle
Labels: JS BE

#4656 [JVM_IR] Fix inline class default method codegen.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/testData/codegen/box/coroutines/kt49645.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  native/native.tests/tests-gen/org/jetbrains/kotlin/konan/blackboxtest/NativeExtBlackBoxTestGenerated.java
Labels: Backend

#4678 Allow running Chrome headless with '--no-sandbox' flag
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/testing/karma/KotlinKarma.kt
Labels: JS

#4677 jvm-abi-gen: Do not write kotlin.Metadata default values (KT-39492)
  plugins/jvm-abi-gen/src/org/jetbrains/kotlin/jvm/abi/JvmAbiMetadataProcessor.kt
Labels: Tools

#4673 [EE-IR] Minor: Refactor EvaluatorFragmentInfo
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/fragments/EvaluatorFragmentInfo.kt
Labels: Backend

#4669 JVM_IR: recover accidentally lost backingField (KT-49998)
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBytecodeTextTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/MemoizedInlineClassReplacements.kt
  compiler/testData/codegen/box/annotations/annotationDefaultValueOfUnsigned.kt
  compiler/testData/codegen/bytecodeText/annotationDefaultValueOfUnsigned.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBytecodeTextTestGenerated.java
Labels: Backend

#4665 JVM_IR: handle star projection arguments in smart casts (KT-48987)
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/FunctionReferenceLowering.kt
  compiler/testData/codegen/box/casts/kt48987.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#4354 stdlib: Simplify JS charArrayOf implementation
  libraries/stdlib/js-v1/src/kotlin/builtins.kt
Labels: Standard Library

#4688 [Native] Escape the module name in the C adapter.
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/CAdapterGenerator.kt
Labels: Native

#4695 [IR] Generalize fragment generation logic for wider use
  compiler/ir/backend.jvm/entrypoint/src/org/jetbrains/kotlin/backend/jvm/JvmIrCodegenFactory.kt
Labels: Backend
