Repository JetBrains/kotlin, pull requests merged in 2021-05, with the labels that each got.

#4351 [JVM] Extend boxing/unboxing optimizations to coroutine boxing.
  compiler/backend/src/org/jetbrains/kotlin/codegen/optimization/boxing/BoxingInterpreter.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBytecodeTextTestGenerated.java
  compiler/testData/codegen/bytecodeText/boxingOptimization/suspendBoxing.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BytecodeTextTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBytecodeTextTestGenerated.java
Labels: Backend

#4353 [JVM_IR] Deal with inline-class arguments in large arity lambdas.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FunctionNVarargBridgeLowering.kt
  compiler/testData/codegen/box/inlineClasses/kt45084.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#4342 [REPL] Add completion for the call named parameters
  plugins/scripting/scripting-ide-services-test/test/org/jetbrains/kotlin/scripting/ide_services/ReplCompletionAndErrorsAnalysisTest.kt
  plugins/scripting/scripting-ide-services/src/org/jetbrains/kotlin/scripting/ide_services/compiler/impl/KJvmReplCompleter.kt
Labels: Scripts

#4360 FIR/UAST: clarify what module we should not depend on
  plugins/uast-kotlin-fir/build.gradle.kts
  plugins/uast-kotlin/build.gradle.kts
Labels: IDEA FIR

#4344 FIR IDE: add quickfix AddWhenElseBranchFix
  generators/tests/org/jetbrains/kotlin/generators/tests/GenerateTests.kt
  idea/idea-fir/src/org/jetbrains/kotlin/idea/quickfix/MainKtQuickFixRegistrar.kt
  idea/idea-fir/tests/org/jetbrains/kotlin/idea/quickfix/HighLevelQuickFixTestGenerated.java
  idea/idea-frontend-independent/src/org/jetbrains/kotlin/idea/quickfix/AddWhenElseBranchFix.kt
  idea/src/org/jetbrains/kotlin/idea/quickfix/QuickFixRegistrar.kt
  idea/testData/quickfix/when/addElseBranchEnumStatement.kt
  idea/testData/quickfix/when/addElseBranchEnumStatement.kt.after
  idea/testData/quickfix/when/addRemainingBranchesBlankLine.kt
  idea/testData/quickfix/when/addRemainingBranchesBlankLine.kt.after
  idea/testData/quickfix/when/addRemainingBranchesBlankLineWithComment.kt
  idea/testData/quickfix/when/addRemainingBranchesBlankLineWithComment.kt.after
  idea/testData/quickfix/when/addRemainingBranchesBoolean.kt
  idea/testData/quickfix/when/addRemainingBranchesBoolean.kt.after
  idea/testData/quickfix/when/addRemainingBranchesEnum.kt
  idea/testData/quickfix/when/addRemainingBranchesEnum.kt.after
  idea/testData/quickfix/when/addRemainingBranchesEnumBackTicks.kt
  idea/testData/quickfix/when/addRemainingBranchesEnumBackTicks.kt.after
  idea/testData/quickfix/when/addRemainingBranchesEnumImport1.kt
  idea/testData/quickfix/when/addRemainingBranchesEnumImport1.kt.after
  idea/testData/quickfix/when/addRemainingBranchesEnumImport2.kt
  idea/testData/quickfix/when/addRemainingBranchesEnumImport2.kt.after
  idea/testData/quickfix/when/addRemainingBranchesEnumImport3.kt
  idea/testData/quickfix/when/addRemainingBranchesEnumImport3.kt.after
  idea/testData/quickfix/when/addRemainingBranchesEnumImport4.kt
  idea/testData/quickfix/when/addRemainingBranchesEnumImport4.kt.after
  idea/testData/quickfix/when/addRemainingBranchesEnumStatement.kt
  idea/testData/quickfix/when/addRemainingBranchesEnumStatement.kt.after
  idea/testData/quickfix/when/addRemainingBranchesInNonDefaultPackage.kt
  idea/testData/quickfix/when/addRemainingBranchesInNonDefaultPackage.kt.after
  idea/testData/quickfix/when/addRemainingBranchesSealed.kt
  idea/testData/quickfix/when/addRemainingBranchesSealed.kt.after
  idea/testData/quickfix/when/addRemainingBranchesSealedBackTicks.kt
  idea/testData/quickfix/when/addRemainingBranchesSealedBackTicks.kt.after
  idea/testData/quickfix/when/addRemainingBranchesSealedStatement.kt
  idea/testData/quickfix/when/addRemainingBranchesSealedStatement.kt.after
  idea/testData/quickfix/when/breakInWhen.kt
  idea/testData/quickfix/when/breakInWhen.kt.after
  idea/testData/quickfix/when/breakInWhenInLabeled.kt
  idea/testData/quickfix/when/breakInWhenInLabeled.kt.after
  idea/testData/quickfix/when/commasInConditionWithNoArguments.kt
  idea/testData/quickfix/when/commasInConditionWithNoArguments.kt.after
  idea/testData/quickfix/when/commasInConditionWithNoArguments2.kt
  idea/testData/quickfix/when/commasInConditionWithNoArguments2.kt.after
  idea/testData/quickfix/when/continueInWhen.kt
  idea/testData/quickfix/when/continueInWhen.kt.after
  idea/testData/quickfix/when/continueInWhenInLabeled.kt
  idea/testData/quickfix/when/continueInWhenInLabeled.kt.after
  idea/testData/quickfix/when/continueInWhenWithLabel.kt
  idea/testData/quickfix/when/continueInWhenWithLabel.kt.after
  idea/testData/quickfix/when/elseNotLastInWhen.kt
  idea/testData/quickfix/when/elseNotLastInWhen.kt.after
  idea/testData/quickfix/when/removeRedundantBranch.kt
  idea/testData/quickfix/when/removeRedundantBranch.kt.after
  idea/testData/quickfix/when/removeRedundantElse.kt
  idea/testData/quickfix/when/removeRedundantElse.kt.after
  idea/testData/quickfix/when/twoElseBranchesInWhen.kt
Labels: IDEA FIR

#4367 [JVM IR] Fix constant folding to use basic types always.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/optimizations/FoldConstantLowering.kt
  compiler/testData/codegen/box/fullJdk/kt46540.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
Labels: Backend

#4356 FIR/UAST: make a fat jar with the base module
  plugins/uast-kotlin-fir/build.gradle.kts
  plugins/uast-kotlin/build.gradle.kts
Labels: IDEA FIR

#4381 JVM IR: Handle overloaded values functions in MappedEnumWhenLowering (KT-46579)
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/MappedEnumWhenLowering.kt
  compiler/testData/codegen/box/enum/javaEnumValues.kt
  compiler/testData/codegen/box/enum/overloadedEnumValues.kt
  compiler/testData/codegen/box/enum/overloadedEnumValuesStatic.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#4386 IR: Lower shared variables in enum entries (KT-46605)
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/SharedVariablesLowering.kt
  compiler/testData/codegen/box/enum/kt46605.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#3359 KT-26752 Separate "try-catch-finally" situation from the generic "Unnecessary local variable" inspection
  idea/src/org/jetbrains/kotlin/idea/inspections/UnnecessaryVariableInspection.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse2.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse2.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse3.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse3.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse4.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse4.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse5.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/ifElse5.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/lambda.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/lambda.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/lambda2.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/lambda2.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/try.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/try.kt.after
  idea/testData/inspectionsLocal/unnecessaryVariable/when.kt
  idea/testData/inspectionsLocal/unnecessaryVariable/when.kt.after
  idea/tests/org/jetbrains/kotlin/idea/inspections/LocalInspectionTestGenerated.java
Labels: IDEA, Inspections

#4395 JVM IR: Do not unbox Results in suspend lambda invoke methods (KT-46813)
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/codegen/box/coroutines/kt46813.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
Labels: Backend

#4390 [JVM] Fix various undefined locals issues.
  build.gradle.kts
  compiler/backend/src/org/jetbrains/kotlin/codegen/coroutines/CoroutineTransformerMethodVisitor.kt
  compiler/testData/checkLocalVariablesTable/suspendFunctionDeadVariables.kt
  compiler/testData/codegen/bytecodeText/coroutines/debug/localVariableCorrectLabel.kt
  compiler/testData/debug/localVariables/suspend/completion/nonStaticStateMachine.kt
  compiler/testData/debug/localVariables/suspend/completion/staticStateMachine.kt
  compiler/testData/debug/localVariables/suspend/completion/staticStateMachineReceiver.kt
  compiler/testData/debug/localVariables/suspend/localsStateMachineTransform.kt
  compiler/testData/debug/localVariables/suspend/underscoreNames.kt
  gradle/verification-metadata.xml
Labels: Backend

#4407 JVM_IR: consistently use callable reference type to get the receiver type 2
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/InlineCallableReferenceToLambda.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/PropertyReferenceLowering.kt
  compiler/testData/codegen/box/callableReference/kt46902.kt
  compiler/testData/codegen/box/syntheticAccessors/protectedJavaFieldAccessor/kt46578_delegated.kt
  compiler/testData/codegen/box/syntheticAccessors/protectedJavaFieldAccessor/kt46578_propertyRef.kt
  compiler/testData/codegen/box/syntheticAccessors/protectedMemberReferenceAccessor/kt46597_crossinline_jvmField_property.kt
  compiler/testData/codegen/box/syntheticAccessors/protectedMemberReferenceAccessor/kt46597_crossinline_method.kt
  compiler/testData/codegen/box/syntheticAccessors/protectedMemberReferenceAccessor/kt46597_crossinline_property.kt
  compiler/testData/codegen/box/syntheticAccessors/protectedMemberReferenceAccessor/kt46597_java_field.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenBoxES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
Labels: Backend

#4408 JVM: be more careful when removing unused constants
  compiler/backend/src/org/jetbrains/kotlin/codegen/optimization/boxing/PopBackwardPropagationTransformer.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/testData/codegen/box/optimizations/kt46921.kt
  compiler/testData/codegen/bytecodeText/boxedNotNumberTypeOnUnboxing.kt
  compiler/testData/codegen/bytecodeText/boxingOptimization/casts.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
Labels: Backend

#4409 Fix bytecode for serializable enums in generated tests
  plugins/kotlin-serialization/kotlin-serialization-compiler/testData/diagnostics/SerializableEnums.txt
Labels: Tools
