Repository JetBrains/kotlin, pull requests merged in 2021-01, with the labels that each got.

#4003 [Test] Port checkVariableTable suspend lambda tests
  compiler/testData/checkLocalVariablesTable/completionInSuspendFunction/nonStaticSimple.kt
  compiler/testData/checkLocalVariablesTable/completionInSuspendFunction/nonStaticStateMachine.kt
  compiler/testData/checkLocalVariablesTable/completionInSuspendFunction/staticSimple.kt
  compiler/testData/checkLocalVariablesTable/completionInSuspendFunction/staticSimpleReceiver.kt
  compiler/testData/checkLocalVariablesTable/completionInSuspendFunction/staticStateMachine.kt
  compiler/testData/checkLocalVariablesTable/completionInSuspendFunction/staticStateMachineReceiver.kt
  compiler/testData/debug/localVariables/suspend/completion/nonStaticSimple.kt
  compiler/testData/debug/localVariables/suspend/completion/nonStaticStateMachine.kt
  compiler/testData/debug/localVariables/suspend/completion/staticSimple.kt
  compiler/testData/debug/localVariables/suspend/completion/staticSimpleReceiver.kt
  compiler/testData/debug/localVariables/suspend/completion/staticStateMachine.kt
  compiler/testData/debug/localVariables/suspend/completion/staticStateMachineReceiver.kt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/CheckLocalVariablesTableTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/debugInformation/IrLocalVariableTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/debugInformation/LocalVariableTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrCheckLocalVariablesTableTestGenerated.java
Labels: Backend

#4021 JVM IR: Mangle names of $$forInline functions
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/codegen/ir/FirBytecodeTextTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/CoroutineCodegen.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/AddContinuationLowering.kt
  compiler/testData/codegen/bytecodeText/coroutines/internalInlineSuspend.kt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeTextTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeTextTestGenerated.java
Labels: Backend

#4016 JVM IR: Fix visibility of protected/private functions with reified types
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/BridgeLowering.kt
  compiler/testData/codegen/bytecodeListing/inline/inlineReifiedPropertyVisibility.kt
  compiler/testData/codegen/bytecodeListing/inline/inlineReifiedPropertyVisibility.txt
  compiler/testData/codegen/bytecodeListing/inline/inlineReifiedVisibility.kt
  compiler/testData/codegen/bytecodeListing/inline/inlineReifiedVisibility.txt
  compiler/testData/codegen/bytecodeListing/inline/suspendInlineReified.kt
  compiler/testData/codegen/bytecodeListing/inline/suspendInlineReified.txt
  compiler/testData/codegen/bytecodeListing/inline/suspendInlineReified_ir.txt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
Labels: Backend

#4024 Misprint: "val or val" instead of "val or var"
  compiler/frontend/src/org/jetbrains/kotlin/resolve/TypeResolver.kt
Labels: Compiler

#4023 FIR2IR: check non-parameter Unit type for adapted callable references
  compiler/fir/fir2ir/src/org/jetbrains/kotlin/fir/backend/generators/AdapterGenerator.kt
  compiler/testData/codegen/box/coroutines/suspendFunctionMethodReference.kt
Labels: FIR

#4002 [IR+Tests] Improve Local Function Debugging Experience
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/testData/checkLocalVariablesTable/copyFunction.kt
  compiler/testData/checkLocalVariablesTable/destructuringInFor.kt
  compiler/testData/checkLocalVariablesTable/destructuringInlineLambda.kt
  compiler/testData/checkLocalVariablesTable/localFun.kt
  compiler/testData/codegen/bytecodeListing/localFunction.kt
  compiler/testData/codegen/bytecodeListing/localFunction.txt
  compiler/testData/codegen/bytecodeListing/localFunction_ir.txt
  compiler/testData/debug/localVariables/destructuringInFor.kt
  compiler/testData/debug/localVariables/emptyFun.kt
  compiler/testData/debug/localVariables/localFun.kt
  compiler/testData/debug/localVariables/localFunUnused.kt
  compiler/testData/debug/stepping/localFunctionWIthOnelineExpressionBody.kt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/CheckLocalVariablesTableTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/debugInformation/IrLocalVariableTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/debugInformation/IrSteppingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/debugInformation/LocalVariableTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/debugInformation/SteppingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrCheckLocalVariablesTableTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/IrKotlinEvaluateExpressionTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/IrKotlinSteppingTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/KotlinEvaluateExpressionTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/test/org/jetbrains/kotlin/idea/debugger/test/KotlinSteppingTestGenerated.java
  idea/jvm-debugger/jvm-debugger-test/testData/evaluation/singleBreakpoint/localFunctionCapturedLocalVariable.kt
  idea/jvm-debugger/jvm-debugger-test/testData/evaluation/singleBreakpoint/localFunctionCapturedLocalVariable.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/localFunction.ir.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/localFunction.kt
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/localFunction.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/localFunctionWithSingleLineExpressionBody.ir.out
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/localFunctionWithSingleLineExpressionBody.kt
  idea/jvm-debugger/jvm-debugger-test/testData/stepping/stepOver/localFunctionWithSingleLineExpressionBody.out
Labels: Backend

#4000 [JVM_IR] Make file classes with all private members package-private
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/FileClassLowering.kt
  compiler/testData/codegen/bytecodeListing/fileClassWithPrivateDeclarationsOnly_after.kt
  compiler/testData/codegen/bytecodeListing/fileClassWithPrivateDeclarationsOnly_after.txt
  compiler/testData/codegen/bytecodeListing/fileClassWithPrivateDeclarationsOnly_before.kt
  compiler/testData/codegen/bytecodeListing/fileClassWithPrivateDeclarationsOnly_before.txt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
  compiler/util/src/org/jetbrains/kotlin/config/LanguageVersionSettings.kt
Labels: Backend

#4005 KT-43818：NPM Dependencies already resolved and installed in Android Studio
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/npm/KotlinNpmResolutionManager.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/npm/tasks/KotlinPackageJsonTask.kt
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/targets/js/npm/tasks/RootPackageJsonTask.kt
Labels: Tools

#3991 KT-44020: Rename KAPT configuration used as task property
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/kotlin/org/jetbrains/kotlin/gradle/Kapt3AndroidIT.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/android-databinding-androidX/app/build.gradle
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/android-databinding-androidX/app/src/main/AndroidManifest.xml
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/android-databinding-androidX/app/src/main/java/com/example/databinding/MyBindingMethods.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/android-databinding-androidX/build.gradle
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/android-databinding-androidX/gradle.properties
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/resources/testProject/kapt2/android-databinding-androidX/settings.gradle
  libraries/tools/kotlin-gradle-plugin/src/main/kotlin/org/jetbrains/kotlin/gradle/internal/kapt/Kapt3KotlinGradleSubplugin.kt
Labels: KAPT

#4013 KT-41279: Resolve method calls with reified type parameters from classpath
  plugins/uast-kotlin/src/org/jetbrains/uast/kotlin/internal/kotlinInternalUastUtils.kt
  plugins/uast-kotlin/src/org/jetbrains/uast/kotlin/psi/UastDescriptorLightMethod.kt
  plugins/uast-kotlin/src/org/jetbrains/uast/kotlin/psi/UastDescriptorLightParameter.kt
  plugins/uast-kotlin/testData/ReifiedResolve.resolved.txt
Labels: UAST

#4001 Returned support for nullable types by not null serializers
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/TypeUtil.kt
Labels: Tools

#4045 JVM IR: Fix signature mapping for inline classes using new the mangling scheme
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/codegen/FirCompileKotlinAgainstKotlinTestGenerated.java
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/codegen/irCodegenUtils.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/inlineclasses/MemoizedInlineClassReplacements.kt
  compiler/testData/compileKotlinAgainstKotlin/inlineClassInlineFunctionCall.kt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/CompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstKotlinTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/JvmIrAgainstOldBoxTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/JvmOldAgainstIrBoxTestGenerated.java
Labels: Backend

#4040 [JVM_IR] Reduce the amount of `super` suffixes on accesibility bridges.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/bytecodeListing/accessorForTopLevelMembers.kt
  compiler/testData/codegen/bytecodeListing/accessorForTopLevelMembers.txt
  compiler/testData/codegen/bytecodeListing/accessorForTopLevelMembers_ir.txt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
  plugins/parcelize/parcelize-compiler/testData/codegen/customSimple.ir.txt
  plugins/parcelize/parcelize-compiler/testData/codegen/customSimpleWithNewArray.ir.txt
Labels: Backend

#4010 JVM: regenerate objects if they have been regenerated in parent contexts
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/MethodInliner.kt
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/TransformationInfo.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/codegen/ir/FirBlackBoxInlineCodegenTestGenerated.java
  compiler/testData/codegen/boxInline/anonymousObject/constructOriginalInRegenerated.kt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BlackBoxInlineCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/CompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBlackBoxInlineCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrCompileKotlinAgainstInlineKotlinTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/JvmIrAgainstOldBoxInlineTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/JvmOldAgainstIrBoxInlineTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/es6/semantics/IrJsCodegenInlineES6TestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/semantics/IrJsCodegenInlineTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/semantics/JsCodegenInlineTestGenerated.java
Labels: Backend

#4042 Upgrade Apache Ant dependency to 1.10.7
  build.gradle.kts
Labels: Tools

#3970 Avoid resolving deprecated configurations in tests
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/kotlin/org/jetbrains/kotlin/gradle/KotlinGradlePluginIT.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/kotlin/org/jetbrains/kotlin/gradle/NewMultiplatformIT.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/kotlin/org/jetbrains/kotlin/gradle/VariantAwareDependenciesIT.kt
  libraries/tools/kotlin-gradle-plugin-integration-tests/src/test/kotlin/org/jetbrains/kotlin/gradle/util/testResolveAllConfigurations.kt
Labels: Gradle Plugin

#4055 Returned support for generic serializers in @UseSerializers
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/AbstractSerialGenerator.kt
  plugins/kotlin-serialization/kotlin-serialization-compiler/src/org/jetbrains/kotlinx/serialization/compiler/backend/common/TypeUtil.kt
Labels: Tools

#4028 [Test] Ignore test helpers in debugging tests
  compiler/testData/debug/localVariables/suspend/completion/nonStaticStateMachine.kt
  compiler/testData/debug/localVariables/suspend/completion/staticStateMachine.kt
  compiler/testData/debug/localVariables/suspend/completion/staticStateMachineReceiver.kt
  compiler/testData/debug/localVariables/suspend/inlineLocalsStateMachineTransform.kt
  compiler/testData/debug/localVariables/suspend/localsStateMachineTransform.kt
  compiler/testData/debug/localVariables/suspend/underscoreNames.kt
  compiler/testData/debug/stepping/suspendFunWithSuspendLambdaParameter.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractDebugTest.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractLocalVariableTest.kt
  compiler/tests-common/tests/org/jetbrains/kotlin/codegen/debugInformation/AbstractSteppingTest.kt
Labels: Backend

#4058 [JVM_IR] Reduce the amount of `super` suffixes on accesibility bridges.
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/bytecodeListing/accessorForTopLevelMembers.kt
  compiler/testData/codegen/bytecodeListing/accessorForTopLevelMembers.txt
  compiler/testData/codegen/bytecodeListing/accessorForTopLevelMembers_ir.txt
  compiler/tests-gen/org/jetbrains/kotlin/codegen/BytecodeListingTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/ir/IrBytecodeListingTestGenerated.java
  plugins/parcelize/parcelize-compiler/testData/codegen/customSimple.ir.txt
  plugins/parcelize/parcelize-compiler/testData/codegen/customSimpleWithNewArray.ir.txt
Labels: Backend
