Repository JetBrains/kotlin, pull requests merged in 2022-07, with the labels that each got.

#4866 [KTIJ-21963] Move reflective access after default args lowerings
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/ReflectiveAccess.kt
Labels: Backend

#4899 KT-52647 make `state` in `KotlinRootNpmResolverStateHolder` public
  libraries/tools/kotlin-gradle-plugin/src/common/kotlin/org/jetbrains/kotlin/gradle/targets/js/npm/resolver/KotlinRootNpmResolverStateHolder.kt
Labels: JS

#4815 ObjCName annotation
  compiler/testData/diagnostics/nativeTests/objCName.kt
  compiler/testData/diagnostics/nativeTests/objCName.txt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/DiagnosticsNativeTestGenerated.java
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/KonanFqNames.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/objcexport/ObjCExportHeaderGenerator.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/objcexport/ObjCExportNamer.kt
  kotlin-native/backend.native/tests/objcexport/expectedLazy.h
  kotlin-native/backend.native/tests/objcexport/expectedLazyLegacySuspendUnit.h
  kotlin-native/backend.native/tests/objcexport/expectedLazyNoGenerics.h
  kotlin-native/backend.native/tests/objcexport/objCName.swift
  kotlin-native/backend.native/tests/objcexport/objCNameA.kt
  kotlin-native/backend.native/tests/objcexport/objCNameB.kt
  kotlin-native/runtime/src/main/kotlin/kotlin/native/Annotations.kt
  libraries/stdlib/api/js-v1/kotlin.experimental.kt
  libraries/stdlib/api/js/kotlin.experimental.kt
  libraries/stdlib/src/kotlin/annotations/NativeAnnotations.kt
  libraries/stdlib/src/kotlin/experimental/ExperimentalObjCName.kt
  libraries/tools/binary-compatibility-validator/reference-public-api/kotlin-stdlib-runtime-merged.txt
  native/frontend/src/org/jetbrains/kotlin/resolve/konan/diagnostics/DefaultErrorMessagesNative.kt
  native/frontend/src/org/jetbrains/kotlin/resolve/konan/diagnostics/ErrorsNative.kt
  native/frontend/src/org/jetbrains/kotlin/resolve/konan/diagnostics/NativeObjCNameChecker.kt
  native/frontend/src/org/jetbrains/kotlin/resolve/konan/platform/NativePlatformConfigurator.kt
Labels: Native

#4897 Native: add KDoc for entryPoint
  libraries/tools/kotlin-gradle-plugin/src/common/kotlin/org/jetbrains/kotlin/gradle/targets/native/NativeBinaries.kt
Labels: Gradle Plugin, Native
