Repository JetBrains/kotlin, pull requests merged in 2022-06, with the labels that each got.

#4834 JVM IR: Avoid boxing in generic floating point equality (KT-48635)
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/codegen/src/org/jetbrains/kotlin/backend/jvm/intrinsics/CompareTo.kt
  compiler/ir/backend.jvm/codegen/src/org/jetbrains/kotlin/backend/jvm/intrinsics/Equals.kt
  compiler/testData/codegen/box/dataClasses/equalityChecksPrimitiveUnboxed.kt
  compiler/testData/codegen/box/inlineClasses/equalityChecksPrimitiveUnboxed.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/testOld/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
  native/native.tests/tests-gen/org/jetbrains/kotlin/konan/blackboxtest/NativeCodegenBoxTestGenerated.java
Labels: Backend

#4845 [KT-52681] Remove unnecessary semicolon after Objective-C `@end`
  kotlin-native/Interop/StubGenerator/src/main/kotlin/org/jetbrains/kotlin/native/interop/gen/ObjCStubs.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/objcexport/StubRenderer.kt
  kotlin-native/backend.native/tests/interop/objc/kt48816/objclib.h
  kotlin-native/backend.native/tests/interop/objc/msg_send/messaging.h
  kotlin-native/backend.native/tests/interop/objc/msg_send/messaging.m
  kotlin-native/backend.native/tests/interop/objc/smoke.h
  kotlin-native/backend.native/tests/interop/objc/smoke.m
  kotlin-native/backend.native/tests/interop/objc/tests/KT37067_prefix.h
  kotlin-native/backend.native/tests/interop/objc/tests/KT37067_prefix.m
  kotlin-native/backend.native/tests/interop/objc/tests/KT38234_override.h
  kotlin-native/backend.native/tests/interop/objc/tests/KT38234_override.m
  kotlin-native/backend.native/tests/interop/objc/tests/allocNoRetain.h
  kotlin-native/backend.native/tests/interop/objc/tests/allocNoRetain.m
  kotlin-native/backend.native/tests/interop/objc/tests/blocks.h
  kotlin-native/backend.native/tests/interop/objc/tests/blocks.m
  kotlin-native/backend.native/tests/interop/objc/tests/callableReferences.h
  kotlin-native/backend.native/tests/interop/objc/tests/callableReferences.m
  kotlin-native/backend.native/tests/interop/objc/tests/clashingWithAny.h
  kotlin-native/backend.native/tests/interop/objc/tests/clashingWithAny.m
  kotlin-native/backend.native/tests/interop/objc/tests/constructorReturnsNull.h
  kotlin-native/backend.native/tests/interop/objc/tests/constructorReturnsNull.m
  kotlin-native/backend.native/tests/interop/objc/tests/customString.h
  kotlin-native/backend.native/tests/interop/objc/tests/customString.m
  kotlin-native/backend.native/tests/interop/objc/tests/exceptions.h
  kotlin-native/backend.native/tests/interop/objc/tests/exceptions.m
  kotlin-native/backend.native/tests/interop/objc/tests/initWithCustomSelector.h
  kotlin-native/backend.native/tests/interop/objc/tests/initWithCustomSelector.m
  kotlin-native/backend.native/tests/interop/objc/tests/kt38850.h
  kotlin-native/backend.native/tests/interop/objc/tests/kt38850.m
  kotlin-native/backend.native/tests/interop/objc/tests/kt41811.h
  kotlin-native/backend.native/tests/interop/objc/tests/kt41811.m
  kotlin-native/backend.native/tests/interop/objc/tests/kt42482.h
  kotlin-native/backend.native/tests/interop/objc/tests/kt42482.m
  kotlin-native/backend.native/tests/interop/objc/tests/kt49455.h
  kotlin-native/backend.native/tests/interop/objc/tests/kt49455.m
  kotlin-native/backend.native/tests/interop/objc/tests/mangling.h
  kotlin-native/backend.native/tests/interop/objc/tests/mangling.m
  kotlin-native/backend.native/tests/interop/objc/tests/multipleInheritanceClash.h
  kotlin-native/backend.native/tests/interop/objc/tests/multipleInheritanceClash.m
  kotlin-native/backend.native/tests/interop/objc/tests/objcWeakRefs.h
  kotlin-native/backend.native/tests/interop/objc/tests/objcWeakRefs.m
  kotlin-native/backend.native/tests/interop/objc/tests/overrideInit.h
  kotlin-native/backend.native/tests/interop/objc/tests/overrideInit.m
  kotlin-native/backend.native/tests/interop/objc/tests/tryRetainGC.h
  kotlin-native/backend.native/tests/interop/objc/tests/tryRetainGC.m
  kotlin-native/backend.native/tests/interop/objc/tests/varargs.h
  kotlin-native/backend.native/tests/interop/objc/tests/varargs.m
  kotlin-native/backend.native/tests/interop/objc/tests/workerAutoreleasePool.h
  kotlin-native/backend.native/tests/interop/objc/tests/workerAutoreleasePool.m
  kotlin-native/backend.native/tests/objcexport/expectedLazy.h
  kotlin-native/backend.native/tests/objcexport/expectedLazyLegacySuspendUnit.h
  kotlin-native/backend.native/tests/objcexport/expectedLazyNoGenerics.h
  kotlin-native/runtime/src/main/cpp/ObjCExportErrors.mm
  kotlin-native/runtime/src/main/cpp/ObjCExportPrivate.h
  kotlin-native/runtime/src/main/cpp/ObjCInterop.mm
  kotlin-native/runtime/src/objc/cpp/ObjCExportClasses.mm
  kotlin-native/runtime/src/objc/cpp/ObjCExportCollections.mm
  kotlin-native/runtime/src/objc/cpp/ObjCExportNumbers.mm
  kotlin-native/runtime/src/objc/cpp/ObjCInteropUtilsClasses.mm
Labels: Native

#4841 [IR] Have JVM codegen respect the GenerateClassFilter supplied to GenerationState
  compiler/ir/backend.jvm/codegen/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
Labels: Backend

#4849 JVM IR: Start fake variables for default lambdas after initialization
  compiler/backend/src/org/jetbrains/kotlin/codegen/inline/LambdaInfo.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/testData/codegen/box/defaultArguments/kt52702.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/testOld/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
  native/native.tests/tests-gen/org/jetbrains/kotlin/konan/blackboxtest/NativeCodegenBoxTestGenerated.java
Labels: Backend

#4790 KT-48232: Implement kotlin.math.cbrt() (cubic roots)
  kotlin-native/runtime/src/main/cpp/KotlinMath.cpp
  kotlin-native/runtime/src/main/kotlin/kotlin/math/math.kt
  libraries/stdlib/api/js-v1/kotlin.math.kt
  libraries/stdlib/api/js/kotlin.math.kt
  libraries/stdlib/common/src/kotlin/MathH.kt
  libraries/stdlib/js/src/kotlin/js/js.math.kt
  libraries/stdlib/js/src/kotlin/math.kt
  libraries/stdlib/jvm/src/kotlin/util/MathJVM.kt
  libraries/stdlib/test/numbers/MathTest.kt
  libraries/stdlib/wasm/src/kotlin/math/fdlibm/s_cbrt.kt
  libraries/stdlib/wasm/src/kotlin/math/math.kt
Labels: Standard Library

#4877 [K/N] fix minor typos and outdated documentation
  kotlin-native/HACKING.md
  kotlin-native/runtime/src/main/cpp/Memory.h
  kotlin-native/runtime/src/main/cpp/Utils.hpp
Labels: Native
