Repository JetBrains/kotlin, pull requests merged in 2022-11, with the labels that each got.

#1501 Added components.xml to automatically compile kotlin maven projects
  libraries/tools/kotlin-maven-plugin/pom.xml
  libraries/tools/kotlin-maven-plugin/src/main/resources/META-INF/plexus/components.xml
Labels: Maven Plugin

#5000 JVM_IR: Don't treat java constructor as 'hidden' one in syntheticAccessorLoweringPhase
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
  compiler/testData/codegen/box/inlineClasses/kt54656.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
Labels: Backend

#4896 Close parenthesis
  libraries/stdlib/jvm/src/kotlin/io/ReadWrite.kt
Labels: Standard Library

#5015 [JVM] Retain deprecated status for interface companion const property.
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/MoveCompanionObjectFieldsLowering.kt
  compiler/testData/codegen/bytecodeListing/deprecatedConstantPropertyInterfaceCompanion.kt
  compiler/testData/codegen/bytecodeListing/deprecatedConstantPropertyInterfaceCompanion.txt
  compiler/testData/codegen/bytecodeListing/deprecatedConstantPropertyInterfaceCompanion_ir.txt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BytecodeListingTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBytecodeListingTestGenerated.java
Labels: Backend

#5019 FIR: render entire declaration header in *_MISMATCH_ON_OVERRIDE
  compiler/fir/checkers/src/org/jetbrains/kotlin/fir/analysis/diagnostics/FirErrorsDefaultMessages.kt
Labels: FIR

#5014 [KAPT+JVM_IR] Do not generate initializers for delegated properties.
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/DelegatedPropertyGenerator.kt
  plugins/kapt3/kapt3-compiler/testData/converter/anonymousDelegate.kt
  plugins/kapt3/kapt3-compiler/testData/converter/anonymousDelegate_ir.txt
  plugins/kapt3/kapt3-compiler/testData/converter/delegatedProperties.kt
  plugins/kapt3/kapt3-compiler/testData/converter/delegatedProperties.txt
  plugins/kapt3/kapt3-compiler/testData/converter/delegatedProperties_ir.txt
  plugins/kapt3/kapt3-compiler/testData/converter/incorrectDelegate.kt
  plugins/kapt3/kapt3-compiler/testData/converter/incorrectDelegate_ir.txt
  plugins/kapt3/kapt3-compiler/tests-gen/org/jetbrains/kotlin/kapt3/test/runners/ClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/tests-gen/org/jetbrains/kotlin/kapt3/test/runners/IrClassFileToSourceStubConverterTestGenerated.java
Labels: Backend

#4840 Performance improvement of KFunction.callBy
  core/reflection.jvm/src/kotlin/reflect/jvm/internal/KCallableImpl.kt
Labels: Reflection
