Repository JetBrains/kotlin, pull requests merged in 2022-09, with the labels that each got.

#4934 Fix typo exists -> exist
  libraries/tools/kotlin-gradle-plugin/src/common/kotlin/org/jetbrains/kotlin/gradle/tasks/DefaultKotlinJavaToolchain.kt
Labels: Gradle Plugin

#4936 [K/N] Prohibit empty ObjCNames
  compiler/fir/checkers/checkers-component-generator/src/org/jetbrains/kotlin/fir/checkers/generator/diagnostics/FirNativeDiagnosticsList.kt
  compiler/fir/checkers/checkers.native/gen/org/jetbrains/kotlin/fir/analysis/diagnostics/native/FirNativeErrors.kt
  compiler/fir/checkers/checkers.native/src/org/jetbrains/kotlin/fir/analysis/diagnostics/native/FirNativeErrorsDefaultMessages.kt
  compiler/fir/checkers/checkers.native/src/org/jetbrains/kotlin/fir/analysis/native/checkers/FirNativeObjCNameChecker.kt
  compiler/testData/diagnostics/nativeTests/objCName.fir.kt
  compiler/testData/diagnostics/nativeTests/objCName.kt
  compiler/testData/diagnostics/nativeTests/objCName.txt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/objcexport/ObjCExportNamer.kt
  native/frontend/src/org/jetbrains/kotlin/resolve/konan/diagnostics/DefaultErrorMessagesNative.kt
  native/frontend/src/org/jetbrains/kotlin/resolve/konan/diagnostics/ErrorsNative.kt
  native/frontend/src/org/jetbrains/kotlin/resolve/konan/diagnostics/NativeObjCNameChecker.kt
Labels: Native

#4929 Remove incorrect override in TypeVariableImpl
  libraries/stdlib/jvm/src/kotlin/reflect/TypesJVM.kt
Labels: Standard Library

#4921 Add suspend lambda annotations to invokeSuspend.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/SuspendLambdaLowering.kt
  compiler/testData/codegen/box/annotations/annotatedLambda/lambda.kt
  compiler/testData/codegen/box/annotations/annotatedLambda/suspendLambda.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
Labels: Backend

#4955 JVM_IR: unwrap suspend views when generating SAM wrappers
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/SingleAbstractMethodLowering.kt
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/JvmSingleAbstractMethodLowering.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/ir/JvmIrCoroutineUtils.kt
  compiler/testData/codegen/box/coroutines/featureIntersection/funInterface/kt50950.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/JsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/test/ir/IrJsCodegenBoxTestGenerated.java
  js/js.tests/tests-gen/org/jetbrains/kotlin/js/testOld/wasm/semantics/IrCodegenBoxWasmTestGenerated.java
  native/native.tests/tests-gen/org/jetbrains/kotlin/konan/blackboxtest/NativeCodegenBoxTestGenerated.java
Labels: Backend

#4966 docs: mod/rem: clarify who is dividend and divisor
  core/builtins/native/kotlin/Primitives.kt
  generators/builtins/primitives.kt
  generators/builtins/unsignedTypes.kt
  libraries/stdlib/src/kotlin/util/FloorDivMod.kt
  libraries/stdlib/unsigned/src/kotlin/UByte.kt
  libraries/stdlib/unsigned/src/kotlin/UInt.kt
  libraries/stdlib/unsigned/src/kotlin/ULong.kt
  libraries/stdlib/unsigned/src/kotlin/UShort.kt
Labels: Standard Library
