Repository JetBrains/kotlin, pull requests merged in 2022-01, with the labels that each got.

#4687 NEW_MM: mention the new release of the coroutines
  kotlin-native/NEW_MM.md
Labels: Native

#4697 IR/Android: initialize the findViewById cache before `super()`
  plugins/android-extensions/android-extensions-compiler/src/org/jetbrains/kotlin/android/synthetic/codegen/AndroidIrExtension.kt
  plugins/android-extensions/android-extensions-compiler/testData/codegen/android/singleFile/0.kt
Labels: Android

#4726 [JVM CLI] Prefer source over classpath.
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/compiler/KotlinCliJavaFileManagerImpl.kt
  compiler/tests/org/jetbrains/kotlin/cli/JavaSourceClassInClassPathTest.kt
Labels: Compiler
