Repository JetBrains/kotlin, pull requests merged in 2022-10, with the labels that each got.

#4984 Rename C.kt containing cyrillic characters
  jps/jps-plugin/testData/incremental/pureKotlin/sealedClassesAddImplements/C.kt
Labels: Tools

#4979 [KT-54284][Native] Produce deterministic klibs from cinterop.
  kotlin-native/Interop/Indexer/src/main/kotlin/org/jetbrains/kotlin/native/interop/indexer/NativeIndex.kt
  kotlin-native/Interop/StubGenerator/src/main/kotlin/org/jetbrains/kotlin/native/interop/gen/jvm/main.kt
  kotlin-native/shared/src/main/kotlin/org/jetbrains/kotlin/konan/exec/ExecuteCommand.kt
Labels: Native

#4994 JVM: consider casts of null to be redundant
  compiler/backend/src/org/jetbrains/kotlin/codegen/optimization/RedundantCheckCastElimination.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBlackBoxCodegenTestGenerated.java
  compiler/testData/codegen/box/casts/kt53146.kt
  compiler/testData/codegen/box/casts/kt54581.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/BlackBoxCodegenTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBlackBoxCodegenTestGenerated.java
  compiler/tests-gen/org/jetbrains/kotlin/codegen/LightAnalysisModeTestGenerated.java
Labels: Backend
