Repository JetBrains/kotlin, pull requests merged in 2022-04, with the labels that each got.

#4782 [JVM IR] Limit local variables in do-while conditions.
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirLocalVariableTestGenerated.java
  compiler/ir/backend.jvm/codegen/src/org/jetbrains/kotlin/backend/jvm/codegen/ExpressionCodegen.kt
  compiler/testData/checkLocalVariablesTable/underscoreNames.kt
  compiler/testData/debug/localVariables/doWhile.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrLocalVariableTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/LocalVariableTestGenerated.java
Labels: Backend

#4737 Optionals
  libraries/stdlib/jdk8/java9/module-info.java
  libraries/stdlib/jdk8/src/kotlin/jvm/optionals/Optionals.kt
  libraries/stdlib/jdk8/test/jvm/optionals/OptionalsTest.kt
  libraries/stdlib/src/Module.md
  libraries/tools/binary-compatibility-validator/reference-public-api/kotlin-stdlib-jdk8.txt
Labels: Standard Library

#4779 Fix KT-51804
  compiler/testData/codegen/box/reflection/callBy/inlineClassDefaultArguments.kt
  core/reflection.jvm/src/kotlin/reflect/jvm/internal/calls/InlineClassAwareCaller.kt
Labels: Reflection

#4792 [EE-IR] Add "different classloader" check to synthetic accessor lowering
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/ReflectiveAccess.kt
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/SyntheticAccessorLowering.kt
Labels: Backend

#4797 Fix utf8
  kotlin-native/licenses/third_party/harmony_LICENSE.txt
Labels: Native

#4773 [EE-IR] Support Local Functions
  compiler/backend/src/org/jetbrains/kotlin/codegen/state/GenerationState.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirLocalVariableTestGenerated.java
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirSteppingTestGenerated.java
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/LocalDeclarationsLowering.kt
  compiler/ir/backend.jvm/entrypoint/src/org/jetbrains/kotlin/backend/jvm/JvmIrCodegenFactory.kt
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/JvmLower.kt
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/FragmentLocalFunctionPatchLowering.kt
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/ReflectiveAccess.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/JvmBackendContext.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/GeneratorContext.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/fragments/FragmentCompilerSymbolTableDecorator.kt
  compiler/ir/ir.psi2ir/src/org/jetbrains/kotlin/psi2ir/generators/fragments/FragmentModuleGenerator.kt
  compiler/testData/debug/localVariables/constructors/multipleConstructors.kt
  compiler/testData/debug/localVariables/constructors/property.kt
  compiler/testData/debug/stepping/kt15259.kt
  compiler/testData/debug/stepping/kt29179.kt
  compiler/testData/debug/stepping/nullcheck.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrLocalVariableTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrSteppingTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/LocalVariableTestGenerated.java
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/SteppingTestGenerated.java
Labels: Backend

#4801 [FE1.0] Fix CFG for inline function calls in finally blocks.
  analysis/low-level-api-fir/tests/org/jetbrains/kotlin/analysis/low/level/api/fir/diagnostic/compiler/based/DiagnosisCompilerTestFE10TestdataTestGenerated.java
  compiler/fir/analysis-tests/tests-gen/org/jetbrains/kotlin/test/runners/FirOldFrontendDiagnosticsTestGenerated.java
  compiler/fir/analysis-tests/tests-gen/org/jetbrains/kotlin/test/runners/FirOldFrontendDiagnosticsWithLightTreeTestGenerated.java
  compiler/frontend/cfg/src/org/jetbrains/kotlin/cfg/pseudocode/instructions/special/InlinedLocalFunctionDeclarationInstruction.kt
  compiler/testData/diagnostics/tests/controlFlowAnalysis/kt52131.kt
  compiler/testData/diagnostics/tests/controlFlowAnalysis/kt52131.txt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/DiagnosticTestGenerated.java
Labels: Compiler
