Repository JetBrains/kotlin, pull requests merged in 2022-05, with the labels that each got.

#4804 [EE-IR] Minor: run local function patching on all fragment code
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/FragmentLocalFunctionPatchLowering.kt
Labels: Backend

#4813 Always take java source before class files.
  compiler/cli/src/org/jetbrains/kotlin/cli/jvm/compiler/KotlinCliJavaFileManagerImpl.kt
  compiler/tests/org/jetbrains/kotlin/cli/JavaSourceInnerClassInClassPathTest.kt
Labels: Compiler

#4814 [EE-IR] Anticipate fake overrides in fragment lowerings
  compiler/ir/backend.jvm/lower/src/org/jetbrains/kotlin/backend/jvm/lower/FragmentLocalFunctionPatchLowering.kt
Labels: Backend

#4827 KT-51297: Allow suspend from any thread from ObjC
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/BinaryOptions.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/KonanConfig.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/ObjCExportSuspendFunctionLaunchThreadRestriction.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/llvm/IrToBitcode.kt
  kotlin-native/backend.native/tests/build.gradle
  kotlin-native/backend.native/tests/objcexport/coroutines.swift
  kotlin-native/runtime/src/main/cpp/CompilerConstants.cpp
  kotlin-native/runtime/src/main/cpp/CompilerConstants.hpp
  kotlin-native/runtime/src/main/cpp/ObjCExportCoroutines.mm
Labels: Native
