Repository JetBrains/kotlin, pull requests merged in 2023-01, with the labels that each got.

#4958 KAPT: Fix an ISE when processing unresolved generic types
  core/descriptors/src/org/jetbrains/kotlin/types/TypeSubstitution.kt
  core/descriptors/src/org/jetbrains/kotlin/types/error/ErrorType.kt
  plugins/kapt3/kapt3-compiler/testData/converter/kt43786.kt
  plugins/kapt3/kapt3-compiler/testData/converter/kt43786.txt
  plugins/kapt3/kapt3-compiler/tests-gen/org/jetbrains/kotlin/kapt3/test/runners/ClassFileToSourceStubConverterTestGenerated.java
  plugins/kapt3/kapt3-compiler/tests-gen/org/jetbrains/kotlin/kapt3/test/runners/IrClassFileToSourceStubConverterTestGenerated.java
Labels: KAPT

#5070 Add flag that disables ObjC method name mangling for methods in different Kotlin Interfaces
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/BinaryOptions.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/KonanCompilerFrontendServices.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/objcexport/ObjCExport.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/objcexport/ObjCExportLazy.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/objcexport/ObjCExportNamer.kt
  kotlin-native/backend.native/tests/build.gradle
  kotlin-native/backend.native/tests/objcexport/expectedLazy.h
  kotlin-native/backend.native/tests/objcexport/expectedLazyLegacySuspendUnit.h
  kotlin-native/backend.native/tests/objcexport/expectedLazyNoGenerics.h
  kotlin-native/backend.native/tests/objcexport/interfaceMethodNameMangling.kt
  kotlin-native/backend.native/tests/objcexport/interfaceMethodNameMangling.swift
  kotlin-native/backend.native/tests/objcexport/swiftNameMangling.swift
  kotlin-native/backend.native/tests/objcexport/values.swift
Labels: Native

#5081 [JVM_IR] Limit inner class attributes to types in class file
  compiler/backend.common.jvm/src/org/jetbrains/kotlin/types/AbstractTypeMapper.kt
  compiler/fir/fir2ir/tests-gen/org/jetbrains/kotlin/test/runners/codegen/FirBytecodeTextTestGenerated.java
  compiler/ir/backend.jvm/codegen/src/org/jetbrains/kotlin/backend/jvm/codegen/ClassCodegen.kt
  compiler/ir/backend.jvm/codegen/src/org/jetbrains/kotlin/backend/jvm/codegen/JvmSignatureClashDetector.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/mapping/IrTypeMapper.kt
  compiler/ir/backend.jvm/src/org/jetbrains/kotlin/backend/jvm/mapping/MethodSignatureMapper.kt
  compiler/testData/codegen/bytecodeText/innerClasses/kt56104.kt
  compiler/tests-common-new/tests-gen/org/jetbrains/kotlin/test/runners/codegen/IrBytecodeTextTestGenerated.java
Labels: Backend

#5050 Add debug information for inline function parameters
  compiler/ir/backend.common/src/org/jetbrains/kotlin/backend/common/lower/inline/FunctionInlining.kt
  compiler/ir/ir.tree/src/org/jetbrains/kotlin/ir/declarations/IrDeclarationOrigin.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/driver/phases/Lowerings.kt
  kotlin-native/backend.native/compiler/ir/backend.native/src/org/jetbrains/kotlin/backend/konan/llvm/IrToBitcode.kt
  kotlin-native/backend.native/tests/debugger/src/test/kotlin/org/jetbrains/kotlin/native/test/debugger/LldbTests.kt
Labels: Native
